{% if item.data.forename %}
  {% set nationalities = item.data.nationality1 %}
  {% if item.data.nationality2 %}
    {% set nationalities = item.data.nationality1 + ", " + item.data.nationality2 | capitalize %}
  {% endif %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.name
        },
        value: {
          text: item.data.forename + " " + item.data.surname
        }
      },
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.formerNames
        },
        value: {
          text: item.data.former_names
        }
      } if item.data.former_names,
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.dateOfBirth
        },
        value: {
          text: item.data.date_of_birth
        }
        },
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.nationality
        },
        value: {
          text: nationalities
        }
      },
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.usualResidentialAddress
        },
        value: {
          text: macros.formatAddress(item.data.usual_residential_address, true)
        }
      },
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.person.correspondenceAddress
        },
        value: {
          text: macros.formatAddress(item.data.service_address, true)
        }
      },
      {
        key: {
          text: i18n.checkYourAnswersPage.partners.generalPartners.dateEffectiveFrom
        },
        value: {
          text: item.data.date_effective_from
        }
      } if journeyTypes.isPostTransition 
    ]
  }) }}
{% elif item.data.legal_entity_name %}
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.name
          },
          value: {
            text: item.data.legal_entity_name
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.legalForm
          },
          value: {
            text: item.data.legal_form
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.governingLaw
          },
          value: {
            text: item.data.governing_law
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.register
          },
          value: {
            text: item.data.legal_entity_register_name
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.countryRegisteredIn
          },
          value: {
            text: item.data.legal_entity_registration_location
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.registrationNumber
          },
          value: {
            text: item.data.registered_company_number
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.legalEntity.principalOfficeAddress
          },
          value: {
            text: macros.formatAddress(item.data.principal_office_address, true)
          }
        },
        {
          key: {
            text: i18n.checkYourAnswersPage.partners.generalPartners.dateEffectiveFrom
          },
          value: {
            text: item.data.date_effective_from
          }
        } if journeyTypes.isPostTransition 
      ]
    }) }}
 {% endif %}