{% set entityType = props.data[partnerKind].data %}

{{ govukWarningText({
  text: i18n.partner.addOrUpdatePartnerLegalEntityPage.legalPersonalityWarning
}) }}

{{ govukInput({
  label: {
    text: i18n.partner.addOrUpdatePartnerLegalEntityPage.legalEntityName,
    classes: "govuk-label govuk-label--m",
    isPageHeading: true
  },
  id: "legal_entity_name",
  name: "legal_entity_name",
  value: entityType.legal_entity_name,
  errorMessage: props.errors.legal_entity_name if props.errors
}) }}

{{ govukInput({
  label: {
    text: i18n.partner.addOrUpdatePartnerLegalEntityPage.legalFormOrCorporateIdentity,
    classes: "govuk-label govuk-label--m"
  },
  hint: {
    text: i18n.partner.addOrUpdatePartnerLegalEntityPage.legalFormOrCorporateIdentityHint
  },
  id: "legal_form",
  name: "legal_form",
  value: entityType.legal_form,
  errorMessage: props.errors.legal_form if props.errors
}) }}

{{ govukInput({
  label: {
    text: i18n.partner.addOrUpdatePartnerLegalEntityPage.governingLaw,
    classes: "govuk-label govuk-label--m"
  },
  hint: {
    text: i18n.partner.addOrUpdatePartnerLegalEntityPage.governingLawHint
  },
  id: "governing_law",
  name: "governing_law",
  value: entityType.governing_law,
  errorMessage: props.errors.governing_law if props.errors
}) }}

{% set countryText = i18n.partner.addOrUpdatePartnerLegalEntityPage.countryRegistered %}
{% set countryFormId = "legal_entity_registration_location" %}
{% set countryErrorMessage = props.errors.legal_entity_registration_location if props.errors %}
{% set countryFormValue = entityType.legal_entity_registration_location %}
{% set labelFormatting = "govuk-label govuk-label--m" %}

{{ macros.getSpecifiedCountryList(i18n, "overseas", countryFormId, countryText, countryFormValue, countryErrorMessage, labelFormatting) }}

{% set countryListRequired = false %}
{% set entityTranslation = i18n.partner.addOrUpdatePartnerLegalEntityPage %}

{% set enteredOnRegisterHtml %}
  {% include "includes/enteredOnRegisterHtml.njk" %}
{% endset %}

{{ govukRadios({
  classes: "govuk-radios",
  name: "entered_on_register",
  fieldset: {
    legend: {
      text: i18n.partner.addOrUpdatePartnerLegalEntityPage.enteredOnRegister,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "true",
      text: i18n.yesAndNo.yes,
      checked: entityType.entered_on_register === "true" or entityType.entered_on_register === true,
      conditional: { 
        html: enteredOnRegisterHtml
      }
    },
    {
      value: "false",
      text: i18n.yesAndNo.no,
      checked: entityType.entered_on_register === "false" or entityType.entered_on_register === false
    }
  ],
  errorMessage: props.errors.entered_on_register if props.errors.entered_on_register
}) }}