<div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/errors.njk" %}

            {% include "includes/proposed-name.njk" %}

            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-5">{{ partnersAdded.title }}</h2>

            {% if list.length  %}

                {% set rows = [] %}

                {% for item in list %}

                    {% if item.data.forename %}
                        {% set rows = rows.concat({
                                key: {
                                    text: partnersAdded.person,
                                    classes: "govuk-form-group govuk-form-group--error" if props.errors[(item.data.forename | lower + " " + item.data.surname | lower)]
                                },
                                value: {
                                    text: item.data.forename + " " + item.data.surname
                                },
                                actions: {
                                    items: [
                                        CREATE_CHANGE_LINK(
                                            partnersAdded.changeLink,
                                            props.currentUrl | replace(props.pageType, kind + "/" + item.id + "/add-" + kind + "-person")
                                        ),
                                        CREATE_CHANGE_LINK(
                                            partnersAdded.removeLink,
                                            props.currentUrl | replace(props.pageType, kind + "/" + item.id + "/remove-" + kind + "")
                                        )
                                    ]
                                }
                            })
                        %}
                    {% elif item.data.legal_entity_name %}
                        {{ props.errors[item.data.legal_entity_name] }}
                        {% set rows = rows.concat({
                                key: {
                                    text: partnersAdded.legalEntity,
                                    classes: "govuk-form-group govuk-form-group--error" if props.errors[(item.data.legal_entity_name | lower)]
                                },
                                value: {
                                    text: item.data.legal_entity_name
                                },
                                actions: {
                                    items: [
                                        CREATE_CHANGE_LINK(
                                            partnersAdded.changeLink,
                                            props.currentUrl | replace(props.pageType, kind + "/" + item.id + "/add-" + kind + "-legal-entity")
                                        ),
                                        CREATE_CHANGE_LINK(
                                            partnersAdded.removeLink,
                                            props.currentUrl | replace(props.pageType, kind + "/" + item.id + "/remove-" + kind + "")
                                        )
                                    ]
                                }
                            })
                        %}
                    {% endif %}

                {% endfor %}

                {{ govukSummaryList({
                    classes: "govuk-!-margin-bottom-0",
                    rows: rows
                }) }}
            
            {% else %}

                <p>{{ partnersAdded.emptyList }}</p>

            {% endif %}

        </div>
    </div>

    </br>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action={{ props.currentUrl }} method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}>
                
                {% include "includes/csrf_token.njk" %}
        
                {{ govukRadios({
                    name: parameter,
                    fieldset: {
                        legend: {
                            text: addPartner.title,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    items: [
                        {
                            value: "addPerson",
                            text: addPartner.optionPerson,
                            attributes: {
                                required: true
                            }
                        },
                        {
                            value: "addLegalEntity",
                            text: addPartner.optionLegalEntity,
                            attributes: {
                                required: true
                            }
                        },
                        {
                            value: "no",
                            text: i18n.yesAndNo.no,
                            attributes: {
                                required: true
                            }
                        }
                    ]
                }) }}

                {% include "includes/save-and-continue-button.njk" %}

            </form>
        </div>
    </div>
</div>