{% include "pages/address/enter-address-fields.njk" %}
{% import 'includes/countries.njk' as macros %}

{{ govukInput({
  errorMessage: props.errors.postal_code if props.errors,
  label: {
    text: i18n.address.enterAddress.postcode
  },
  classes: "govuk-input--width-10",
  id: "postal_code",
  name: "postal_code",
  value: address.postal_code,
  attributes : {
  required : true
  }
}) }}

{% set countryFormId = "country" %}
{% set countryText = i18n.address.enterAddress.country %}
{% set countryFormValue = address.country %}
{% set countryField = address.country %}
{% set countryErrorMessage = props.errors.country if props.error %}

{{ macros.getSpecifiedCountryList(i18n, "unitedKingdom", countryFormId, countryText, countryFormValue, countryErrorMessage) }}