{% import 'includes/macros.njk' as macros %}

{% include "includes/validators.njk" %}

<div>
    {{ govukInput({
        errorMessage: props.errors.premises if props.errors,
        label: {
            text: i18n.address.enterAddress.premises,
            classes: "govuk-!-margin-top-5"
        },
        hint: {
            text: i18n.address.enterAddress.premisesHint
        },
        id: "premises",
        name: "premises",
        value: address.premises,
        attributes : {  
            required : true
        }
    }) }}

    {{ govukInput({
        errorMessage: props.errors.address_line_1 if props.errors,
        label: {
            text: i18n.address.enterAddress.addressLine1
        },
        id: "address_line_1",
        name: "address_line_1",
        value: address.address_line_1,
        attributes : {
            required : true
        }
    }) }}

    {{ govukInput({
        errorMessage: props.errors.address_line_2 if props.errors,
        label: {
            text: i18n.address.enterAddress.addressLine2
        },
        id: "address_line_2",
        name: "address_line_2",
        value: address.address_line_2
    }) }}

    {{ govukInput({
        errorMessage: props.errors.locality if props.errors,
        label: {
            text: i18n.address.enterAddress.locality
        },
        classes: "govuk-!-width-two-thirds",
        id: "locality",
        name: "locality",
        value: address.locality,
        attributes : {
            required : true
        }
    }) }}

    {{ govukInput({
        errorMessage: props.errors.region if props.errors,
        label: {
            text: i18n.address.enterAddress.region
        },
        classes: "govuk-!-width-two-thirds",
        id: "region",
        name: "region",
        value: address.region
    }) }}
</div>


