{% import 'includes/macros.njk' as macros %}

<form class="form" action={{ props.currentUrl }} method="post">
    <input type="hidden" name="pageType" value={{ props.pageType }}>      
    {% include "includes/csrf_token.njk" %}

    <div class="govuk-!-margin-top-8">
        {{ govukInput({
            label: {
                text: i18n.address.findPostcode.nameOrNumber
            },
            id: "premises",
            name: "premises",
            value: props.data.premises
        }) }}

        {{ govukInput({
            errorMessage: props.errors.postal_code if props.errors,
            label: {
                text: i18n.address.findPostcode.postcode
            },
            id: "postal_code",
            name: "postal_code",
            classes: "govuk-input--width-10",
            value: props.data.postal_code,
            attributes: {
                required: true,
                pattern: "^[A-Za-z]{1,2}\\d[A-Za-z\\d]? ?\\d[A-Za-z]{2}$"
            }
        }) }}
       
        {{ govukButton({
            text: i18n.address.findPostcode.findAddress,
            attributes: {
                "id": "submit",
                "data-event-id": "find-address"
            }
        }) }}

        <p>
            <a href="{{ props.currentUrl | replace(props.pageType, props.data.enterManualAddressPageType) }}" class="govuk-body-m govuk-link" data-event-id="enter-address-manually">{{ i18n.address.findPostcode.enterAddressManually }}</a>
        <p>

    </div>
</form>