{% set nameEndingOptionsList = 
  [
    {
      value: "Limited Partnership",
      text: "Limited Partnership",
      id: "name_ending",
      name: "name_ending",
      attributes : {
        required : true
      }
    },
    {
      value: "LP",
      text: "LP",
      id: "name_ending-2",
      name: "name_ending",
      attributes : {
        required : true
      }
    },
    {
      value: "L.P.",
      text: "L.P.",
      id: "name_ending-3",
      name: "name_ending",
      attributes : {
        required : true
      }
    }
  ]
%}

{% set hint = i18n.namePage.nameEndingHint %}

{% if partnershipType == "LP" or partnershipType == "PFLP" %}
  {% set nameEndingOptionsList = (nameEndingOptionsList.push(
    {
      value: "Partneriaeth Cyfyngedig",
      text: "Partneriaeth Cyfyngedig",
      id: "name_ending-4",
      name: "name_ending",
      attributes : {
        required : true
      }
    },
    {
      value: "PC",
      text: "PC",
      id: "name_ending-5",
      name: "name_ending",
      attributes : {
        required : true
      }
    },
    {
      value: "P.C.",
      text: "P.C.",
      id: "name_ending-6",
      name: "name_ending",
      attributes : {
        required : true
      }
    }
  ), nameEndingOptionsList) %}

  {% set hint = i18n.namePage.nameEndingWelshHint %}
{% endif %}

{{ govukRadios({
  errorMessage: props.errors.name_ending if props.errors,
  classes: "govuk-radios",
  idPrefix: "name_ending",
  name: "name_ending",
  value: props.data.limitedPartnership.data.name_ending,
  fieldset: {
    legend: {
      text: nameEnding,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: hint
  },
  items: nameEndingOptionsList
}) }}
