{{ govukRadios({
  errorMessage: errors.name_ending if errors,
  classes: "govuk-radios",
  idPrefix: "name_ending",
  name: "name_ending",
  fieldset: {
    legend: {
      isPageHeading: false,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: i18n.namePage.nameEndingHint
  },
  items: [
    {
      value: "Limited Partnership",
      text: "Limited Partnership",
      id: "nameEnding-1",
      name: "name_ending",
      attributes: {
        required: true
      }
    },
    {
      value: "LP",
      text: "LP",
      id: "nameEnding-2",
      name: "name_ending",
      attributes: {
        required: true
      }
    },
    {
      value: "L.P.",
      text: "L.P.",
      id: "nameEnding-3",
      name: "name_ending",
      attributes: {
        required: true
      }
    }
  ]
}) }}
