{% set nameEndingOptionsList = 
  [
    {
      value: "Limited Partnership",
      text: "Limited Partnership",
      id: "nameEnding-1",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-limitedPartnership"
      }
    },
    {
      value: "LP",
      text: "LP",
      id: "nameEnding-2",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-lp"
      }
    },
    {
      value: "L.P.",
      text: "L.P.",
      id: "nameEnding-3",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-lDotP"
      }
    }
  ]
%}

{% set hint = i18n.namePage.nameEndingHint %}

{% if partnershipType == "LP" or partnershipType == "PFLP" %}
  {% set nameEndingOptionsList = (nameEndingOptionsList.push(
    {
      value: "Partneriaeth Cyfyngedig",
      text: "Partneriaeth Cyfyngedig",
      id: "nameEnding-1",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-partneriaethCyfyngedig"
      }
    },
    {
      value: "PC",
      text: "PC",
      id: "nameEnding-2",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-pc"
      }
    },
    {
      value: "P.C.",
      text: "P.C.",
      id: "nameEnding-3",
      name: "name_ending",
      attributes: {
        required: true,
        "data-event-id": "namePage-name-ending-pDotC"
      }
    }
  ), nameEndingOptionsList) %}

  {% set hint = i18n.namePage.nameEndingWelshHint %}
{% endif %}

{{ govukRadios({
  errorMessage: errors.name_ending if errors,
  classes: "govuk-radios",
  idPrefix: "name_ending",
  name: "name_ending",
  value: props.data.limitedPartnership.data.name_ending,
  fieldset: {
    legend: {
      isPageHeading: false,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: hint
  },
  items: nameEndingOptionsList
}) }}
