<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action={{ props.currentUrl }} method="post">

      <input type="hidden" name="pageType" value={{ props.pageType }}>

      {% include "includes/csrf_token.njk" %}

      <h1 class="govuk-heading-xl">{{ i18n.scottishNamePage.title }}</h1>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="partnership_name">
            {{ i18n.scottishNamePage.whatIsName }}
          </label>
        </h1>

        {{ govukInput({
          classes: "govuk-input--width-40",
          errorMessage: errors.props.errors.partnership_name if errors,
          id: "partnership_name",
          name: "partnership_name",
          value: props.data.limitedPartnership.partnership_name,
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: i18n.scottishNamePage.whatIsNameHint
          },
          attributes : {
            required : true,
            "aria-describedby": "partnership_name-hint",
            minLength: "1"
          },
          suffix: {
              text: "Limited Partnership"
            }
          }) }}
      </div>   

      {{ govukInsetText({
                  value: "Partneriaeth Cyfyngedig",
        html: '<p>' + i18n.scottishNamePage.existingPartnershipHint + '</p><p>' + i18n.scottishNamePage.sensitiveWordHint + '</p><p>' + i18n.scottishNamePage.existingTrademarkHint + '</p>'
      }) }}

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nameEnding-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
          {{ i18n.scottishNamePage.nameEnding }}
          </h1>
        </legend>

       

    {{ govukRadios({
      errorMessage: errors.name_ending if errors,
      classes: "govuk-radios",
      idPrefix: "name_ending",
      name: "name_ending",
      fieldset: {
        legend: {
        isPageHeading: false,
        classes: "govuk-fieldset__legend--xl"
      }
      },
        hint: {
          text: i18n.scottishNamePage.nameEndingHint
        },
        items: [
          {
            value: "Limited Partnership",
            text: "Limited Partnership",
            id: "nameEnding-1",
            name: "name_ending",
            attributes: {
              required: true
            }
          },
          {
            value: "LP",
            text: "LP",
            id: "nameEnding-2",
            name: "name_ending",
            attributes: {
              required: true
            }
          },
          {
            value: "L.P.",
            text: "L.P.",
            id: "nameEnding-3",
            name: "name_ending",
            attributes: {
              required: true
          }
          }]
        }) }}
      </fieldset>
    </div>
    {% include "includes/save-and-continue-button.njk" %}
    </form>
  </div>
</div>