{{ govukBackLink({
  text: "Back",
  attributes: {
    "data-event-id": "back-link"
  },
  href: props.previousUrl
}) }}

{# <script>
  const backLink = document.querySelector('.govuk-back-link');

  backLink.addEventListener('click', function(event) {
    event.preventDefault();
    window.history.back();
  });
</script> #}