{% if (partnershipType == "LP") or (partnershipType == "SLP") %}
    
  <h2 class="govuk-heading-m">{{ i18n.capitalContribution.title}}</h2>

  <p class="govuk-hint">{{ i18n.capitalContribution.hint }}</p>
 
  {% set contributionCurrencyTypeId = "contribution_currency_type" %}
  {% set currencyField = props.data.limitedPartner.data.contribution_currency_type %}
  {% include "includes/currencies.njk" %}

  {% set contribution_sub_types = [] %}
  {% if props.data.limitedPartner.data.contribution_sub_types %}
    {% set contribution_sub_types = props.data.limitedPartner.data.contribution_sub_types %}
  {% endif %}

  {% set hintHtml -%}
    <p class="govuk-body">{{ i18n.capitalContribution.amountHint }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">{{ i18n.capitalContribution.amountMinHint }}</li>
      <li class="govuk-body">{{ i18n.capitalContribution.amountMaxHint }}</li>       
    </ul>
  {%- endset %}

  {{ govukInput({ 
    hint: {
      html: hintHtml
    },  
    classes: "govuk-input--width-4",
    id: "contribution_currency_value",
    name: "contribution_currency_value",
    value: props.data.limitedPartner.data.contribution_currency_value,
    errorMessage: props.errors.contribution_currency_value if props.errors.contribution_currency_value,
    attributes: {
      required: true
    }
  }) }}

  {{ govukCheckboxes({
    errorMessage: props.errors.contribution_sub_types if props.errors.contribution_sub_types,
    idPrefix: "contribution_sub_types",
    name: "contribution_sub_types",            
    fieldset: {
      legend: {
        text: i18n.capitalContribution.compositionTitle,
        isPageHeading: false,
        classes: "govuk-label govuk-label--m"
      }
    },
    hint: {
      text: i18n.capitalContribution.compositionHint
    },   
    items: [
      {        
        value: "MONEY",            
        text: i18n.capitalContribution.money,
        checked: true if "MONEY" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_money"
        } 
      },
      {        
        value: "LAND_OR_PROPERTY",           
        text: i18n.capitalContribution.landOrProperty,
        checked: true if "LAND_OR_PROPERTY" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_landOrProperty"
        } 
      },
      {        
        value: "SHARES",          
        text: i18n.capitalContribution.shares,
        checked: true if "SHARES" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_shares"
        } 
      },
      {        
        value: "SERVICES_OR_GOODS",        
        text: i18n.capitalContribution.servicesOrGoods,
        checked: true if "SERVICES_OR_GOODS" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_servicesOrGoods"
        } 
      },
      {
        value: "ANY_OTHER_ASSET",        
        text: i18n.capitalContribution.anyOtherAsset,
        checked: true if "ANY_OTHER_ASSET" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_anyOtherAsset"
        } 
      }
    ]
  }) }}
{% endif %}