{% set partnershipType = props.data.limitedPartnership.data.partnership_type %}

{% if (partnershipType == "LP") or (partnershipType == "SLP") %}
  {{ govukInput({
    label: {
      text: i18n.capitalContribution.title,
      classes: "govuk-label govuk-label--m",
      isPageHeading: false
    },
    hint: {
      text: i18n.capitalContribution.hint
    },
    classes: "govuk-input--width-4",
    id: "contribution_currency_value",
    name: "contribution_currency_value",
    value: props.data.limitedPartner.data.contribution_currency_value,
    errorMessage: props.amount if props.errors,
    attributes: {
      required: true
    }
  }) }}

  {% include "includes/currencies.njk" %}

  {{ govukCheckboxes({
    errorMessage: i18n.capitalContribution.compositionErrorMessage if props.errors,
    idPrefix: "contribution_sub_types",
    name: "contribution_sub_types",            
    fieldset: {
      legend: {
        text: i18n.capitalContribution.compositionTitle,
        isPageHeading: false,
        classes: "govuk-label govuk-label--m"
      }
    },
    hint: {
      text: i18n.capitalContribution.compositionHint
    },   
    items: [
      {        
        value: "MONEY",            
        text: i18n.capitalContribution.money,
        checked: true if contribution_sub_types.MONEY else false,
        attributes: {
          "data-event-id": "capital_contribution_money"
        } 
      },
      {        
        value: "LAND_OR_PROPERTY",           
        text: i18n.capitalContribution.landOrProperty,
        checked: true if contribution_sub_types.LAND_OR_PROPERTY else false,
        attributes: {
          "data-event-id": "capital_contribution_landOrProperty"
        } 
      },
      {        
        value: "SHARES",          
        text: i18n.capitalContribution.shares,
        checked: true if contribution_sub_types.SHARES else false,
        attributes: {
          "data-event-id": "capital_contribution_shares"
        } 
      },
      {        
        value: "SERVICES_OR_GOODS",        
        text: i18n.capitalContribution.servicesOrGoods,
        checked: true if contribution_sub_types.SERVICES_OR_GOODS else false,
        attributes: {
          "data-event-id": "capital_contribution_servicesOrGoods"
        } 
      }
    ]
  }) }}
{% endif %}