{% if (partnershipType == "LP") or (partnershipType == "SLP") %}

  <input type="hidden" name="partnershipType" value="{{ partnershipType }}">

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <h2 class="govuk-heading-m">{{ i18n.partner.capitalContribution.title}}</h2>

  <p class="govuk-hint">{{ i18n.partner.capitalContribution.hint }}</p>

  {% set contribution_currency_type = "" %}
  {% if props.data.limitedPartner.data.contribution_currency_type %}
    {% set contribution_currency_type = props.data.limitedPartner.data.contribution_currency_type %}
  {% endif %}

  {% set contribution_currency_value = "" %}
  {% if props.data.limitedPartner.data.contribution_currency_value %}
    {% set contribution_currency_value = props.data.limitedPartner.data.contribution_currency_value %}
  {% endif %}

  {% set contribution_sub_types = [] %}
  {% if props.data.limitedPartner.data.contribution_sub_types %}
    {% set contribution_sub_types = props.data.limitedPartner.data.contribution_sub_types %}
  {% endif %}

  {% set currencyField = contribution_currency_type %}
  {% set currencyList = SET_CURRENCIES_DROPDOWN(i18n, currencyField) %}
  {% set currencySelected = (currencyList | selectattr("selected") | first).text or contribution_currency_type %}

  <div>
    {{ govukInput({
      id: "contribution_currency_type",
      name: "contribution_currency_type",
      type: "text",
      classes: "govuk-input--width-20",
      describedBy: "currency-hint",
      label: {
        text: i18n.partner.capitalContribution.currencyTypeLabel,
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: i18n.partner.capitalContribution.currencyTypeHint
      },
      attributes: {
        placeholder: currencyList[0].text,
        list: "currenciess"
      },
      value: currencySelected,
      errorMessage: props.errors.contribution_currency_type if props.errors.contribution_currency_type
    }) }}

    <datalist id="currenciess">
      {% for currency in currencyList %}
        <option value="{{ currency.text }}" label="{{ currency.code }}"></option>
      {% endfor %}
    </datalist>
  </div>

  {{ govukInput({
    label: {
      text: i18n.partner.capitalContribution.valueLabel,
      classes: "govuk-label--m",
      isPageHeading: false
     },
    hint: {
      text: i18n.partner.capitalContribution.amountHint
    },
    classes: "govuk-input--width-10",
    id: "contribution_currency_value",
    name: "contribution_currency_value",
    value: contribution_currency_value,
    errorMessage: props.errors.contribution_currency_value if props.errors.contribution_currency_value
  }) }}

  {{ govukCheckboxes({
    errorMessage: props.errors.contribution_sub_types if props.errors.contribution_sub_types,
    idPrefix: "contribution_sub_types",
    name: "contribution_sub_types",            
    fieldset: {
      legend: {
        text: i18n.partner.capitalContribution.compositionTitle,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: i18n.partner.capitalContribution.compositionHint
    },   
    items: [
      {        
        value: "MONEY",            
        text: i18n.partner.capitalContribution.money,
        checked: true if "MONEY" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_money"
        } 
      },
      {        
        value: "LAND_OR_PROPERTY",           
        text: i18n.partner.capitalContribution.landOrProperty,
        checked: true if "LAND_OR_PROPERTY" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_landOrProperty"
        } 
      },
      {        
        value: "SHARES",          
        text: i18n.partner.capitalContribution.shares,
        checked: true if "SHARES" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_shares"
        } 
      },
      {        
        value: "SERVICES_OR_GOODS",        
        text: i18n.partner.capitalContribution.servicesOrGoods,
        checked: true if "SERVICES_OR_GOODS" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_servicesOrGoods"
        } 
      },
      {
        value: "ANY_OTHER_ASSET",
        text: i18n.partner.capitalContribution.anyOtherAsset,
        checked: true if "ANY_OTHER_ASSET" in contribution_sub_types else false,
        attributes: {
          "data-event-id": "capital_contribution_anyOtherAsset"
        }
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

{% endif %}