{% if props.data.subtype === "registered-office-address-change-check-your-answers" %}
  {% set message = i18n.confirmationPage.postTransition.registeredOfficeAddress %}
{% endif %}
<p class="govuk-body">{{ message }} {{ partnerName }} {{ partnerType }} {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number }}).</p>