{% set COUNTRIES = [
  { value: '', text: i18n.countries.selectOne },
  { value: 'Afghanistan', text: i18n.countries.afghanistan, selected: countryField === 'Afghanistan' },
  { value: 'Aland Islands', text: i18n.countries.alandIslands, selected: countryField === 'Aland Islands' },
  { value: 'Albania', text: i18n.countries.albania, selected: countryField === 'Albania' },
  { value: 'Algeria', text: i18n.countries.algeria, selected: countryField === 'Algeria' },
  { value: 'Alderney', text: i18n.countries.alderney, selected: countryField === 'Alderney' },
  { value: 'American Samoa', text: i18n.countries.americanSamoa, selected: countryField === 'American Samoa' },
  { value: 'Andorra', text: i18n.countries.andorra, selected: countryField === 'Andorra' },
  { value: 'Angola', text: i18n.countries.angola, selected: countryField === 'Angola' },
  { value: 'Anguilla', text: i18n.countries.anguilla, selected: countryField === 'Anguilla' },
  { value: 'Antarctica', text: i18n.countries.antarctica, selected: countryField === 'Antarctica' },
  { value: 'Antigua and Barbuda', text: i18n.countries.antiguaAndBarbuda, selected: countryField === 'Antigua and Barbuda' },
  { value: 'Argentina', text: i18n.countries.argentina, selected: countryField === 'Argentina' },
  { value: 'Armenia', text: i18n.countries.armenia, selected: countryField === 'Armenia' },
  { value: 'Aruba', text: i18n.countries.aruba, selected: countryField === 'Aruba' },
  { value: 'Australia', text: i18n.countries.australia, selected: countryField === 'Australia' },
  { value: 'Austria', text: i18n.countries.austria, selected: countryField === 'Austria' },
  { value: 'Azerbaijan', text: i18n.countries.azerbaijan, selected: countryField === 'Azerbaijan' },
  { value: 'Bahamas', text: i18n.countries.bahamas, selected: countryField === 'Bahamas' },
  { value: 'Bahrain', text: i18n.countries.bahrain, selected: countryField === 'Bahrain' },
  { value: 'Bangladesh', text: i18n.countries.bangladesh, selected: countryField === 'Bangladesh' },
  { value: 'Barbados', text: i18n.countries.barbados, selected: countryField === 'Barbados' },
  { value: 'Belarus', text: i18n.countries.belarus, selected: countryField === 'Belarus' },
  { value: 'Belgium', text: i18n.countries.belgium, selected: countryField === 'Belgium' },
  { value: 'Belize', text: i18n.countries.belize, selected: countryField === 'Belize' },
  { value: 'Benin', text: i18n.countries.benin, selected: countryField === 'Benin' },
  { value: 'Bermuda', text: i18n.countries.bermuda, selected: countryField === 'Bermuda' },
  { value: 'Bhutan', text: i18n.countries.bhutan, selected: countryField === 'Bhutan' },
  { value: 'Bolivia', text: i18n.countries.bolivia, selected: countryField === 'Bolivia' },
  { value: 'Bonaire, Sint Eustatius and Saba', text: i18n.countries.bonaireSintEustatiusAndSaba, selected: countryField === 'Bonaire, Sint Eustatius and Saba' },
  { value: 'Bosnia and Herzegovina', text: i18n.countries.bosniaAndHerzegovina, selected: countryField === 'Bosnia and Herzegovina' },
  { value: 'Botswana', text: i18n.countries.botswana, selected: countryField === 'Botswana' },
  { value: 'Bouvet Island', text: i18n.countries.bouvetIsland, selected: countryField === 'Bouvet Island' },
  { value: 'Brazil', text: i18n.countries.brazil, selected: countryField === 'Brazil' },
  { value: 'British Indian Ocean Territory', text: i18n.countries.britishIndianOceanTerritory, selected: countryField === 'British Indian Ocean Territory' },
  { value: 'Brunei Darussalam', text: i18n.countries.bruneiDarussalam, selected: countryField === 'Brunei Darussalam' },
  { value: 'Bulgaria', text: i18n.countries.bulgaria, selected: countryField === 'Bulgaria' },
  { value: 'Burkina Faso', text: i18n.countries.burkinaFaso, selected: countryField === 'Burkina Faso' },
  { value: 'Burundi', text: i18n.countries.burundi, selected: countryField === 'Burundi' },
  { value: 'Cambodia', text: i18n.countries.cambodia, selected: countryField === 'Cambodia' },
  { value: 'Cameroon', text: i18n.countries.cameroon, selected: countryField === 'Cameroon' },
  { value: 'Canada', text: i18n.countries.canada, selected: countryField === 'Canada' },
  { value: 'Cape Verde', text: i18n.countries.capeVerde, selected: countryField === 'Cape Verde' },
  { value: 'Cayman Islands', text: i18n.countries.caymanIslands, selected: countryField === 'Cayman Islands' },
  { value: 'Central African Republic', text: i18n.countries.centralAfricanRepublic, selected: countryField === 'Central African Republic' },
  { value: 'Chad', text: i18n.countries.chad, selected: countryField === 'Chad' },
  { value: 'Chile', text: i18n.countries.chile, selected: countryField === 'Chile' },
  { value: 'China', text: i18n.countries.china, selected: countryField === 'China' },
  { value: 'Christmas Island', text: i18n.countries.christmasIsland, selected: countryField === 'Christmas Island' },
  { value: 'Cocos (Keeling) Islands', text: i18n.countries.cocosKeelingIslands, selected: countryField === 'Cocos (Keeling) Islands' },
  { value: 'Colombia', text: i18n.countries.colombia, selected: countryField === 'Colombia' },
  { value: 'Comoros', text: i18n.countries.comoros, selected: countryField === 'Comoros' },
  { value: 'Congo', text: i18n.countries.congo, selected: countryField === 'Congo' },
  { value: 'Congo, the Democratic Republic of the', text: i18n.countries.congoTheDemocraticRepublicOfThe, selected: countryField === 'Congo, the Democratic Republic of the' },
  { value: 'Cook Islands', text: i18n.countries.cookIslands, selected: countryField === 'Cook Islands' },
  { value: 'Costa Rica', text: i18n.countries.costaRica, selected: countryField === 'Costa Rica' },
  { value: 'Croatia', text: i18n.countries.croatia, selected: countryField === 'Croatia' },
  { value: 'Cuba', text: i18n.countries.cuba, selected: countryField === 'Cuba' },
  { value: 'Curacao', text: i18n.countries.curacao, selected: countryField === 'Curacao' },
  { value: 'Cyprus', text: i18n.countries.cyprus, selected: countryField === 'Cyprus' },
  { value: 'Czech Republic', text: i18n.countries.czechRepublic, selected: countryField === 'Czech Republic' },
  { value: 'Denmark', text: i18n.countries.denmark, selected: countryField === 'Denmark' },
  { value: 'Djibouti', text: i18n.countries.djibouti, selected: countryField === 'Djibouti' },
  { value: 'Dominica', text: i18n.countries.dominica, selected: countryField === 'Dominica' },
  { value: 'Dominican Republic', text: i18n.countries.dominicanRepublic, selected: countryField === 'Dominican Republic' },
  { value: 'East Timor', text: i18n.countries.eastTimor, selected: countryField === 'East Timor' },
  { value: 'Ecuador', text: i18n.countries.ecuador, selected: countryField === 'Ecuador' },
  { value: 'Egypt', text: i18n.countries.egypt, selected: countryField === 'Egypt' },
  { value: 'El Salvador', text: i18n.countries.elSalvador, selected: countryField === 'El Salvador' },
  { value: 'England', text: i18n.countries.england, selected: countryField === 'England' },
  { value: 'Equatorial Guinea', text: i18n.countries.equatorialGuinea, selected: countryField === 'Equatorial Guinea' },
  { value: 'Eritrea', text: i18n.countries.eritrea, selected: countryField === 'Eritrea' },
  { value: 'Estonia', text: i18n.countries.estonia, selected: countryField === 'Estonia' },
  { value: 'Eswatini', text: i18n.countries.eswatini, selected: countryField === 'Eswatini' },
  { value: 'Ethiopia', text: i18n.countries.ethiopia, selected: countryField === 'Ethiopia' },
  { value: 'Falkland Islands', text: i18n.countries.falklandIslands, selected: countryField === 'Falkland Islands' },
  { value: 'Faroe Islands', text: i18n.countries.faroeIslands, selected: countryField === 'Faroe Islands' },
  { value: 'Fiji', text: i18n.countries.fiji, selected: countryField === 'Fiji' },
  { value: 'Finland', text: i18n.countries.finland, selected: countryField === 'Finland' },
  { value: 'France', text: i18n.countries.france, selected: countryField === 'France' },
  { value: 'French Guiana', text: i18n.countries.frenchGuiana, selected: countryField === 'French Guiana' },
  { value: 'French Polynesia', text: i18n.countries.frenchPolynesia, selected: countryField === 'French Polynesia' },
  { value: 'French Southern Territories', text: i18n.countries.frenchSouthernTerritories, selected: countryField === 'French Southern Territories' },
  { value: 'Gabon', text: i18n.countries.gabon, selected: countryField === 'Gabon' },
  { value: 'Gambia', text: i18n.countries.gambia, selected: countryField === 'Gambia' },
  { value: 'Georgia', text: i18n.countries.georgia, selected: countryField === 'Georgia' },
  { value: 'Germany', text: i18n.countries.germany, selected: countryField === 'Germany' },
  { value: 'Ghana', text: i18n.countries.ghana, selected: countryField === 'Ghana' },
  { value: 'Gibraltar', text: i18n.countries.gibraltar, selected: countryField === 'Gibraltar' },
  { value: 'Greece', text: i18n.countries.greece, selected: countryField === 'Greece' },
  { value: 'Greenland', text: i18n.countries.greenland, selected: countryField === 'Greenland' },
  { value: 'Grenada', text: i18n.countries.grenada, selected: countryField === 'Grenada' },
  { value: 'Guadeloupe', text: i18n.countries.guadeloupe, selected: countryField === 'Guadeloupe' },
  { value: 'Guam', text: i18n.countries.guam, selected: countryField === 'Guam' },
  { value: 'Guatemala', text: i18n.countries.guatemala, selected: countryField === 'Guatemala' },
  { value: 'Guernsey', text: i18n.countries.guernsey, selected: countryField === 'Guernsey' },
  { value: 'Guinea', text: i18n.countries.guinea, selected: countryField === 'Guinea' },
  { value: 'Guinea-Bissau', text: i18n.countries.guineaBissau, selected: countryField === 'Guinea-Bissau' },
  { value: 'Guyana', text: i18n.countries.guyana, selected: countryField === 'Guyana' },
  { value: 'Haiti', text: i18n.countries.haiti, selected: countryField === 'Haiti' },
  { value: 'Heard Island and McDonald Islands', text: i18n.countries.heardIslandAndMcDonaldIslands, selected: countryField === 'Heard Island and McDonald Islands' },
  { value: 'Herm', text: i18n.countries.herm, selected: countryField === 'Herm' },
  { value: 'Honduras', text: i18n.countries.honduras, selected: countryField === 'Honduras' },
  { value: 'Hong Kong', text: i18n.countries.hongKong, selected: countryField === 'Hong Kong' },
  { value: 'Hungary', text: i18n.countries.hungary, selected: countryField === 'Hungary' },
  { value: 'Iceland', text: i18n.countries.iceland, selected: countryField === 'Iceland' },
  { value: 'India', text: i18n.countries.india, selected: countryField === 'India' },
  { value: 'Indonesia', text: i18n.countries.indonesia, selected: countryField === 'Indonesia' },
  { value: 'Iran', text: i18n.countries.iran, selected: countryField === 'Iran' },
  { value: 'Iraq', text: i18n.countries.iraq, selected: countryField === 'Iraq' },
  { value: 'Ireland', text: i18n.countries.ireland, selected: countryField === 'Ireland' },
  { value: 'Isle of Man', text: i18n.countries.isleOfMan, selected: countryField === 'Isle of Man' },
  { value: 'Israel', text: i18n.countries.israel, selected: countryField === 'Israel' },
  { value: 'Italy', text: i18n.countries.italy, selected: countryField === 'Italy' },
  { value: 'Ivory Coast', text: i18n.countries.ivoryCoast, selected: countryField === 'Ivory Coast' },
  { value: 'Jamaica', text: i18n.countries.jamaica, selected: countryField === 'Jamaica' },
  { value: 'Japan', text: i18n.countries.japan, selected: countryField === 'Japan' },
  { value: 'Jersey', text: i18n.countries.jersey, selected: countryField === 'Jersey' },
  { value: 'Jordan', text: i18n.countries.jordan, selected: countryField === 'Jordan' },
  { value: 'Kazakhstan', text: i18n.countries.kazakhstan, selected: countryField === 'Kazakhstan' },
  { value: 'Kenya', text: i18n.countries.kenya, selected: countryField === 'Kenya' },
  { value: 'Kiribati', text: i18n.countries.kiribati, selected: countryField === 'Kiribati' },
  { value: 'Kosovo', text: i18n.countries.kosovo, selected: countryField === 'Kosovo' },
  { value: 'Kuwait', text: i18n.countries.kuwait, selected: countryField === 'Kuwait' },
  { value: 'Kyrgyzstan', text: i18n.countries.kyrgyzstan, selected: countryField === 'Kyrgyzstan' },
  { value: 'Laos', text: i18n.countries.laos, selected: countryField === 'Laos' },
  { value: 'Latvia', text: i18n.countries.latvia, selected: countryField === 'Latvia' },
  { value: 'Lebanon', text: i18n.countries.lebanon, selected: countryField === 'Lebanon' },
  { value: 'Lesotho', text: i18n.countries.lesotho, selected: countryField === 'Lesotho' },
  { value: 'Liberia', text: i18n.countries.liberia, selected: countryField === 'Liberia' },
  { value: 'Libya', text: i18n.countries.libya, selected: countryField === 'Libya' },
  { value: 'Liechtenstein', text: i18n.countries.liechtenstein, selected: countryField === 'Liechtenstein' },
  { value: 'Lithuania', text: i18n.countries.lithuania, selected: countryField === 'Lithuania' },
  { value: 'Luxembourg', text: i18n.countries.luxembourg, selected: countryField === 'Luxembourg' },
  { value: 'Macao', text: i18n.countries.macao, selected: countryField === 'Macao' },
  { value: 'Macedonia', text: i18n.countries.macedonia, selected: countryField === 'Macedonia' },
  { value: 'Madagascar', text: i18n.countries.madagascar, selected: countryField === 'Madagascar' },
  { value: 'Malawi', text: i18n.countries.malawi, selected: countryField === 'Malawi' },
  { value: 'Malaysia', text: i18n.countries.malaysia, selected: countryField === 'Malaysia' },
  { value: 'Maldives', text: i18n.countries.maldives, selected: countryField === 'Maldives' },
  { value: 'Mali', text: i18n.countries.mali, selected: countryField === 'Mali' },
  { value: 'Malta', text: i18n.countries.malta, selected: countryField === 'Malta' },
  { value: 'Marshall Islands', text: i18n.countries.marshallIslands, selected: countryField === 'Marshall Islands' },
  { value: 'Martinique', text: i18n.countries.martinique, selected: countryField === 'Martinique' },
  { value: 'Mauritania', text: i18n.countries.mauritania, selected: countryField === 'Mauritania' },
  { value: 'Mauritius', text: i18n.countries.mauritius, selected: countryField === 'Mauritius' },
  { value: 'Mayotte', text: i18n.countries.mayotte, selected: countryField === 'Mayotte' },
  { value: 'Mexico', text: i18n.countries.mexico, selected: countryField === 'Mexico' },
  { value: 'Micronesia', text: i18n.countries.micronesia, selected: countryField === 'Micronesia' },
  { value: 'Moldova', text: i18n.countries.moldova, selected: countryField === 'Moldova' },
  { value: 'Monaco', text: i18n.countries.monaco, selected: countryField === 'Monaco' },
  { value: 'Mongolia', text: i18n.countries.mongolia, selected: countryField === 'Mongolia' },
  { value: 'Montenegro', text: i18n.countries.montenegro, selected: countryField === 'Montenegro' },
  { value: 'Montserrat', text: i18n.countries.montserrat, selected: countryField === 'Montserrat' },
  { value: 'Morocco', text: i18n.countries.morocco, selected: countryField === 'Morocco' },
  { value: 'Mozambique', text: i18n.countries.mozambique, selected: countryField === 'Mozambique' },
  { value: 'Myanmar', text: i18n.countries.myanmar, selected: countryField === 'Myanmar' },
  { value: 'Namibia', text: i18n.countries.namibia, selected: countryField === 'Namibia' },
  { value: 'Nauru', text: i18n.countries.nauru, selected: countryField === 'Nauru' },
  { value: 'Nepal', text: i18n.countries.nepal, selected: countryField === 'Nepal' },
  { value: 'Netherlands', text: i18n.countries.netherlands, selected: countryField === 'Netherlands' },
  { value: 'New Caledonia', text: i18n.countries.newCaledonia, selected: countryField === 'New Caledonia' },
  { value: 'New Zealand', text: i18n.countries.newZealand, selected: countryField === 'New Zealand' },
  { value: 'Nicaragua', text: i18n.countries.nicaragua, selected: countryField === 'Nicaragua' },
  { value: 'Niger', text: i18n.countries.niger, selected: countryField === 'Niger' },
  { value: 'Nigeria', text: i18n.countries.nigeria, selected: countryField === 'Nigeria' },
  { value: 'Niue', text: i18n.countries.niue, selected: countryField === 'Niue' },
  { value: 'Norfolk Island', text: i18n.countries.norfolkIsland, selected: countryField === 'Norfolk Island' },
  { value: 'North Korea', text: i18n.countries.northKorea, selected: countryField === 'North Korea' },
  { value: 'Northern Ireland', text: i18n.countries.northernIreland, selected: countryField === 'Northern Ireland' },
  { value: 'Northern Mariana Islands', text: i18n.countries.northernMarianaIslands, selected: countryField === 'Northern Mariana Islands' },
  { value: 'Norway', text: i18n.countries.norway, selected: countryField === 'Norway' },
  { value: 'Oman', text: i18n.countries.oman, selected: countryField === 'Oman' },
  { value: 'Pakistan', text: i18n.countries.pakistan, selected: countryField === 'Pakistan' },
  { value: 'Palau', text: i18n.countries.palau, selected: countryField === 'Palau' },
  { value: 'Palestine, State of', text: i18n.countries.palestineStateOf, selected: countryField === 'Palestine, State of' },
  { value: 'Panama', text: i18n.countries.panama, selected: countryField === 'Panama' },
  { value: 'Papua New Guinea', text: i18n.countries.papuaNewGuinea, selected: countryField === 'Papua New Guinea' },
  { value: 'Paraguay', text: i18n.countries.paraguay, selected: countryField === 'Paraguay' },
  { value: 'Peru', text: i18n.countries.peru, selected: countryField === 'Peru' },
  { value: 'Philippines', text: i18n.countries.philippines, selected: countryField === 'Philippines' },
  { value: 'Pitcairn', text: i18n.countries.pitcairn, selected: countryField === 'Pitcairn' },
  { value: 'Poland', text: i18n.countries.poland, selected: countryField === 'Poland' },
  { value: 'Portugal', text: i18n.countries.portugal, selected: countryField === 'Portugal' },
  { value: 'Puerto Rico', text: i18n.countries.puertoRico, selected: countryField === 'Puerto Rico' },
  { value: 'Qatar', text: i18n.countries.qatar, selected: countryField === 'Qatar' },
  { value: 'Reunion', text: i18n.countries.reunion, selected: countryField === 'Reunion' },
  { value: 'Romania', text: i18n.countries.romania, selected: countryField === 'Romania' },
  { value: 'Russia', text: i18n.countries.russia, selected: countryField === 'Russia' },
  { value: 'Rwanda', text: i18n.countries.rwanda, selected: countryField === 'Rwanda' },
  { value: 'Saint Barthelemy', text: i18n.countries.saintBarthelemy, selected: countryField === 'Saint Barthelemy' },
  { value: 'Saint Helena, Ascension and Tristan da Cunha', text: i18n.countries.saintHelenaAscensionAndTristanDaCunha, selected: countryField === 'Saint Helena, Ascension and Tristan da Cunha' },
  { value: 'Saint Kitts and Nevis', text: i18n.countries.saintKittsAndNevis, selected: countryField === 'Saint Kitts and Nevis' },
  { value: 'Saint Lucia', text: i18n.countries.saintLucia, selected: countryField === 'Saint Lucia' },
  { value: 'Saint Martin (French part)', text: i18n.countries.saintMartinFrenchPart, selected: countryField === 'Saint Martin (French part)' },
  { value: 'Saint Pierre and Miquelon', text: i18n.countries.saintPierreAndMiquelon, selected: countryField === 'Saint Pierre and Miquelon' },
  { value: 'Saint Vincent and the Grenadines', text: i18n.countries.saintVincentAndTheGrenadines, selected: countryField === 'Saint Vincent and the Grenadines' },
  { value: 'Samoa', text: i18n.countries.samoa, selected: countryField === 'Samoa' },
  { value: 'San Marino', text: i18n.countries.sanMarino, selected: countryField === 'San Marino' },
  { value: 'Sao Tome and Principe', text: i18n.countries.saoTomeAndPrincipe, selected: countryField === 'Sao Tome and Principe' },
  { value: 'Sark', text: i18n.countries.sark, selected: countryField === 'Sark' },
  { value: 'Saudi Arabia', text: i18n.countries.saudiArabia, selected: countryField === 'Saudi Arabia' },
  { value: 'Scotland', text: i18n.countries.scotland, selected: countryField === 'Scotland' },
  { value: 'Senegal', text: i18n.countries.senegal, selected: countryField === 'Senegal' },
  { value: 'Serbia', text: i18n.countries.serbia, selected: countryField === 'Serbia' },
  { value: 'Seychelles', text: i18n.countries.seychelles, selected: countryField === 'Seychelles' },
  { value: 'Sierra Leone', text: i18n.countries.sierraLeone, selected: countryField === 'Sierra Leone' },
  { value: 'Singapore', text: i18n.countries.singapore, selected: countryField === 'Singapore' },
  { value: 'Sint Maarten (Dutch part)', text: i18n.countries.sintMaartenDutchPart, selected: countryField === 'Sint Maarten (Dutch part)' },
  { value: 'Slovakia', text: i18n.countries.slovakia, selected: countryField === 'Slovakia' },
  { value: 'Slovenia', text: i18n.countries.slovenia, selected: countryField === 'Slovenia' },
  { value: 'Solomon Islands', text: i18n.countries.solomonIslands, selected: countryField === 'Solomon Islands' },
  { value: 'Somalia', text: i18n.countries.somalia, selected: countryField === 'Somalia' },
  { value: 'South Africa', text: i18n.countries.southAfrica, selected: countryField === 'South Africa' },
  { value: 'South Georgia and the South Sandwich Islands', text: i18n.countries.southGeorgiaAndTheSouthSandwichIslands, selected: countryField === 'South Georgia and the South Sandwich Islands' },
  { value: 'South Korea', text: i18n.countries.southKorea, selected: countryField === 'South Korea' },
  { value: 'South Sudan', text: i18n.countries.southSudan, selected: countryField === 'South Sudan' },
  { value: 'Spain', text: i18n.countries.spain, selected: countryField === 'Spain' },
  { value: 'Sri Lanka', text: i18n.countries.sriLanka, selected: countryField === 'Sri Lanka' },
  { value: 'Sudan', text: i18n.countries.sudan, selected: countryField === 'Sudan' },
  { value: 'Suriname', text: i18n.countries.suriname, selected: countryField === 'Suriname' },
  { value: 'Svalbard and Jan Mayen', text: i18n.countries.svalbardAndJanMayen, selected: countryField === 'Svalbard and Jan Mayen' },
  { value: 'Sweden', text: i18n.countries.sweden, selected: countryField === 'Sweden' },
  { value: 'Switzerland', text: i18n.countries.switzerland, selected: countryField === 'Switzerland' },
  { value: 'Syria', text: i18n.countries.syria, selected: countryField === 'Syria' },
  { value: 'Taiwan', text: i18n.countries.taiwan, selected: countryField === 'Taiwan' },
  { value: 'Tajikistan', text: i18n.countries.tajikistan, selected: countryField === 'Tajikistan' },
  { value: 'Tanzania', text: i18n.countries.tanzania, selected: countryField === 'Tanzania' },
  { value: 'Thailand', text: i18n.countries.thailand, selected: countryField === 'Thailand' },
  { value: 'Togo', text: i18n.countries.togo, selected: countryField === 'Togo' },
  { value: 'Tokelau', text: i18n.countries.tokelau, selected: countryField === 'Tokelau' },
  { value: 'Tonga', text: i18n.countries.tonga, selected: countryField === 'Tonga' },
  { value: 'Trinidad and Tobago', text: i18n.countries.trinidadAndTobago, selected: countryField === 'Trinidad and Tobago' },
  { value: 'Tunisia', text: i18n.countries.tunisia, selected: countryField === 'Tunisia' },
  { value: 'Turkey', text: i18n.countries.turkey, selected: countryField === 'Turkey' },
  { value: 'Turkmenistan', text: i18n.countries.turkmenistan, selected: countryField === 'Turkmenistan' },
  { value: 'Turks and Caicos Islands', text: i18n.countries.turksAndCaicosIslands, selected: countryField === 'Turks and Caicos Islands' },
  { value: 'Tuvalu', text: i18n.countries.tuvalu, selected: countryField === 'Tuvalu' },
  { value: 'Uganda', text: i18n.countries.uganda, selected: countryField === 'Uganda' },
  { value: 'Ukraine', text: i18n.countries.ukraine, selected: countryField === 'Ukraine' },
  { value: 'United Arab Emirates', text: i18n.countries.unitedArabEmirates, selected: countryField === 'United Arab Emirates' },
  { value: 'United Kingdom', text: i18n.countries.unitedKingdom, selected: countryField === 'United Kingdom' },
  { value: 'United States', text: i18n.countries.unitedStates, selected: countryField === 'United States' },
  { value: 'United States Minor Outlying Islands', text: i18n.countries.unitedStatesMinorOutlyingIslands, selected: countryField === 'United States Minor Outlying Islands' },
  { value: 'Uruguay', text: i18n.countries.uruguay, selected: countryField === 'Uruguay' },
  { value: 'Uzbekistan', text: i18n.countries.uzbekistan, selected: countryField === 'Uzbekistan' },
  { value: 'Vanuatu', text: i18n.countries.vanuatu, selected: countryField === 'Vanuatu' },
  { value: 'Vatican City', text: i18n.countries.vaticanCity, selected: countryField === 'Vatican City' },
  { value: 'Venezuela', text: i18n.countries.venezuela, selected: countryField === 'Venezuela' },
  { value: 'Vietnam', text: i18n.countries.vietnam, selected: countryField === 'Vietnam' },
  { value: 'Virgin Islands, British', text: i18n.countries.virginIslandsBritish, selected: countryField === 'Virgin Islands, British' },
  { value: 'Virgin Islands, U.S.', text: i18n.countries.virginIslandsUS, selected: countryField === 'Virgin Islands, U.S.' },
  { value: 'Wales', text: i18n.countries.wales, selected: countryField === 'Wales' },
  { value: 'Wallis and Futuna', text: i18n.countries.wallisAndFutuna, selected: countryField === 'Wallis and Futuna' },
  { value: 'Western Sahara', text: i18n.countries.westernSahara, selected: countryField === 'Western Sahara' },
  { value: 'Yemen', text: i18n.countries.yemen, selected: countryField === 'Yemen' },
  { value: 'Zambia', text: i18n.countries.zambia, selected: countryField === 'Zambia' },
  { value: 'Zimbabwe', text: i18n.countries.zimbabwe, selected: countryField === 'Zimbabwe' }
] %}


{{ govukSelect({
  id: countryFormId,
  name: countryFormId,
  label: {
    text: countryText,
    classes: "govuk-label govuk-label--m",
    isPageHeading: false
  },
  errorMessage: countryErrorMessage,
  attributes : {
    required: "true"
  },
  items: COUNTRIES
}) }}