{% from "govuk/components/select/macro.njk" import govukSelect %}
{% macro getSpecifiedCountryList(i18n, subsetType, id, text, countryField, errorMessage)  %}

  {% set COUNTRIES = SET_COUNTRIES_DROPDOWN(i18n, countryField) %}

  {% set list = COUNTRIES %} 
  {% if subsetType === "unitedKingdom" %}
    {% set list = COUNTRIES.slice(0,5) %} 
  {% elseif subsetType === "overseas" %}
    {% set list = COUNTRIES.slice(0,1).concat(COUNTRIES.slice(5)) %} 
  {% endif %}

  {{ govukSelect({
    id: id,
    name: id,
    label: {
      text: text,
      classes: "govuk-label govuk-label--m",
      isPageHeading: false
    },
    errorMessage: errorMessage,
    attributes : {
      required: "true"
    },
    items: list
  }) }}
{% endmacro %}