{% set CURRENCIES = [
    { value: '', text: i18n.currencies.selectOne },
    { value: 'GBP', text: i18n.currencies.GBP, selected: currencyField === 'GBP'},
    { value: 'USD', text: i18n.currencies.USD, selected: currencyField === 'USD'},
    { value: 'EUR', text: i18n.currencies.EUR, selected: currencyField === 'EUR'},
    { value: 'AFN', text: i18n.currencies.AFN, selected: currencyField === 'AFN'},
    { value: 'DZD', text: i18n.currencies.DZD, selected: currencyField === 'DZD'},
    { value: 'AON', text: i18n.currencies.AON, selected: currencyField === 'AON'},
    { value: 'ARS', text: i18n.currencies.ARS, selected: currencyField === 'ARS'},
    { value: 'AMD', text: i18n.currencies.AMD, selected: currencyField === 'AMD'},
    { value: 'AWG', text: i18n.currencies.AWG, selected: currencyField === 'AWG'},
    { value: 'AUD', text: i18n.currencies.AUD, selected: currencyField === 'AUD'},
    { value: 'AZN', text: i18n.currencies.AZN, selected: currencyField === 'AZN'},
    { value: 'BSD', text: i18n.currencies.BSD, selected: currencyField === 'BSD'},
    { value: 'BHD', text: i18n.currencies.BHD, selected: currencyField === 'BHD'},
    { value: 'THB', text: i18n.currencies.THB, selected: currencyField === 'THB'},
    { value: 'PAB', text: i18n.currencies.PAB, selected: currencyField === 'PAB'},
    { value: 'BBD', text: i18n.currencies.BBD, selected: currencyField === 'BBD'},
    { value: 'BYB', text: i18n.currencies.BYB, selected: currencyField === 'BYB'},
    { value: 'BEF', text: i18n.currencies.BEF, selected: currencyField === 'BEF'},
    { value: 'BZD', text: i18n.currencies.BZD, selected: currencyField === 'BZD'},
    { value: 'BMD', text: i18n.currencies.BMD, selected: currencyField === 'BMD'},
    { value: 'VEB', text: i18n.currencies.VEB, selected: currencyField === 'VEB'},
    { value: 'BOB', text: i18n.currencies.BOB, selected: currencyField === 'BOB'},
    { value: 'BRL', text: i18n.currencies.BRL, selected: currencyField === 'BRL'},
    { value: 'BND', text: i18n.currencies.BND, selected: currencyField === 'BND'},
    { value: 'BGN', text: i18n.currencies.BGN, selected: currencyField === 'BGN'},
    { value: 'BIF', text: i18n.currencies.BIF, selected: currencyField === 'BIF'},
    { value: 'CAD', text: i18n.currencies.CAD, selected: currencyField === 'CAD'},
    { value: 'CVE', text: i18n.currencies.CVE, selected: currencyField === 'CVE'},
    { value: 'KYD', text: i18n.currencies.KYD, selected: currencyField === 'KYD'},
    { value: 'GHS', text: i18n.currencies.GHS, selected: currencyField === 'GHS'},
    { value: 'XOF', text: i18n.currencies.XOF, selected: currencyField === 'XOF'},
    { value: 'XAF', text: i18n.currencies.XAF, selected: currencyField === 'XAF'},
    { value: 'XPF', text: i18n.currencies.XPF, selected: currencyField === 'XPF'},
    { value: 'CLP', text: i18n.currencies.CLP, selected: currencyField === 'CLP'},
    { value: 'COP', text: i18n.currencies.COP, selected: currencyField === 'COP'},
    { value: 'KMF', text: i18n.currencies.KMF, selected: currencyField === 'KMF'},
    { value: 'BAM', text: i18n.currencies.BAM, selected: currencyField === 'BAM'},
    { value: 'NIO', text: i18n.currencies.NIO, selected: currencyField === 'NIO'},
    { value: 'CRC', text: i18n.currencies.CRC, selected: currencyField === 'CRC'},
    { value: 'HRK', text: i18n.currencies.HRK, selected: currencyField === 'HRK'},
    { value: 'CUC', text: i18n.currencies.CUC, selected: currencyField === 'CUC'},
    { value: 'CUP', text: i18n.currencies.CUP, selected: currencyField === 'CUP'},
    { value: 'CZK', text: i18n.currencies.CZK, selected: currencyField === 'CZK'},
    { value: 'GMD', text: i18n.currencies.GMD, selected: currencyField === 'GMD'},
    { value: 'DKK', text: i18n.currencies.DKK, selected: currencyField === 'DKK'},
    { value: 'MKD', text: i18n.currencies.MKD, selected: currencyField === 'MKD'},
    { value: 'DJF', text: i18n.currencies.DJF, selected: currencyField === 'DJF'},
    { value: 'STD', text: i18n.currencies.STD, selected: currencyField === 'STD'},
    { value: 'DOP', text: i18n.currencies.DOP, selected: currencyField === 'DOP'},
    { value: 'VND', text: i18n.currencies.VND, selected: currencyField === 'VND'},
    { value: 'XCD', text: i18n.currencies.XCD, selected: currencyField === 'XCD'},
    { value: 'EGP', text: i18n.currencies.EGP, selected: currencyField === 'EGP'},
    { value: 'SVC', text: i18n.currencies.SVC, selected: currencyField === 'SVC'},
    { value: 'ETB', text: i18n.currencies.ETB, selected: currencyField === 'ETB'},
    { value: 'FKP', text: i18n.currencies.FKP, selected: currencyField === 'FKP'},
    { value: 'FJD', text: i18n.currencies.FJD, selected: currencyField === 'FJD'},
    { value: 'HUF', text: i18n.currencies.HUF, selected: currencyField === 'HUF'},
    { value: 'CDF', text: i18n.currencies.CDF, selected: currencyField === 'CDF'},
    { value: 'GIP', text: i18n.currencies.GIP, selected: currencyField === 'GIP'},
    { value: 'HTG', text: i18n.currencies.HTG, selected: currencyField === 'HTG'},
    { value: 'PYG', text: i18n.currencies.PYG, selected: currencyField === 'PYG'},
    { value: 'GNF', text: i18n.currencies.GNF, selected: currencyField === 'GNF'},
    { value: 'GWP', text: i18n.currencies.GWP, selected: currencyField === 'GWP'},
    { value: 'GYD', text: i18n.currencies.GYD, selected: currencyField === 'GYD'},
    { value: 'HKD', text: i18n.currencies.HKD, selected: currencyField === 'HKD'},
    { value: 'UAH', text: i18n.currencies.UAH, selected: currencyField === 'UAH'},
    { value: 'ISK', text: i18n.currencies.ISK, selected: currencyField === 'ISK'},
    { value: 'INR', text: i18n.currencies.INR, selected: currencyField === 'INR'},
    { value: 'IRR', text: i18n.currencies.IRR, selected: currencyField === 'IRR'},
    { value: 'IQD', text: i18n.currencies.IQD, selected: currencyField === 'IQD'},
    { value: 'JMD', text: i18n.currencies.JMD, selected: currencyField === 'JMD'},
    { value: 'JOD', text: i18n.currencies.JOD, selected: currencyField === 'JOD'},
    { value: 'KES', text: i18n.currencies.KES, selected: currencyField === 'KES'},
    { value: 'PGK', text: i18n.currencies.PGK, selected: currencyField === 'PGK'},
    { value: 'LAK', text: i18n.currencies.LAK, selected: currencyField === 'LAK'},
    { value: 'KWD', text: i18n.currencies.KWD, selected: currencyField === 'KWD'},
    { value: 'ZMW', text: i18n.currencies.ZMW, selected: currencyField === 'ZMW'},
    { value: 'MWK', text: i18n.currencies.MWK, selected: currencyField === 'MWK'},
    { value: 'AOA', text: i18n.currencies.AOA, selected: currencyField === 'AOA'},
    { value: 'MMK', text: i18n.currencies.MMK, selected: currencyField === 'MMK'},
    { value: 'GEL', text: i18n.currencies.GEL, selected: currencyField === 'GEL'},
    { value: 'LBP', text: i18n.currencies.LBP, selected: currencyField === 'LBP'},
    { value: 'ALL', text: i18n.currencies.ALL, selected: currencyField === 'ALL'},
    { value: 'HNL', text: i18n.currencies.HNL, selected: currencyField === 'HNL'},
    { value: 'SLL', text: i18n.currencies.SLL, selected: currencyField === 'SLL'},
    { value: 'LRD', text: i18n.currencies.LRD, selected: currencyField === 'LRD'},
    { value: 'LYD', text: i18n.currencies.LYD, selected: currencyField === 'LYD'},
    { value: 'SZL', text: i18n.currencies.SZL, selected: currencyField === 'SZL'},
    { value: 'LSL', text: i18n.currencies.LSL, selected: currencyField === 'LSL'},
    { value: 'MGA', text: i18n.currencies.MGA, selected: currencyField === 'MGA'},
    { value: 'MYR', text: i18n.currencies.MYR, selected: currencyField === 'MYR'},
    { value: 'TMM', text: i18n.currencies.TMM, selected: currencyField === 'TMM'},
    { value: 'MRU', text: i18n.currencies.MRU, selected: currencyField === 'MRU'},
    { value: 'MUR', text: i18n.currencies.MUR, selected: currencyField === 'MUR'},
    { value: 'MZM', text: i18n.currencies.MZM, selected: currencyField === 'MZM'},
    { value: 'MXN', text: i18n.currencies.MXN, selected: currencyField === 'MXN'},
    { value: 'MXV', text: i18n.currencies.MXV, selected: currencyField === 'MXV'},
    { value: 'MDL', text: i18n.currencies.MDL, selected: currencyField === 'MDL'},
    { value: 'MAD', text: i18n.currencies.MAD, selected: currencyField === 'MAD'},
    { value: 'BOV', text: i18n.currencies.BOV, selected: currencyField === 'BOV'},
    { value: 'NGN', text: i18n.currencies.NGN, selected: currencyField === 'NGN'},
    { value: 'ERN', text: i18n.currencies.ERN, selected: currencyField === 'ERN'},
    { value: 'NAD', text: i18n.currencies.NAD, selected: currencyField === 'NAD'},
    { value: 'NPR', text: i18n.currencies.NPR, selected: currencyField === 'NPR'},
    { value: 'ILS', text: i18n.currencies.ILS, selected: currencyField === 'ILS'},
    { value: 'RON', text: i18n.currencies.RON, selected: currencyField === 'RON'},
    { value: 'TWD', text: i18n.currencies.TWD, selected: currencyField === 'TWD'},
    { value: 'TRY', text: i18n.currencies.TRY, selected: currencyField === 'TRY'},
    { value: 'NZD', text: i18n.currencies.NZD, selected: currencyField === 'NZD'},
    { value: 'BTN', text: i18n.currencies.BTN, selected: currencyField === 'BTN'},
    { value: 'KPW', text: i18n.currencies.KPW, selected: currencyField === 'KPW'},
    { value: 'NOK', text: i18n.currencies.NOK, selected: currencyField === 'NOK'},
    { value: 'PEN', text: i18n.currencies.PEN, selected: currencyField === 'PEN'},
    { value: 'MRO', text: i18n.currencies.MRO, selected: currencyField === 'MRO'},
    { value: 'TOP', text: i18n.currencies.TOP, selected: currencyField === 'TOP'},
    { value: 'PKR', text: i18n.currencies.PKR, selected: currencyField === 'PKR'},
    { value: 'MOP', text: i18n.currencies.MOP, selected: currencyField === 'MOP'},
    { value: 'UYU', text: i18n.currencies.UYU, selected: currencyField === 'UYU'},
    { value: 'PHP', text: i18n.currencies.PHP, selected: currencyField === 'PHP'},
    { value: 'BWP', text: i18n.currencies.BWP, selected: currencyField === 'BWP'},
    { value: 'QAR', text: i18n.currencies.QAR, selected: currencyField === 'QAR'},
    { value: 'GTQ', text: i18n.currencies.GTQ, selected: currencyField === 'GTQ'},
    { value: 'ZAR', text: i18n.currencies.ZAR, selected: currencyField === 'ZAR'},
    { value: 'OMR', text: i18n.currencies.OMR, selected: currencyField === 'OMR'},
    { value: 'KHR', text: i18n.currencies.KHR, selected: currencyField === 'KHR'},
    { value: 'MVR', text: i18n.currencies.MVR, selected: currencyField === 'MVR'},
    { value: 'IDR', text: i18n.currencies.IDR, selected: currencyField === 'IDR'},
    { value: 'RUB', text: i18n.currencies.RUB, selected: currencyField === 'RUB'},
    { value: 'RWF', text: i18n.currencies.RWF, selected: currencyField === 'RWF'},
    { value: 'SHP', text: i18n.currencies.SHP, selected: currencyField === 'SHP'},
    { value: 'STN', text: i18n.currencies.STN, selected: currencyField === 'STN'},
    { value: 'SAR', text: i18n.currencies.SAR, selected: currencyField === 'SAR'},
    { value: 'XDR', text: i18n.currencies.XDR, selected: currencyField === 'XDR'},
    { value: 'CSD', text: i18n.currencies.CSD, selected: currencyField === 'CSD'},
    { value: 'SCR', text: i18n.currencies.SCR, selected: currencyField === 'SCR'},
    { value: 'SGD', text: i18n.currencies.SGD, selected: currencyField === 'SGD'},
    { value: 'SBD', text: i18n.currencies.SBD, selected: currencyField === 'SBD'},
    { value: 'KGS', text: i18n.currencies.KGS, selected: currencyField === 'KGS'},
    { value: 'SOS', text: i18n.currencies.SOS, selected: currencyField === 'SOS'},
    { value: 'TJS', text: i18n.currencies.TJS, selected: currencyField === 'TJS'},
    { value: 'SSP', text: i18n.currencies.SSP, selected: currencyField === 'SSP'},
    { value: 'LKR', text: i18n.currencies.LKR, selected: currencyField === 'LKR'},
    { value: 'SDD', text: i18n.currencies.SDD, selected: currencyField === 'SDD'},
    { value: 'SRD', text: i18n.currencies.SRD, selected: currencyField === 'SRD'},
    { value: 'SEK', text: i18n.currencies.SEK, selected: currencyField === 'SEK'},
    { value: 'CHF', text: i18n.currencies.CHF, selected: currencyField === 'CHF'},
    { value: 'SYP', text: i18n.currencies.SYP, selected: currencyField === 'SYP'},
    { value: 'BDT', text: i18n.currencies.BDT, selected: currencyField === 'BDT'},
    { value: 'WST', text: i18n.currencies.WST, selected: currencyField === 'WST'},
    { value: 'TZS', text: i18n.currencies.TZS, selected: currencyField === 'TZS'},
    { value: 'KZT', text: i18n.currencies.KZT, selected: currencyField === 'KZT'},
    { value: 'SIT', text: i18n.currencies.SIT, selected: currencyField === 'SIT'},
    { value: 'TTD', text: i18n.currencies.TTD, selected: currencyField === 'TTD'},
    { value: 'MNT', text: i18n.currencies.MNT, selected: currencyField === 'MNT'},
    { value: 'TND', text: i18n.currencies.TND, selected: currencyField === 'TND'},
    { value: 'AED', text: i18n.currencies.AED, selected: currencyField === 'AED'},
    { value: 'UGX', text: i18n.currencies.UGX, selected: currencyField === 'UGX'},
    { value: 'UKH', text: i18n.currencies.UKH, selected: currencyField === 'UKH'},
    { value: 'COU', text: i18n.currencies.COU, selected: currencyField === 'COU'},
    { value: 'CLF', text: i18n.currencies.CLF, selected: currencyField === 'CLF'},
    { value: 'UZS', text: i18n.currencies.UZS, selected: currencyField === 'UZS'},
    { value: 'VUV', text: i18n.currencies.VUV, selected: currencyField === 'VUV'},
    { value: 'VES', text: i18n.currencies.VES, selected: currencyField === 'VES'},
    { value: 'CHE', text: i18n.currencies.CHE, selected: currencyField === 'CHE'},
    { value: 'CHW', text: i18n.currencies.CHW, selected: currencyField === 'CHW'},
    { value: 'KRW', text: i18n.currencies.KRW, selected: currencyField === 'KRW'},
    { value: 'YER', text: i18n.currencies.YER, selected: currencyField === 'YER'},
    { value: 'JPY', text: i18n.currencies.JPY, selected: currencyField === 'JPY'},
    { value: 'CNY', text: i18n.currencies.CNY, selected: currencyField === 'CNY'},
    { value: 'ZWD', text: i18n.currencies.ZWD, selected: currencyField === 'ZWD'},
    { value: 'PLN', text: i18n.currencies.PLN, selected: currencyField === 'PLN'}
] %}

{{ govukSelect({
  id: "contribution_currency_type",
  name: "contribution_currency_type",
  label: {
    text: i18n.capitalContribution.currencyTypeLabel,
    classes: "govuk-visually-hidden",
    isPageHeading: false
  },
  errorMessage: props.errors.contribution_currency_type if props.errors.contribution_currency_type,
  items: CURRENCIES
}) }}
