{% set CURRENCIES = [
    { value: 'GBP', text: i18n.currency.GBP, selected: countryField === 'GBP'},
    { value: 'USD', text: i18n.currency.USD, selected: countryField === 'USD'},
    { value: 'EUR', text: i18n.currency.EUR, selected: countryField === 'EUR'},
    { value: 'AFN', text: i18n.currency.AFN, selected: countryField === 'AFN'},
    { value: 'DZD', text: i18n.currency.DZD, selected: countryField === 'DZD'},
    { value: 'AON', text: i18n.currency.AON, selected: countryField === 'AON'},
    { value: 'ARS', text: i18n.currency.ARS, selected: countryField === 'ARS'},
    { value: 'AMD', text: i18n.currency.AMD, selected: countryField === 'AMD'},
    { value: 'AWG', text: i18n.currency.AWG, selected: countryField === 'AWG'},
    { value: 'AUD', text: i18n.currency.AUD, selected: countryField === 'AUD'},
    { value: 'AZN', text: i18n.currency.AZN, selected: countryField === 'AZN'},
    { value: 'BSD', text: i18n.currency.BSD, selected: countryField === 'BSD'},
    { value: 'BHD', text: i18n.currency.BHD, selected: countryField === 'BHD'},
    { value: 'THB', text: i18n.currency.THB, selected: countryField === 'THB'},
    { value: 'PAB', text: i18n.currency.PAB, selected: countryField === 'PAB'},
    { value: 'BBD', text: i18n.currency.BBD, selected: countryField === 'BBD'},
    { value: 'BYB', text: i18n.currency.BYB, selected: countryField === 'BYB'},
    { value: 'BEF', text: i18n.currency.BEF, selected: countryField === 'BEF'},
    { value: 'BZD', text: i18n.currency.BZD, selected: countryField === 'BZD'},
    { value: 'BMD', text: i18n.currency.BMD, selected: countryField === 'BMD'},
    { value: 'VEB', text: i18n.currency.VEB, selected: countryField === 'VEB'},
    { value: 'BOB', text: i18n.currency.BOB, selected: countryField === 'BOB'},
    { value: 'BRL', text: i18n.currency.BRL, selected: countryField === 'BRL'},
    { value: 'BND', text: i18n.currency.BND, selected: countryField === 'BND'},
    { value: 'BGN', text: i18n.currency.BGN, selected: countryField === 'BGN'},
    { value: 'BIF', text: i18n.currency.BIF, selected: countryField === 'BIF'},
    { value: 'CAD', text: i18n.currency.CAD, selected: countryField === 'CAD'},
    { value: 'CVE', text: i18n.currency.CVE, selected: countryField === 'CVE'},
    { value: 'KYD', text: i18n.currency.KYD, selected: countryField === 'KYD'},
    { value: 'GHS', text: i18n.currency.GHS, selected: countryField === 'GHS'},
    { value: 'XOF', text: i18n.currency.XOF, selected: countryField === 'XOF'},
    { value: 'XAF', text: i18n.currency.XAF, selected: countryField === 'XAF'},
    { value: 'XPF', text: i18n.currency.XPF, selected: countryField === 'XPF'},
    { value: 'CLP', text: i18n.currency.CLP, selected: countryField === 'CLP'},
    { value: 'COP', text: i18n.currency.COP, selected: countryField === 'COP'},
    { value: 'KMF', text: i18n.currency.KMF, selected: countryField === 'KMF'},
    { value: 'BAM', text: i18n.currency.BAM, selected: countryField === 'BAM'},
    { value: 'NIO', text: i18n.currency.NIO, selected: countryField === 'NIO'},
    { value: 'CRC', text: i18n.currency.CRC, selected: countryField === 'CRC'},
    { value: 'HRK', text: i18n.currency.HRK, selected: countryField === 'HRK'},
    { value: 'CUC', text: i18n.currency.CUC, selected: countryField === 'CUC'},
    { value: 'CUP', text: i18n.currency.CUP, selected: countryField === 'CUP'},
    { value: 'CZK', text: i18n.currency.CZK, selected: countryField === 'CZK'},
    { value: 'GMD', text: i18n.currency.GMD, selected: countryField === 'GMD'},
    { value: 'DKK', text: i18n.currency.DKK, selected: countryField === 'DKK'},
    { value: 'MKD', text: i18n.currency.MKD, selected: countryField === 'MKD'},
    { value: 'DJF', text: i18n.currency.DJF, selected: countryField === 'DJF'},
    { value: 'STD', text: i18n.currency.STD, selected: countryField === 'STD'},
    { value: 'DOP', text: i18n.currency.DOP, selected: countryField === 'DOP'},
    { value: 'VND', text: i18n.currency.VND, selected: countryField === 'VND'},
    { value: 'XCD', text: i18n.currency.XCD, selected: countryField === 'XCD'},
    { value: 'EGP', text: i18n.currency.EGP, selected: countryField === 'EGP'},
    { value: 'SVC', text: i18n.currency.SVC, selected: countryField === 'SVC'},
    { value: 'ETB', text: i18n.currency.ETB, selected: countryField === 'ETB'},
    { value: 'FKP', text: i18n.currency.FKP, selected: countryField === 'FKP'},
    { value: 'FJD', text: i18n.currency.FJD, selected: countryField === 'FJD'},
    { value: 'HUF', text: i18n.currency.HUF, selected: countryField === 'HUF'},
    { value: 'CDF', text: i18n.currency.CDF, selected: countryField === 'CDF'},
    { value: 'GIP', text: i18n.currency.GIP, selected: countryField === 'GIP'},
    { value: 'HTG', text: i18n.currency.HTG, selected: countryField === 'HTG'},
    { value: 'PYG', text: i18n.currency.PYG, selected: countryField === 'PYG'},
    { value: 'GNF', text: i18n.currency.GNF, selected: countryField === 'GNF'},
    { value: 'GWP', text: i18n.currency.GWP, selected: countryField === 'GWP'},
    { value: 'GYD', text: i18n.currency.GYD, selected: countryField === 'GYD'},
    { value: 'HKD', text: i18n.currency.HKD, selected: countryField === 'HKD'},
    { value: 'UAH', text: i18n.currency.UAH, selected: countryField === 'UAH'},
    { value: 'ISK', text: i18n.currency.ISK, selected: countryField === 'ISK'},
    { value: 'INR', text: i18n.currency.INR, selected: countryField === 'INR'},
    { value: 'IRR', text: i18n.currency.IRR, selected: countryField === 'IRR'},
    { value: 'IQD', text: i18n.currency.IQD, selected: countryField === 'IQD'},
    { value: 'JMD', text: i18n.currency.JMD, selected: countryField === 'JMD'},
    { value: 'JOD', text: i18n.currency.JOD, selected: countryField === 'JOD'},
    { value: 'KES', text: i18n.currency.KES, selected: countryField === 'KES'},
    { value: 'PGK', text: i18n.currency.PGK, selected: countryField === 'PGK'},
    { value: 'LAK', text: i18n.currency.LAK, selected: countryField === 'LAK'},
    { value: 'KWD', text: i18n.currency.KWD, selected: countryField === 'KWD'},
    { value: 'ZMW', text: i18n.currency.ZMW, selected: countryField === 'ZMW'},
    { value: 'MWK', text: i18n.currency.MWK, selected: countryField === 'MWK'},
    { value: 'AOA', text: i18n.currency.AOA, selected: countryField === 'AOA'},
    { value: 'MMK', text: i18n.currency.MMK, selected: countryField === 'MMK'},
    { value: 'GEL', text: i18n.currency.GEL, selected: countryField === 'GEL'},
    { value: 'LBP', text: i18n.currency.LBP, selected: countryField === 'LBP'},
    { value: 'ALL', text: i18n.currency.ALL, selected: countryField === 'ALL'},
    { value: 'HNL', text: i18n.currency.HNL, selected: countryField === 'HNL'},
    { value: 'SLL', text: i18n.currency.SLL, selected: countryField === 'SLL'},
    { value: 'LRD', text: i18n.currency.LRD, selected: countryField === 'LRD'},
    { value: 'LYD', text: i18n.currency.LYD, selected: countryField === 'LYD'},
    { value: 'SZL', text: i18n.currency.SZL, selected: countryField === 'SZL'},
    { value: 'LSL', text: i18n.currency.LSL, selected: countryField === 'LSL'},
    { value: 'MGA', text: i18n.currency.MGA, selected: countryField === 'MGA'},
    { value: 'MYR', text: i18n.currency.MYR, selected: countryField === 'MYR'},
    { value: 'TMM', text: i18n.currency.TMM, selected: countryField === 'TMM'},
    { value: 'MRU', text: i18n.currency.MRU, selected: countryField === 'MRU'},
    { value: 'MUR', text: i18n.currency.MUR, selected: countryField === 'MUR'},
    { value: 'MZM', text: i18n.currency.MZM, selected: countryField === 'MZM'},
    { value: 'MXN', text: i18n.currency.MXN, selected: countryField === 'MXN'},
    { value: 'MXV', text: i18n.currency.MXV, selected: countryField === 'MXV'},
    { value: 'MDL', text: i18n.currency.MDL, selected: countryField === 'MDL'},
    { value: 'MAD', text: i18n.currency.MAD, selected: countryField === 'MAD'},
    { value: 'BOV', text: i18n.currency.BOV, selected: countryField === 'BOV'},
    { value: 'NGN', text: i18n.currency.NGN, selected: countryField === 'NGN'},
    { value: 'ERN', text: i18n.currency.ERN, selected: countryField === 'ERN'},
    { value: 'NAD', text: i18n.currency.NAD, selected: countryField === 'NAD'},
    { value: 'NPR', text: i18n.currency.NPR, selected: countryField === 'NPR'},
    { value: 'ILS', text: i18n.currency.ILS, selected: countryField === 'ILS'},
    { value: 'RON', text: i18n.currency.RON, selected: countryField === 'RON'},
    { value: 'TWD', text: i18n.currency.TWD, selected: countryField === 'TWD'},
    { value: 'TRY', text: i18n.currency.TRY, selected: countryField === 'TRY'},
    { value: 'NZD', text: i18n.currency.NZD, selected: countryField === 'NZD'},
    { value: 'BTN', text: i18n.currency.BTN, selected: countryField === 'BTN'},
    { value: 'KPW', text: i18n.currency.KPW, selected: countryField === 'KPW'},
    { value: 'NOK', text: i18n.currency.NOK, selected: countryField === 'NOK'},
    { value: 'PEN', text: i18n.currency.PEN, selected: countryField === 'PEN'},
    { value: 'MRO', text: i18n.currency.MRO, selected: countryField === 'MRO'},
    { value: 'TOP', text: i18n.currency.TOP, selected: countryField === 'TOP'},
    { value: 'PKR', text: i18n.currency.PKR, selected: countryField === 'PKR'},
    { value: 'MOP', text: i18n.currency.MOP, selected: countryField === 'MOP'},
    { value: 'UYU', text: i18n.currency.UYU, selected: countryField === 'UYU'},
    { value: 'PHP', text: i18n.currency.PHP, selected: countryField === 'PHP'},
    { value: 'BWP', text: i18n.currency.BWP, selected: countryField === 'BWP'},
    { value: 'QAR', text: i18n.currency.QAR, selected: countryField === 'QAR'},
    { value: 'GTQ', text: i18n.currency.GTQ, selected: countryField === 'GTQ'},
    { value: 'ZAR', text: i18n.currency.ZAR, selected: countryField === 'ZAR'},
    { value: 'OMR', text: i18n.currency.OMR, selected: countryField === 'OMR'},
    { value: 'KHR', text: i18n.currency.KHR, selected: countryField === 'KHR'},
    { value: 'MVR', text: i18n.currency.MVR, selected: countryField === 'MVR'},
    { value: 'IDR', text: i18n.currency.IDR, selected: countryField === 'IDR'},
    { value: 'RUB', text: i18n.currency.RUB, selected: countryField === 'RUB'},
    { value: 'RWF', text: i18n.currency.RWF, selected: countryField === 'RWF'},
    { value: 'SHP', text: i18n.currency.SHP, selected: countryField === 'SHP'},
    { value: 'STN', text: i18n.currency.STN, selected: countryField === 'STN'},
    { value: 'SAR', text: i18n.currency.SAR, selected: countryField === 'SAR'},
    { value: 'XDR', text: i18n.currency.XDR, selected: countryField === 'XDR'},
    { value: 'CSD', text: i18n.currency.CSD, selected: countryField === 'CSD'},
    { value: 'SCR', text: i18n.currency.SCR, selected: countryField === 'SCR'},
    { value: 'SGD', text: i18n.currency.SGD, selected: countryField === 'SGD'},
    { value: 'SBD', text: i18n.currency.SBD, selected: countryField === 'SBD'},
    { value: 'KGS', text: i18n.currency.KGS, selected: countryField === 'KGS'},
    { value: 'SOS', text: i18n.currency.SOS, selected: countryField === 'SOS'},
    { value: 'TJS', text: i18n.currency.TJS, selected: countryField === 'TJS'},
    { value: 'SSP', text: i18n.currency.SSP, selected: countryField === 'SSP'},
    { value: 'LKR', text: i18n.currency.LKR, selected: countryField === 'LKR'},
    { value: 'SDD', text: i18n.currency.SDD, selected: countryField === 'SDD'},
    { value: 'SRD', text: i18n.currency.SRD, selected: countryField === 'SRD'},
    { value: 'SEK', text: i18n.currency.SEK, selected: countryField === 'SEK'},
    { value: 'CHF', text: i18n.currency.CHF, selected: countryField === 'CHF'},
    { value: 'SYP', text: i18n.currency.SYP, selected: countryField === 'SYP'},
    { value: 'BDT', text: i18n.currency.BDT, selected: countryField === 'BDT'},
    { value: 'WST', text: i18n.currency.WST, selected: countryField === 'WST'},
    { value: 'TZS', text: i18n.currency.TZS, selected: countryField === 'TZS'},
    { value: 'KZT', text: i18n.currency.KZT, selected: countryField === 'KZT'},
    { value: 'SIT', text: i18n.currency.SIT, selected: countryField === 'SIT'},
    { value: 'TTD', text: i18n.currency.TTD, selected: countryField === 'TTD'},
    { value: 'MNT', text: i18n.currency.MNT, selected: countryField === 'MNT'},
    { value: 'TND', text: i18n.currency.TND, selected: countryField === 'TND'},
    { value: 'AED', text: i18n.currency.AED, selected: countryField === 'AED'},
    { value: 'UGX', text: i18n.currency.UGX, selected: countryField === 'UGX'},
    { value: 'UKH', text: i18n.currency.UKH, selected: countryField === 'UKH'},
    { value: 'COU', text: i18n.currency.COU, selected: countryField === 'COU'},
    { value: 'CLF', text: i18n.currency.CLF, selected: countryField === 'CLF'},
    { value: 'UZS', text: i18n.currency.UZS, selected: countryField === 'UZS'},
    { value: 'VUV', text: i18n.currency.VUV, selected: countryField === 'VUV'},
    { value: 'VES', text: i18n.currency.VES, selected: countryField === 'VES'},
    { value: 'CHE', text: i18n.currency.CHE, selected: countryField === 'CHE'},
    { value: 'CHW', text: i18n.currency.CHW, selected: countryField === 'CHW'},
    { value: 'KRW', text: i18n.currency.KRW, selected: countryField === 'KRW'},
    { value: 'YER', text: i18n.currency.YER, selected: countryField === 'YER'},
    { value: 'JPY', text: i18n.currency.JPY, selected: countryField === 'JPY'},
    { value: 'CNY', text: i18n.currency.CNY, selected: countryField === 'CNY'},
    { value: 'ZWD', text: i18n.currency.ZWD, selected: countryField === 'ZWD'},
    { value: 'PLN', text: i18n.currency.PLN, selected: countryField === 'PLN'}
] %}

{{ govukSelect({
  id: currencyFormId,
  name: currencyFormId,
  value: currencyFormValue,
  label: {
    text: currencyText,
    classes: currencyFont,
    isPageHeading: false
  },
  errorMessage: currencyErrorMessage,
  attributes : {
    required: "true"
  },
  items: CURRENCIES
}) }}
