 {{ govukCheckboxes({
    id: "not_disqualified_statement_checked",
    name: "not_disqualified_statement_checked",
    value: props.data.generalPartner.data.not_disqualified_statement_checked,
    errorMessage: props.errors.not_disqualified_statement_checked if props.errors,
    classes: "govuk-!-margin-top-6",
    fieldset: {
    legend: {
        text: i18n.generalPartnersPage.disqualificationStatementLegend,
        isPageHeading: false,
        classes: "govuk-visually-hidden"
      }
    },
    items: [
      {
        value: "true",
        text: i18n.generalPartnersPage.disqualificationStatement,
        checked: props.data.generalPartner.data.not_disqualified_statement_checked,
        attributes: {
          required: true
        }
      }
    ]
}) }}