
{% if countryListRequired %}
  {# Which country #}
  {% set countryText = entityType.countryRegistered %}
  {% set countryFormId = "legal_entity_registration_location" %}
  {% set countryErrorMessage = props.errors.legal_entity_registration_location if props.errors %}
  {% set countryFormValue = entityType.legal_entity_registration_location %}
  {% set labelFormatting = "govuk-label govuk-label--m" %}

  {{ macros.getSpecifiedCountryList(i18n, "", countryFormId, countryText, countryFormValue, countryErrorMessage, labelFormatting) }}
{% endif %}

{# Which Register #}
{{ govukInput({
    label: {
        text: entityTranslation.whichRegister,
        classes: "govuk-label govuk-label--m"
    },
    hint: {
        text: entityTranslation.whichRegisterHint
    },
    id: "legal_entity_register_name",
    name: "legal_entity_register_name",
    value: entityType.legal_entity_register_name,
    errorMessage: props.errors.legal_entity_register_name if props.errors
}) }}

{# Registration number #}
{{ govukInput({
    label: {
        text: entityTranslation.registrationNumber,
        classes: "govuk-label govuk-label--m"
    },
    hint: {
        text: entityTranslation.registrationNumberHint
    },
    id: "registered_company_number",
    name: "registered_company_number",
    classes: "govuk-!-width-one-half",
    inputmode: "numeric",
    value: entityType.registered_company_number,
    errorMessage: props.errors.registered_company_number if props.errors
}) }}
