{% if props.errors and props.errors.errorList.length > 0 %}
  {{ govukErrorSummary({
    titleText: i18n.govUk.error.title,
    errorList: props.errors.errorList,
    attributes: {
      "tabindex": "0"
    }
  }) }}
{% endif %}