{# journeyTypes is set on res.locals in journey.detection.middleware #}
{% if journeyTypes.isRegistration %}
  {% set serviceName = SERVICE_NAME_REGISTRATION %}
  {% set serviceUrl = SERVICE_START_URL_REGISTRATION %}
{% elif journeyTypes.isTransition %}
  {% set serviceName = SERVICE_NAME_TRANSITION %}
  {% set serviceUrl = SERVICE_START_URL_TRANSITION %}
{% elif journeyTypes.isPostTransition %}
  {% set serviceName = SERVICE_NAME_POST_TRANSITION %}
  {% set serviceUrl = "/" %}
{% endif %}

{{ govukHeader({
  homepageUrl: "//www.gov.uk",
  containerClasses: "govuk-width-container",
  useTudorCrown: true
}) }}
{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: serviceUrl
}) }}
