{# journeyTypes is set on res.locals in journey.detection.middleware #}
{# serviceName is set on res.locals in service-name.middleware #}

{% if journeyTypes.isRegistration %}
  {% set headerServiceName = i18n.serviceRegistration %}
  {% set serviceUrl = SERVICE_START_URL_REGISTRATION %}
{% elif journeyTypes.isTransition %}
  {% set headerServiceName = i18n.serviceTransition %}
  {% set serviceUrl = SERVICE_START_URL_TRANSITION %}
{% elif journeyTypes.isPostTransition %}
  {% set headerServiceName = serviceName or i18n.servicePostTransition %}
  {% set serviceUrl = "/" %}
{% endif %}

{{ govukHeader({
  homepageUrl: "//www.gov.uk",
  containerClasses: "govuk-width-container",
  useTudorCrown: true
}) }}
{{ govukServiceNavigation({
  serviceName: headerServiceName,
  serviceUrl: serviceUrl
}) }}
