{# journeyTypes is set on res.locals in journey.detection.middleware #}
{% if journeyTypes.isRegistration %}
  {% set serviceName = SERVICE_NAME_REGISTRATION %}
{% elif journeyTypes.isTransition %}
  {% set serviceName = SERVICE_NAME_TRANSITION %}
{% elif journeyTypes.isPostTransition %}
  {% set serviceName = SERVICE_NAME_POST_TRANSITION %}
{% endif %}

{{ govukHeader({
  homepageUrl: "//www.gov.uk",
  serviceName: serviceName,
  serviceUrl: "/limited-partnerships",
  containerClasses: "govuk-width-container",
  useTudorCrown: true
}) }}