<form class="form" action={{ props.currentUrl }} method="post">
  <input type="hidden" name="pageType" value={{ props.pageType }}>  
 
  {% include "includes/csrf_token.njk" %}
      
  {% include "includes/errors.njk" %}
      
  {% include "includes/proposed-name.njk" %}  

  {{ govukRadios({
    classes: "govuk-radios",
    name: "parameter",
    fieldset: {
      legend: {
        text: i18n.whatIsYourJurisdiction.whereIsJurisdiction,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
      hint: {
      text: "This is where the partnership was formed. The registered office address and principal place of business will need to be in the same jurisdiction."
    }, 
    items: [
      {
        id: "jurisdiction",
        name: "jurisdiction",
        value: "England and Wales",
        text: i18n.whatIsYourJurisdiction.options.EnglandWales,
        attributes: {
          "required": true
        }
      },
      {
        id: "jurisdiction",
        name: "jurisdiction",
        value: "Northern Ireland",
        text: i18n.whatIsYourJurisdiction.options.NorthernIreland,
        attributes: {
          "required": true
        }
      }
    ]
  }) }}

  {% include "includes/save-and-continue-button.njk" %}

</form>
