{% include "includes/proposed-name.njk" %}        
<h1 class="govuk-heading-xl">{{ i18n.whereIsTheJurisdiction.scotland.title}}</h1>

<p class="govuk-body">{{ i18n.whereIsTheJurisdiction.scotland.information }}</p>

<p class="govuk-body">{{ i18n.whereIsTheJurisdiction.scotland.ifNotScotland }}</p>
      
<form class="form" action={{ props.currentUrl }} method="post">
  <input type="hidden" name="pageType" value={{ props.pageType }}>  
  <input type="hidden" name="jurisdiction" value="scotland">
  {% include "includes/csrf_token.njk" %}
  {% include "includes/errors.njk" %}
  {{ govukButton({
    text: i18n.buttons.saveAndContinue,
    attributes: {
      "id": "submit",
      "onclick": "_paq.push(['trackEvent', 'Limited Partnerships jurisdiction', 'jurisdiction', document.querySelector('input[name=jurisdiction]').value])"
    }
  }) }}
</form>
