{% macro formatAddress(address) %}
  {% set premises = '' %}
  {% set address_line_1 = '' %}
  {% set address_line_2 = '' %}
  {% set locality = '' %}

  {% if address.premises %}
    {% set premises = capitalizeEachWord(address.premises) + ' ' %}
  {% endif %}

  {% if address.address_line_1 %} 
    {% set address_line_1 = capitalizeEachWord(address.address_line_1) + ', ' %} 
  {% endif %}

  {% if address.address_line_2 %} 
    {% set address_line_2 = capitalizeEachWord(address.address_line_2) + ', ' %} 
  {% endif %}

  {% if address.locality %} 
    {% set locality = capitalizeEachWord(address.locality) + ', ' %} 
  {% endif %}

  {% set address = premises + address_line_1 + address_line_2 + locality + address.postal_code %}

  {{ address }}
{% endmacro %}

{%- macro capitalizeEachWord(str) -%}
  {%- set words = str.split(' ') -%}
  {%- set capitalizedWords = [] -%}
  {%- for word in words -%}
    {%- set subwords = word.split('-') -%}
    {%- set capitalizedSubwords = [] -%}
    {%- for subword in subwords -%}
      {%- set capitalizedSubword = subword | capitalize -%}
      {%- set capitalizedSubwords = capitalizedSubwords.concat(capitalizedSubword) -%}
    {%- endfor -%}
    {%- set capitalizedWord = capitalizedSubwords.join('-') -%}
    {%- set capitalizedWords = capitalizedWords.concat(capitalizedWord) -%}
  {%- endfor -%}
  {{- capitalizedWords.join(' ') -}}
{%- endmacro -%}

{% macro htmlInputErrorMessage(message) %}
  {% set errorMessage = "this.setCustomValidity('" + message + "')" %}

  {{ errorMessage }}
{% endmacro %}

{% macro htmlOptionErrorMessage(message, name) %}
  {% set errorMessage = "document.querySelectorAll('input[name=" + name + "]:checked').length === 0 ? this.setCustomValidity('" + message + "') : this.setCustomValidity('')" %}

  {{ errorMessage }}
{% endmacro %}
