{% macro formatAddress(address) %}
  {% set premise = '' %}
  {% set addressLine1 = '' %}
  {% set addressLine2 = '' %}
  {% set postTown = '' %}

  {% if address.premise %}
    {% set premise = address.premise | capitalize + ' ' %}
  {% endif %}

  {% if address.addressLine1 %} 
    {% set addressLine1 = address.addressLine1 | capitalize + ', ' %} 
  {% endif %}

  {% if address.addressLine2 %} 
    {% set addressLine2 = address.addressLine2 | capitalize + ', ' %} 
  {% endif %}

  {% if address.postTown %} 
    {% set postTown = address.postTown | capitalize + ', ' %} 
  {% endif %}

  {% set address = premise + addressLine1 + addressLine2 + postTown + address.postcode %}

  {{ address }}
{% endmacro %}

{% macro htmlInputErrorMessage(message) %}
  {% set errorMessage = "this.setCustomValidity('" + message + "')" %}

  {{ errorMessage }}
{% endmacro %}

{% macro htmlOptionErrorMessage(message, name) %}
  {% set errorMessage = "document.querySelectorAll('input[name=" + name + "]:checked').length === 0 ? this.setCustomValidity('" + message + "') : this.setCustomValidity('')" %}

  {{ errorMessage }}
{% endmacro %}
