{% set NATIONALITIES = SET_NATIONALITIES_DROPDOWN(i18n, nationalityField, nationalityFieldSelectPrompt) %}

{% if nationalityFieldRequired == 'true' %}
  {% set attributes = {required : "true"} %}
{% endif %}

{{ govukSelect({
  errorMessage: props.errors[nationalityFieldNameId] if props.errors,
  id: nationalityFieldNameId,
  name: nationalityFieldNameId,
  label: {
    text: nationalityFieldText,
    classes: "govuk-label govuk-label--m",
    isPageHeading: false
  },
  attributes : attributes,
  hint: {
    text: nationalityFieldHintText
  },
  items: NATIONALITIES
}) }}
