{% set NATIONALITIES = [
  { value: '', text: nationalityFieldSelectPrompt },
  { value: 'British', text: i18n.nationalities.british, selected: nationalityField === 'British' },
  { value: 'English', text: i18n.nationalities.english, selected: nationalityField === 'English' },
  { value: 'Northern Irish', text: i18n.nationalities.northernIrish, selected: nationalityField === 'Northern Irish' },
  { value: 'Scottish', text: i18n.nationalities.scottish, selected: nationalityField === 'Scottish' },
  { value: 'Welsh', text: i18n.nationalities.welsh, selected: nationalityField === 'Welsh' },
  { value: 'Afghan', text: i18n.nationalities.afghan, selected: nationalityField === 'Afghan' },
  { value: 'Albanian', text: i18n.nationalities.albanian, selected: nationalityField === 'Albanian' },
  { value: 'Algerian', text: i18n.nationalities.algerian, selected: nationalityField === 'Algerian' },
  { value: 'American', text: i18n.nationalities.american, selected: nationalityField === 'American' },
  { value: 'Andorran', text: i18n.nationalities.andorran, selected: nationalityField === 'Andorran' },
  { value: 'Angolan', text: i18n.nationalities.angolan, selected: nationalityField === 'Angolan' },
  { value: 'Anguillan', text: i18n.nationalities.anguillan, selected: nationalityField === 'Anguillan' },
  { value: 'Argentine', text: i18n.nationalities.argentine, selected: nationalityField === 'Argentine' },
  { value: 'Armenian', text: i18n.nationalities.armenian, selected: nationalityField === 'Armenian' },
  { value: 'Australian', text: i18n.nationalities.australian, selected: nationalityField === 'Australian' },
  { value: 'Austrian', text: i18n.nationalities.austrian, selected: nationalityField === 'Austrian' },
  { value: 'Azerbaijani', text: i18n.nationalities.azerbaijani, selected: nationalityField === 'Azerbaijani' },
  { value: 'Bahamian', text: i18n.nationalities.bahamian, selected: nationalityField === 'Bahamian' },
  { value: 'Bahraini', text: i18n.nationalities.bahraini, selected: nationalityField === 'Bahraini' },
  { value: 'Bangladeshi', text: i18n.nationalities.bangladeshi, selected: nationalityField === 'Bangladeshi' },
  { value: 'Barbadian', text: i18n.nationalities.barbadian, selected: nationalityField === 'Barbadian' },
  { value: 'Belarusian', text: i18n.nationalities.belarusian, selected: nationalityField === 'Belarusian' },
  { value: 'Belgian', text: i18n.nationalities.belgian, selected: nationalityField === 'Belgian' },
  { value: 'Belizean', text: i18n.nationalities.belizean, selected: nationalityField === 'Belizean' },
  { value: 'Beninese', text: i18n.nationalities.beninese, selected: nationalityField === 'Beninese' },
  { value: 'Bermudian', text: i18n.nationalities.bermudian, selected: nationalityField === 'Bermudian' },
  { value: 'Bhutanese', text: i18n.nationalities.bhutanese, selected: nationalityField === 'Bhutanese' },
  { value: 'Bolivian', text: i18n.nationalities.bolivian, selected: nationalityField === 'Bolivian' },
  { value: 'Botswanan', text: i18n.nationalities.botswanan, selected: nationalityField === 'Botswanan' },
  { value: 'Brazilian', text: i18n.nationalities.brazilian, selected: nationalityField === 'Brazilian' },
  { value: 'British Virgin Islander', text: i18n.nationalities.britishVirginIslander, selected: nationalityField === 'British Virgin Islander' },
  { value: 'Bruneian', text: i18n.nationalities.bruneian, selected: nationalityField === 'Bruneian' },
  { value: 'Bulgarian', text: i18n.nationalities.bulgarian, selected: nationalityField === 'Bulgarian' },
  { value: 'Burkinan', text: i18n.nationalities.burkinan, selected: nationalityField === 'Burkinan' },
  { value: 'Burmese', text: i18n.nationalities.burmese, selected: nationalityField === 'Burmese' },
  { value: 'Burundian', text: i18n.nationalities.burundian, selected: nationalityField === 'Burundian' },
  { value: 'Cambodian', text: i18n.nationalities.cambodian, selected: nationalityField === 'Cambodian' },
  { value: 'Cameroonian', text: i18n.nationalities.cameroonian, selected: nationalityField === 'Cameroonian' },
  { value: 'Canadian', text: i18n.nationalities.canadian, selected: nationalityField === 'Canadian' },
  { value: 'Cape Verdean', text: i18n.nationalities.capeVerdean, selected: nationalityField === 'Cape Verdean' },
  { value: 'Cayman Islander', text: i18n.nationalities.caymanIslander, selected: nationalityField === 'Cayman Islander' },
  { value: 'Central African', text: i18n.nationalities.centralAfrican, selected: nationalityField === 'Central African' },
  { value: 'Chadian', text: i18n.nationalities.chadian, selected: nationalityField === 'Chadian' },
  { value: 'Chilean', text: i18n.nationalities.chilean, selected: nationalityField === 'Chilean' },
  { value: 'Chinese', text: i18n.nationalities.chinese, selected: nationalityField === 'Chinese' },
  { value: 'Citizen of Antigua and Barbuda', text: i18n.nationalities.citizenOfAntiguaAndBarbuda, selected: nationalityField === 'Citizen of Antigua and Barbuda' },
  { value: 'Citizen of Bosnia and Herzegovina', text: i18n.nationalities.citizenOfBosniaAndHerzegovina, selected: nationalityField === 'Citizen of Bosnia and Herzegovina' },
  { value: 'Citizen of Guinea-Bissau', text: i18n.nationalities.citizenOfGuineaBissau, selected: nationalityField === 'Citizen of Guinea-Bissau' },
  { value: 'Citizen of Kiribati', text: i18n.nationalities.citizenOfKiribati, selected: nationalityField === 'Citizen of Kiribati' },
  { value: 'Citizen of Seychelles', text: i18n.nationalities.citizenOfSeychelles, selected: nationalityField === 'Citizen of Seychelles' },
  { value: 'Citizen of the Dominican Republic', text: i18n.nationalities.citizenOfTheDominicanRepublic, selected: nationalityField === 'Citizen of the Dominican Republic' },
  { value: 'Citizen of Vanuatu', text: i18n.nationalities.citizenOfVanuatu, selected: nationalityField === 'Citizen of Vanuatu' },
  { value: 'Colombian', text: i18n.nationalities.colombian, selected: nationalityField === 'Colombian' },
  { value: 'Comoran', text: i18n.nationalities.comoran, selected: nationalityField === 'Comoran' },
  { value: 'Congolese (Congo)', text: i18n.nationalities.congoleseCongo, selected: nationalityField === 'Congolese (Congo)' },
  { value: 'Congolese (DRC)', text: i18n.nationalities.congoleseDrc, selected: nationalityField === 'Congolese (DRC)' },
  { value: 'Cook Islander', text: i18n.nationalities.cookIslander, selected: nationalityField === 'Cook Islander' },
  { value: 'Costa Rican', text: i18n.nationalities.costaRican, selected: nationalityField === 'Costa Rican' },
  { value: 'Croatian', text: i18n.nationalities.croatian, selected: nationalityField === 'Croatian' },
  { value: 'Cuban', text: i18n.nationalities.cuban, selected: nationalityField === 'Cuban' },
  { value: 'Cymraes', text: i18n.nationalities.cymraes, selected: nationalityField === 'Cymraes' },
  { value: 'Cymro', text: i18n.nationalities.cymro, selected: nationalityField === 'Cymro' },
  { value: 'Cypriot', text: i18n.nationalities.cypriot, selected: nationalityField === 'Cypriot' },
  { value: 'Czech', text: i18n.nationalities.czech, selected: nationalityField === 'Czech' },
  { value: 'Danish', text: i18n.nationalities.danish, selected: nationalityField === 'Danish' },
  { value: 'Djiboutian', text: i18n.nationalities.djiboutian, selected: nationalityField === 'Djiboutian' },
  { value: 'Dominican', text: i18n.nationalities.dominican, selected: nationalityField === 'Dominican' },
  { value: 'Dutch', text: i18n.nationalities.dutch, selected: nationalityField === 'Dutch' },
  { value: 'East Timorese', text: i18n.nationalities.eastTimorese, selected: nationalityField === 'East Timorese' },
  { value: 'Ecuadorean', text: i18n.nationalities.ecuadorean, selected: nationalityField === 'Ecuadorean' },
  { value: 'Egyptian', text: i18n.nationalities.egyptian, selected: nationalityField === 'Egyptian' },
  { value: 'Emirati', text: i18n.nationalities.emirati, selected: nationalityField === 'Emirati' },
  { value: 'Equatorial Guinean', text: i18n.nationalities.equatorialGuinean, selected: nationalityField === 'Equatorial Guinean' },
  { value: 'Eritrean', text: i18n.nationalities.eritrean, selected: nationalityField === 'Eritrean' },
  { value: 'Estonian', text: i18n.nationalities.estonian, selected: nationalityField === 'Estonian' },
  { value: 'Ethiopian', text: i18n.nationalities.ethiopian, selected: nationalityField === 'Ethiopian' },
  { value: 'Faroese', text: i18n.nationalities.faroese, selected: nationalityField === 'Faroese' },
  { value: 'Fijian', text: i18n.nationalities.fijian, selected: nationalityField === 'Fijian' },
  { value: 'Filipino', text: i18n.nationalities.filipino, selected: nationalityField === 'Filipino' },
  { value: 'Finnish', text: i18n.nationalities.finnish, selected: nationalityField === 'Finnish' },
  { value: 'French', text: i18n.nationalities.french, selected: nationalityField === 'French' },
  { value: 'Gabonese', text: i18n.nationalities.gabonese, selected: nationalityField === 'Gabonese' },
  { value: 'Gambian', text: i18n.nationalities.gambian, selected: nationalityField === 'Gambian' },
  { value: 'Georgian', text: i18n.nationalities.georgian, selected: nationalityField === 'Georgian' },
  { value: 'German', text: i18n.nationalities.german, selected: nationalityField === 'German' },
  { value: 'Ghanaian', text: i18n.nationalities.ghanaian, selected: nationalityField === 'Ghanaian' },
  { value: 'Gibraltarian', text: i18n.nationalities.gibraltarian, selected: nationalityField === 'Gibraltarian' },
  { value: 'Greek', text: i18n.nationalities.greek, selected: nationalityField === 'Greek' },
  { value: 'Greenlandic', text: i18n.nationalities.greenlandic, selected: nationalityField === 'Greenlandic' },
  { value: 'Grenadian', text: i18n.nationalities.grenadian, selected: nationalityField === 'Grenadian' },
  { value: 'Guamanian', text: i18n.nationalities.guamanian, selected: nationalityField === 'Guamanian' },
  { value: 'Guatemalan', text: i18n.nationalities.guatemalan, selected: nationalityField === 'Guatemalan' },
  { value: 'Guinean', text: i18n.nationalities.guinean, selected: nationalityField === 'Guinean' },
  { value: 'Guyanese', text: i18n.nationalities.guyanese, selected: nationalityField === 'Guyanese' },
  { value: 'Haitian', text: i18n.nationalities.haitian, selected: nationalityField === 'Haitian' },
  { value: 'Honduran', text: i18n.nationalities.honduran, selected: nationalityField === 'Honduran' },
  { value: 'Hong Konger', text: i18n.nationalities.hongKonger, selected: nationalityField === 'Hong Konger' },
  { value: 'Hungarian', text: i18n.nationalities.hungarian, selected: nationalityField === 'Hungarian' },
  { value: 'Icelandic', text: i18n.nationalities.icelandic, selected: nationalityField === 'Icelandic' },
  { value: 'Indian', text: i18n.nationalities.indian, selected: nationalityField === 'Indian' },
  { value: 'Indonesian', text: i18n.nationalities.indonesian, selected: nationalityField === 'Indonesian' },
  { value: 'Iranian', text: i18n.nationalities.iranian, selected: nationalityField === 'Iranian' },
  { value: 'Iraqi', text: i18n.nationalities.iraqi, selected: nationalityField === 'Iraqi' },
  { value: 'Irish', text: i18n.nationalities.irish, selected: nationalityField === 'Irish' },
  { value: 'Israeli', text: i18n.nationalities.israeli, selected: nationalityField === 'Israeli' },
  { value: 'Italian', text: i18n.nationalities.italian, selected: nationalityField === 'Italian' },
  { value: 'Ivorian', text: i18n.nationalities.ivorian, selected: nationalityField === 'Ivorian' },
  { value: 'Jamaican', text: i18n.nationalities.jamaican, selected: nationalityField === 'Jamaican' },
  { value: 'Japanese', text: i18n.nationalities.japanese, selected: nationalityField === 'Japanese' },
  { value: 'Jordanian', text: i18n.nationalities.jordanian, selected: nationalityField === 'Jordanian' },
  { value: 'Kazakh', text: i18n.nationalities.kazakh, selected: nationalityField === 'Kazakh' },
  { value: 'Kenyan', text: i18n.nationalities.kenyan, selected: nationalityField === 'Kenyan' },
  { value: 'Kittitian', text: i18n.nationalities.kittitian, selected: nationalityField === 'Kittitian' },
  { value: 'Kosovan', text: i18n.nationalities.kosovan, selected: nationalityField === 'Kosovan' },
  { value: 'Kuwaiti', text: i18n.nationalities.kuwaiti, selected: nationalityField === 'Kuwaiti' },
  { value: 'Kyrgyz', text: i18n.nationalities.kyrgyz, selected: nationalityField === 'Kyrgyz' },
  { value: 'Lao', text: i18n.nationalities.lao, selected: nationalityField === 'Lao' },
  { value: 'Latvian', text: i18n.nationalities.latvian, selected: nationalityField === 'Latvian' },
  { value: 'Lebanese', text: i18n.nationalities.lebanese, selected: nationalityField === 'Lebanese' },
  { value: 'Liberian', text: i18n.nationalities.liberian, selected: nationalityField === 'Liberian' },
  { value: 'Libyan', text: i18n.nationalities.libyan, selected: nationalityField === 'Libyan' },
  { value: 'Liechtenstein citizen', text: i18n.nationalities.liechtensteinCitizen, selected: nationalityField === 'Liechtenstein citizen' },
  { value: 'Lithuanian', text: i18n.nationalities.lithuanian, selected: nationalityField === 'Lithuanian' },
  { value: 'Luxembourger', text: i18n.nationalities.luxembourger, selected: nationalityField === 'Luxembourger' },
  { value: 'Macanese', text: i18n.nationalities.macanese, selected: nationalityField === 'Macanese' },
  { value: 'Macedonian', text: i18n.nationalities.macedonian, selected: nationalityField === 'Macedonian' },
  { value: 'Malagasy', text: i18n.nationalities.malagasy, selected: nationalityField === 'Malagasy' },
  { value: 'Malawian', text: i18n.nationalities.malawian, selected: nationalityField === 'Malawian' },
  { value: 'Malaysian', text: i18n.nationalities.malaysian, selected: nationalityField === 'Malaysian' },
  { value: 'Maldivian', text: i18n.nationalities.maldivian, selected: nationalityField === 'Maldivian' },
  { value: 'Malian', text: i18n.nationalities.malian, selected: nationalityField === 'Malian' },
  { value: 'Maltese', text: i18n.nationalities.maltese, selected: nationalityField === 'Maltese' },
  { value: 'Marshallese', text: i18n.nationalities.marshallese, selected: nationalityField === 'Marshallese' },
  { value: 'Martiniquais', text: i18n.nationalities.martiniquais, selected: nationalityField === 'Martiniquais' },
  { value: 'Mauritanian', text: i18n.nationalities.mauritanian, selected: nationalityField === 'Mauritanian' },
  { value: 'Mauritian', text: i18n.nationalities.mauritian, selected: nationalityField === 'Mauritian' },
  { value: 'Mexican', text: i18n.nationalities.mexican, selected: nationalityField === 'Mexican' },
  { value: 'Micronesian', text: i18n.nationalities.micronesian, selected: nationalityField === 'Micronesian' },
  { value: 'Moldovan', text: i18n.nationalities.moldovan, selected: nationalityField === 'Moldovan' },
  { value: 'Monegasque', text: i18n.nationalities.monegasque, selected: nationalityField === 'Monegasque' },
  { value: 'Mongolian', text: i18n.nationalities.mongolian, selected: nationalityField === 'Mongolian' },
  { value: 'Montenegrin', text: i18n.nationalities.montenegrin, selected: nationalityField === 'Montenegrin' },
  { value: 'Montserratian', text: i18n.nationalities.montserratian, selected: nationalityField === 'Montserratian' },
  { value: 'Moroccan', text: i18n.nationalities.moroccan, selected: nationalityField === 'Moroccan' },
  { value: 'Mosotho', text: i18n.nationalities.mosotho, selected: nationalityField === 'Mosotho' },
  { value: 'Mozambican', text: i18n.nationalities.mozambican, selected: nationalityField === 'Mozambican' },
  { value: 'Namibian', text: i18n.nationalities.namibian, selected: nationalityField === 'Namibian' },
  { value: 'Nauruan', text: i18n.nationalities.nauruan, selected: nationalityField === 'Nauruan' },
  { value: 'Nepalese', text: i18n.nationalities.nepalese, selected: nationalityField === 'Nepalese' },
  { value: 'New Zealander', text: i18n.nationalities.newZealander, selected: nationalityField === 'New Zealander' },
  { value: 'Nicaraguan', text: i18n.nationalities.nicaraguan, selected: nationalityField === 'Nicaraguan' },
  { value: 'Nigerian', text: i18n.nationalities.nigerian, selected: nationalityField === 'Nigerian' },
  { value: 'Nigerien', text: i18n.nationalities.nigerien, selected: nationalityField === 'Nigerien' },
  { value: 'Niuean', text: i18n.nationalities.niuean, selected: nationalityField === 'Niuean' },
  { value: 'North Korean', text: i18n.nationalities.northKorean, selected: nationalityField === 'North Korean' },
  { value: 'Norwegian', text: i18n.nationalities.norwegian, selected: nationalityField === 'Norwegian' },
  { value: 'Omani', text: i18n.nationalities.omani, selected: nationalityField === 'Omani' },
  { value: 'Pakistani', text: i18n.nationalities.pakistani, selected: nationalityField === 'Pakistani' },
  { value: 'Palauan', text: i18n.nationalities.palauan, selected: nationalityField === 'Palauan' },
  { value: 'Palestinian', text: i18n.nationalities.palestinian, selected: nationalityField === 'Palestinian' },
  { value: 'Panamanian', text: i18n.nationalities.panamanian, selected: nationalityField === 'Panamanian' },
  { value: 'Papua New Guinean', text: i18n.nationalities.papuaNewGuinean, selected: nationalityField === 'Papua New Guinean' },
  { value: 'Paraguayan', text: i18n.nationalities.paraguayan, selected: nationalityField === 'Paraguayan' },
  { value: 'Peruvian', text: i18n.nationalities.peruvian, selected: nationalityField === 'Peruvian' },
  { value: 'Pitcairn Islander', text: i18n.nationalities.pitcairnIslander, selected: nationalityField === 'Pitcairn Islander' },
  { value: 'Polish', text: i18n.nationalities.polish, selected: nationalityField === 'Polish' },
  { value: 'Portuguese', text: i18n.nationalities.portuguese, selected: nationalityField === 'Portuguese' },
  { value: 'Prydeinig', text: i18n.nationalities.prydeinig, selected: nationalityField === 'Prydeinig' },
  { value: 'Puerto Rican', text: i18n.nationalities.puertoRican, selected: nationalityField === 'Puerto Rican' },
  { value: 'Qatari', text: i18n.nationalities.qatari, selected: nationalityField === 'Qatari' },
  { value: 'Romanian', text: i18n.nationalities.romanian, selected: nationalityField === 'Romanian' },
  { value: 'Russian', text: i18n.nationalities.russian, selected: nationalityField === 'Russian' },
  { value: 'Rwandan', text: i18n.nationalities.rwandan, selected: nationalityField === 'Rwandan' },
  { value: 'Salvadorean', text: i18n.nationalities.salvadorean, selected: nationalityField === 'Salvadorean' },
  { value: 'Sammarinese', text: i18n.nationalities.sammarinese, selected: nationalityField === 'Sammarinese' },
  { value: 'Samoan', text: i18n.nationalities.samoan, selected: nationalityField === 'Samoan' },
  { value: 'Sao Tomean', text: i18n.nationalities.saoTomean, selected: nationalityField === 'Sao Tomean' },
  { value: 'Saudi Arabian', text: i18n.nationalities.saudiArabian, selected: nationalityField === 'Saudi Arabian' },
  { value: 'Senegalese', text: i18n.nationalities.senegalese, selected: nationalityField === 'Senegalese' },
  { value: 'Serbian', text: i18n.nationalities.serbian, selected: nationalityField === 'Serbian' },
  { value: 'Sierra Leonean', text: i18n.nationalities.sierraLeonean, selected: nationalityField === 'Sierra Leonean' },
  { value: 'Singaporean', text: i18n.nationalities.singaporean, selected: nationalityField === 'Singaporean' },
  { value: 'Slovak', text: i18n.nationalities.slovak, selected: nationalityField === 'Slovak' },
  { value: 'Slovenian', text: i18n.nationalities.slovenian, selected: nationalityField === 'Slovenian' },
  { value: 'Solomon Islander', text: i18n.nationalities.solomonIslander, selected: nationalityField === 'Solomon Islander' },
  { value: 'Somali', text: i18n.nationalities.somali, selected: nationalityField === 'Somali' },
  { value: 'South African', text: i18n.nationalities.southAfrican, selected: nationalityField === 'South African' },
  { value: 'South Korean', text: i18n.nationalities.southKorean, selected: nationalityField === 'South Korean' },
  { value: 'South Sudanese', text: i18n.nationalities.southSudanese, selected: nationalityField === 'South Sudanese' },
  { value: 'Spanish', text: i18n.nationalities.spanish, selected: nationalityField === 'Spanish' },
  { value: 'Sri Lankan', text: i18n.nationalities.sriLankan, selected: nationalityField === 'Sri Lankan' },
  { value: 'St Helenian', text: i18n.nationalities.stHelenian, selected: nationalityField === 'St Helenian' },
  { value: 'St Lucian', text: i18n.nationalities.stLucian, selected: nationalityField === 'St Lucian' },
  { value: 'Stateless', text: i18n.nationalities.stateless, selected: nationalityField === 'Stateless' },
  { value: 'Sudanese', text: i18n.nationalities.sudanese, selected: nationalityField === 'Sudanese' },
  { value: 'Surinamese', text: i18n.nationalities.surinamese, selected: nationalityField === 'Surinamese' },
  { value: 'Swazi', text: i18n.nationalities.swazi, selected: nationalityField === 'Swazi' },
  { value: 'Swedish', text: i18n.nationalities.swedish, selected: nationalityField === 'Swedish' },
  { value: 'Swiss', text: i18n.nationalities.swiss, selected: nationalityField === 'Swiss' },
  { value: 'Syrian', text: i18n.nationalities.syrian, selected: nationalityField === 'Syrian' },
  { value: 'Taiwanese', text: i18n.nationalities.taiwanese, selected: nationalityField === 'Taiwanese' },
  { value: 'Tajik', text: i18n.nationalities.tajik, selected: nationalityField === 'Tajik' },
  { value: 'Tanzanian', text: i18n.nationalities.tanzanian, selected: nationalityField === 'Tanzanian' },
  { value: 'Thai', text: i18n.nationalities.thai, selected: nationalityField === 'Thai' },
  { value: 'Togolese', text: i18n.nationalities.togolese, selected: nationalityField === 'Togolese' },
  { value: 'Tongan', text: i18n.nationalities.tongan, selected: nationalityField === 'Tongan' },
  { value: 'Trinidadian', text: i18n.nationalities.trinidadian, selected: nationalityField === 'Trinidadian' },
  { value: 'Tristanian', text: i18n.nationalities.tristanian, selected: nationalityField === 'Tristanian' },
  { value: 'Tunisian', text: i18n.nationalities.tunisian, selected: nationalityField === 'Tunisian' },
  { value: 'Turkish', text: i18n.nationalities.turkish, selected: nationalityField === 'Turkish' },
  { value: 'Turkmen', text: i18n.nationalities.turkmen, selected: nationalityField === 'Turkmen' },
  { value: 'Turks and Caicos Islander', text: i18n.nationalities.turksAndCaicosIslander, selected: nationalityField === 'Turks and Caicos Islander' },
  { value: 'Tuvaluan', text: i18n.nationalities.tuvaluan, selected: nationalityField === 'Tuvaluan' },
  { value: 'Ugandan', text: i18n.nationalities.ugandan, selected: nationalityField === 'Ugandan' },
  { value: 'Ukrainian', text: i18n.nationalities.ukrainian, selected: nationalityField === 'Ukrainian' },
  { value: 'Uruguayan', text: i18n.nationalities.uruguayan, selected: nationalityField === 'Uruguayan' },
  { value: 'Uzbek', text: i18n.nationalities.uzbek, selected: nationalityField === 'Uzbek' },
  { value: 'Vatican citizen', text: i18n.nationalities.vaticanCitizen, selected: nationalityField === 'Vatican citizen' },
  { value: 'Venezuelan', text: i18n.nationalities.venezuelan, selected: nationalityField === 'Venezuelan' },
  { value: 'Vietnamese', text: i18n.nationalities.vietnamese, selected: nationalityField === 'Vietnamese' },
  { value: 'Vincentian', text: i18n.nationalities.vincentian, selected: nationalityField === 'Vincentian' },
  { value: 'Wallisian', text: i18n.nationalities.wallisian, selected: nationalityField === 'Wallisian' },
  { value: 'Yemeni', text: i18n.nationalities.yemeni, selected: nationalityField === 'Yemeni' },
  { value: 'Zambian', text: i18n.nationalities.zambian, selected: nationalityField === 'Zambian' },
  { value: 'Zimbabwean', text: i18n.nationalities.zimbabwean, selected: nationalityField === 'Zimbabwean' }
] %}

{% if nationalityFieldRequired == 'true' %}
  {% set attributes = {required : "true"} %}
{% endif %}

{{ govukSelect({
  errorMessage: props.errors[nationalityFieldNameId] if props.errors,
  id: nationalityFieldNameId,
  name: nationalityFieldNameId,
  label: {
    text: nationalityFieldText,
    classes: "govuk-label govuk-label--m",
    isPageHeading: false
  },
  attributes : attributes,
  hint: {
    text: nationalityFieldHintText
  },
  items: NATIONALITIES
}) }}
