{% set prefix = "" %}
{% if props.errors and props.errors.errorList.length > 0  %}
    {% set prefix = i18n.error %}
{% endif %}  

{% if journeyTypes.isRegistration %}
    {{ prefix }} {{ pageTitle }} - {{ i18n.serviceRegistration }} - GOV.UK
{% elif journeyTypes.isTransition %}
    {{ prefix }} {{ pageTitle }} - {{ i18n.serviceTransition }} - GOV.UK
{% else %}
    {{ prefix }} {{ pageTitle }} - {{ serviceName or i18n.servicePostTransition }} - GOV.UK
{% endif %}