{% if journeyTypes.isRegistration %}
  {% set bannerTitle = i18n.govUk.banner.titleRegistration %}
{% else %}
  {% set bannerTitle = i18n.govUk.banner.titleTransition %}
{% endif %}

{{ govukPhaseBanner({
  tag: {
    text: i18n.govUk.banner.tag
  },
  html: bannerTitle
}) }}