<span class="govuk-caption-l">
    {% if journeyTypes.isRegistration %}
        {{ props.data.limitedPartnership.data.partnership_name | upper }} {{ props.data.limitedPartnership.data.name_ending | upper }}
    {% elif journeyTypes.isTransition or journeyTypes.isPostTransition %}
        {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number | upper }})
    {% endif %}
</span>
