{% if journeyTypes.isRegistration %}
    <span class="govuk-caption-l">
        {{ props.data.limitedPartnership.data.partnership_name | upper }} {{ props.data.limitedPartnership.data.name_ending | upper }}
    </span>
{% elif journeyTypes.isTransition %}
    <span class="govuk-caption-l">
    {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number | upper }})
    </span>
{% endif %}