{% set COUNTRIES = [
  { value: '', text: i18n.countries.selectOne },
  { value: 'England', text: i18n.countries.england, selected: countryField === 'England' },
  { value: 'Northern Ireland', text: i18n.countries.northernIreland, selected: countryField === 'Northern Ireland' },
  { value: 'Scotland', text: i18n.countries.scotland, selected: countryField === 'Scotland' },
  { value: 'Wales', text: i18n.countries.wales, selected: countryField === 'Wales' }
] %}


{{ govukSelect({
  id: countryFormId,
  name: countryFormId,
  value: countryFormValue,
  label: {
    text: countryText,
    classes: countryFont,
    isPageHeading: false
  },
  errorMessage: countryErrorMessage,
  attributes : {
    required: "true"
  },
  items: COUNTRIES
}) }}