{% set message = i18n.confirmationPage.postTransition.partner.partnerName %}  
{% if props.data.subtype === "limited-partnership#update-partnership-registered-office-address" %}
  {% set message = i18n.confirmationPage.postTransition.registeredOfficeAddress %}
{% elif props.data.subtype === "limited-partnership#update-partnership-term" %}
  {% set message = i18n.confirmationPage.postTransition.term %}
{% endif %}
<p class="govuk-body">{{ message }} {{ partnerName }} {{ partnerType }} {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number }}).</p>