{{ govukDetails({
  summaryText: i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.title,
  html: 
    '<p>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.line1 | escape + '</p>' 
    + '<p>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.line2 | escape + '</p>'
      + '<ul>'
          + '<li>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.bullet1 | escape + '</li>'
          + '<li>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.bullet2 | escape + '</li>'
          + '<li>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.bullet3 | escape + '</li>'
          + '<li>' + i18n.personWithSignificantControl.relevantLegalEntityAndOtherRegistrablePersonInformation.bullet4 | escape + '</li>'
      + '</ul>'
}) }}