{% extends "layout.njk" %}

{% if props.data.limitedPartnership.data.date_of_update  %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_of_update = props.data.limitedPartnership.data.date_of_update %}
  {% set date_of_update_year = date_of_update[0] + date_of_update[1] + date_of_update[2] + date_of_update[3] %}
  {% set date_of_update_month = date_of_update[5] + date_of_update[6] %}
  {% set date_of_update_day = date_of_update[8] + date_of_update[9] %}
{% elif props.data.limitedPartnership.data["date_of_update-year"] %}
  {# And this covers the scenario when date validation fails and the page reloads #}
  {% set date_of_update_year = props.data.limitedPartnership.data["date_of_update-year"] %}
  {% set date_of_update_month = props.data.limitedPartnership.data["date_of_update-month"] %}
  {% set date_of_update_day = props.data.limitedPartnership.data["date_of_update-day"] %}
{% endif %}

{% set publicRegisterInformationLine1 = i18n.whenDidTheAddressChangePage.publicInformationLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/errors.njk" %}

      {% include "includes/proposed-name.njk" %}

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}> 
        {% include "includes/csrf_token.njk" %}

        {{ govukDateInput({
          id: "date_of_update",
          namePrefix: "date_of_update",
          errorMessage: props.errors.date_of_update if props.errors,
          fieldset: {
            legend: {
              text: title,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: i18n.whenDidTheAddressChangePage.dateHint
          },
          items: [
            {
              classes: "govuk-input--width-2",
              label: i18n.whenDidTheAddressChangePage.dateDay,
              name: "day",
              value: date_of_update_day,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-2",
              label: i18n.whenDidTheAddressChangePage.dateMonth,
              name: "month",
              value: date_of_update_month,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-4",
              label: i18n.whenDidTheAddressChangePage.dateYear,
              name: "year",
              value: date_of_update_year,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            }
          ]
        }) }}

        {% include "includes/save-and-continue-button.njk" %}
      </form>
      <div>
        {% include "includes/public-register-information.njk" %}
      </div>
    </div>
  </div>

{% endblock %}