{% extends "layout.njk" %}

{% set publicRegisterInformationLine1 = i18n.personWithSignificantControl.addNatureOfControlPage.publicRegisterInformationLine1 %}

{% set pscType = 'individual' %}
{% if props.data.personWithSignificantControl.data.type == "RELEVANT_LEGAL_ENTITY" %}
    {% set pscType = 'RLE' %}
{% elif props.data.personWithSignificantControl.data.type == "OTHER_REGISTRABLE_PERSON" %}
    {% set pscType = 'ORP' %}
{% endif %}

{% set pageTitle = i18n.personWithSignificantControl.addNatureOfControlPage.firm.title %}
{% set pageTitleHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.titleHint | replace("individual", pscType) %}
{% set shareOfAssetsHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.shareOfAssetsHint  %}
{% set votingRightsHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.votingRightsHint  %}
{% set ownershipCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.firm.ownershipCheckboxText  %}
{% set sigInfluenceCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.firm.sigInfluenceCheckboxText  %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            {% include "includes/errors.njk" %}
        
            {% include "pages/personWithSignificantControl/person-with-significant-control-name.njk" %}

            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
            <p class="govuk-hint govuk-!-margin-top-0">{{ pageTitleHint }}</p>

            <form class="form" method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}>
                <input type="hidden" name="type" value={{ props.data.natureOfControlType }}>
                {% include "includes/csrf_token.njk" %}

                {% include "pages/natureOfControl/nature-of-control-radio.njk" %}

                {% include "includes/public-register-information.njk" %}

                {% include "includes/save-and-continue-button.njk" %}
            </form>

        </div>
    </div>
{% endblock %}