{% extends "layout.njk" %}

{% set pageTitle = i18n.personWithSignificantControl.addNatureOfControlPage.individual.title %}
{% set publicRegisterInformationLine1 = i18n.personWithSignificantControl.addNatureOfControlPage.publicRegisterInformationLine1 %}
{% set shareOfAssetsHint = i18n.personWithSignificantControl.addNatureOfControlPage.individual.shareOfAssetsHint %}
{% set votingRightsHint = i18n.personWithSignificantControl.addNatureOfControlPage.individual.votingRightsHint %}

{% block content %}
{{ props.data.natureOfControlType }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            {% include "includes/errors.njk" %}
        
            {% include "pages/personWithSignificantControl/person-with-significant-control-name.njk" %}
            
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
            <p class="govuk-hint govuk-!-margin-top-0">{{ i18n.personWithSignificantControl.addNatureOfControlPage.individual.titleHint }}</p>

            <form class="form" method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}> 
                <input type="hidden" name="type" value={{ props.data.natureOfControlType }}>     
                {% include "includes/csrf_token.njk" %}

                    {% include "pages/natureOfControl/nature-of-control-radio.njk" %}

                    {% include "includes/public-register-information.njk" %}

                    {% include "includes/save-and-continue-button.njk" %}
            </form>

        </div>
    </div>

{% endblock %}