{% extends "layout.njk" %}

{% set pageTitle = i18n.addPartnerPersonPage.limitedPartner.title %}
{% set publicRegisterInformationLine1 = i18n.addPartnerPersonPage.publicRegisterLine1 %}
{% set publicRegisterInformationLine2 = i18n.addPartnerPersonPage.publicRegisterLine2 %}
{% set partnershipType = props.data.limitedPartnership.data.partnership_type %}

{% if props.data.limitedPartner.data.date_of_birth  %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_of_birth = props.data.limitedPartner.data.date_of_birth %}
  {% set date_of_birth_year = date_of_birth[0] + date_of_birth[1] + date_of_birth[2] + date_of_birth[3] %}
  {% set date_of_birth_month = date_of_birth[5] + date_of_birth[6] %}
  {% set date_of_birth_day = date_of_birth[8] + date_of_birth[9] %}
{% elif props.data.limitedPartner.data["date_of_birth-year"] %}
  {# And this covers the scenario when date validation fails and the page reloads #}
  {% set date_of_birth_year = props.data.limitedPartner.data["date_of_birth-year"] %}
  {% set date_of_birth_month = props.data.limitedPartner.data["date_of_birth-month"] %}
  {% set date_of_birth_day = props.data.limitedPartner.data["date_of_birth-day"] %}
{% endif %}

{% if props.data.limitedPartner.data.date_effective_from  %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_effective_from = props.data.limitedPartner.data.date_effective_from %}
  {% set date_effective_from_year = date_effective_from[0] + date_effective_from[1] + date_effective_from[2] + date_effective_from[3] %}
  {% set date_effective_from_month = date_effective_from[5] + date_effective_from[6] %}
  {% set date_effective_from_day = date_effective_from[8] + date_effective_from[9] %}
{% elif props.data.limitedPartner.data["date_effective_from-year"] %}
  {# And this covers the scenario when date validation fails and the page reloads #}
  {% set date_effective_from_year = props.data.limitedPartner.data["date_effective_from-year"] %}
  {% set date_effective_from_month = props.data.limitedPartner.data["date_effective_from-month"] %}
  {% set date_effective_from_day = props.data.limitedPartner.data["date_effective_from-day"] %}
{% endif %}

{% if props.data.limitedPartner.data.former_names %}
  {% set previousNames = "true" %}
{% elseif props.data.limitedPartner.data.forename %}
  {# After the first check, if any other limited partner person field is set, they cannot have a previous name #}
  {% set previousNames = "false" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>     
        <input type="hidden" name="partnershipType" value={{ partnershipType }}>
        {% include "includes/csrf_token.njk" %}

        {% include "includes/errors.njk" %}
        
        {% include "includes/proposed-name.njk" %}  
    
        <h1 class="govuk-heading-xl">{{ i18n.addPartnerPersonPage.limitedPartner.title }}</h1>

        {{ govukInput({
          label: {
            text: i18n.addPartnerPersonPage.firstName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: false
          },
          id: "forename",
          name: "forename",
          value: props.data.limitedPartner.data.forename,
          classes: "govuk-!-width-full",
          errorMessage: props.errors.forename if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerPersonPage.lastName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: false
          },
          id: "surname",
          name: "surname",
          value: props.data.limitedPartner.data.surname,
          classes: "govuk-!-width-full",
          errorMessage: props.errors.surname if props.errors,
          attributes : {
            required : true
          }
        }) }}

        {% set previousHtmlPerson %}
          {{ govukInput({
            label: {
              text: i18n.addPartnerPersonPage.limitedPartner.previousName.yesHintTitle
            },
            hint: {
              text: i18n.addPartnerPersonPage.limitedPartner.previousName.yesHint
            },
            id: "former_names",
            name: "former_names",
            value: props.data.limitedPartner.data.former_names,
            errorMessage: props.errors.former_names if props.errors
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "previousName",
          value: previousNames,
          fieldset: {
            legend: {
              text: i18n.addPartnerPersonPage.limitedPartner.previousName.title,
              isPageHeading: true,
              classes: "govuk-label govuk-label--m"
            }
          },
          hint: {
            text: i18n.addPartnerPersonPage.limitedPartner.previousName.hint
          },

          items: [
            {
              value: "true",
              text: i18n.addPartnerPersonPage.limitedPartner.previousName.yes,
              id: "previousNameYes",
              name: "previousNameYes",
              attributes: {
                required: true,
                "role": "radiogroup"
              },
              conditional: {
                html: previousHtmlPerson
              }
            },
            {
              value: "false",
              text: i18n.addPartnerPersonPage.limitedPartner.previousName.no,
              id: "previousNameNo",
              name: "previousNameNo",
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "date_of_birth",
          namePrefix: "date_of_birth",
          errorMessage: props.errors.date_of_birth if props.errors,
          fieldset: {
            legend: {
              text: i18n.addPartnerPersonPage.dateOfBirth,
              isPageHeading: true,
              classes: "govuk-label govuk-label--m"
            }
          },
          hint: {
            text: i18n.addPartnerPersonPage.dateHint
          },
          items: [
            {
              classes: "govuk-input--width-2",
              label: i18n.addPartnerPersonPage.dateDay,
              name: "day",
              value: date_of_birth_day,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-2",
              label: i18n.addPartnerPersonPage.dateMonth,
              name: "month",
              value: date_of_birth_month,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-4",
              label: i18n.addPartnerPersonPage.dateYear,
              name: "year",
              value: date_of_birth_year,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            }
          ]
        }) }}

        {% set nationalityField = props.data.limitedPartner.data.nationality1 %}
        {% set nationalityFieldSelectPrompt = i18n.addPartnerPersonPage.nationalitySelectPrompt %}
        {% set nationalityFieldRequired = "true" %}
        {% set nationalityFieldText = i18n.addPartnerPersonPage.nationality %}
        {% set nationalityFieldHintText = "" %}
        {% set nationalityFieldNameId = "nationality1" %}
        {% include "includes/nationalities.njk" %}

        {% set nationalityField = props.data.limitedPartner.data.nationality2 %}
        {% set nationalityFieldSelectPrompt = i18n.addPartnerPersonPage.secondNationalitySelectPrompt %}
        {% set nationalityFieldRequired = "false" %}
        {% set nationalityFieldText = i18n.addPartnerPersonPage.secondNationality %}
        {% set nationalityFieldHintText = i18n.addPartnerPersonPage.secondNationalityHint  %}
        {% set nationalityFieldNameId = "nationality2" %}
        {% include "includes/nationalities.njk" %}
        
        {% include "includes/capital-contribution.njk" %}   

        {% if journeyTypes.isTransition %}
          {{ govukDateInput({
            id: "date_effective_from",
            namePrefix: "date_effective_from",
            errorMessage: props.errors.date_effective_from if props.errors,
            fieldset: {
              legend: {
                text: i18n.addPartnerPersonPage.limitedPartner.dateEffectiveFrom,
                isPageHeading: true,
                classes: "govuk-label govuk-label--m"
              }
            },
            hint: {
              text: i18n.addPartnerPersonPage.dateHint
            },
            items: [
              {
                classes: "govuk-input--width-2",
                label: i18n.addPartnerPersonPage.dateDay,
                name: "day",
                value: date_effective_from_day,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-2",
                label: i18n.addPartnerPersonPage.dateMonth,
                name: "month",
                value: date_effective_from_month,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-4",
                label: i18n.addPartnerPersonPage.dateYear,
                name: "year",
                value: date_effective_from_year,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              }
            ]
          }) }}
        {% endif %}  

        <div>
          {% include "includes/public-register-information.njk" %}
        </div>

        {% include "includes/save-and-continue-button.njk" %}
      </form>

    </div>
  </div>

  {% include "includes/validators.njk" %}

{% endblock %}