{% extends "layout.njk" %}
 
{% set pageTitle = i18n.addGeneralPartnerLegalEntityPage.title %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>      
        {% include "includes/csrf_token.njk" %}

        {% include "includes/errors.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        <h1 class="govuk-heading-xl">{{ i18n.addGeneralPartnerLegalEntityPage.title }}</h1>

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerLegalEntityPage.legalEntityName,
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "gp1EntityNamme",
          name: "gp1EntityName"
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerLegalEntityPage.legalFormOrCorporateIdentity,
            classes: "govuk-label--m"
          },
          hint: {
            text: i18n.addGeneralPartnerLegalEntityPage.legalFormOrCorporateIdentityHint
          },
          id: "gp1LegalForm",
          name: "gp1LegalForm"
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerLegalEntityPage.governingLaw,
            classes: "govuk-label--m"
          },
          hint: {
            text: i18n.addGeneralPartnerLegalEntityPage.governingLawHint
          },
          id: "gp1GoverningLaw",
          name: "gp1GoverningLaw"
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerLegalEntityPage.whichRegister,
            classes: "govuk-label--m"
          },
          hint: {
            text: i18n.addGeneralPartnerLegalEntityPage.whichRegisterHint
          },
          id: "gp1Register",
          name: "gp1Register"
        }) }}

        {% set countryField = props.data.generalPartner.data.country %}
        {% set countryText = i18n.addGeneralPartnerLegalEntityPage.countryRegistered %}
        {% include "includes/countries.njk" %}

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerLegalEntityPage.registrationNumber,
            classes: "govuk-label--m"
          },
          hint: {
            text: i18n.addGeneralPartnerLegalEntityPage.registrationNumberHint
          },
          id: "gp1RegistrationNumber",
          name: "gp1RegistrationNumber",
            classes: "govuk-!-width-one-half",
          inputmode: "numeric",
          spellcheck: false
        }) }}

        {{ govukCheckboxes({
          name: "gp1LegalFormStatement",
          fieldset: {
            legend: {
              text: i18n.addGeneralPartnerLegalEntityPage.legalFormStatement,
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "gp1LegalFormStatement",
              text: i18n.addGeneralPartnerLegalEntityPage.legalFormStatement
            }
          ]
        }) }}

        {{ govukInsetText({
            html: "<h2 class='govuk-heading-m'>" + i18n.addGeneralPartnerLegalEntityPage.publicRegisterTitle | escape + "</h2>" + 
              "<p>" + i18n.addGeneralPartnerLegalEntityPage.publicRegisterLine1 | escape + "</p>"
        }) }}
 
        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>
  
{% endblock %}
