{% extends "layout.njk" %}

{% set pscType = 'individual' %}
{% if props.data.personWithSignificantControl.data.type == "RELEVANT_LEGAL_ENTITY" %}
    {% set pscType = 'RLE' %}
{% elif props.data.personWithSignificantControl.data.type == "OTHER_REGISTRABLE_PERSON" %}
    {% set pscType = 'ORP' %}
{% endif %}

{% set pageTitle = i18n.personWithSignificantControl.addNatureOfControlPage.individual.title | replace("individual", pscType) %}
{% set pageTitleHint = i18n.personWithSignificantControl.addNatureOfControlPage.individual.titleHint | replace("individual", pscType) %}
{% set shareOfAssetsHint = i18n.personWithSignificantControl.addNatureOfControlPage.individual.shareOfAssetsHint | replace("individual", pscType)  %}
{% set votingRightsHint = i18n.personWithSignificantControl.addNatureOfControlPage.individual.votingRightsHint | replace("individual", pscType)  %}
{% set ownershipCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.individual.ownershipCheckboxText | replace("individual", pscType)  %}
{% set sigInfluenceCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.individual.sigInfluenceCheckboxText | replace("individual", pscType)  %}

{% block content %}
    {% include "pages/natureOfControl/nature-of-control-form.njk" %}
{% endblock %}