{% extends "layout.njk" %}

{% set pageTitle = i18n.personWithSignificantControl.addRelevantLegalEntity.title %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ i18n.personWithSignificantControl.addRelevantLegalEntity.title }}</h1>
            <p>{{ i18n.personWithSignificantControl.addRelevantLegalEntity.pageInformation or "" }}</p>
        </div>
    </div>
{% endblock %}

