{% extends "layout.njk" %}

{% set pageTitle = i18n.personWithSignificantControl.addOtherRegistrablePerson.title %}
{% set publicRegisterInformationLine1 = i18n.personWithSignificantControl.addOtherRegistrablePerson.publicRegisterLine1 %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/errors.njk" %}

            {% include "includes/proposed-name.njk" %}

            <h1 class="govuk-heading-xl">{{ i18n.personWithSignificantControl.addOtherRegistrablePerson.title }}</h1>

            <form class="form" method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}>
                {% include "includes/csrf_token.njk" %}

                {{ govukInput({
                    label: {
                        text: i18n.personWithSignificantControl.addOtherRegistrablePerson.legalEntityName,
                        classes: "govuk-label govuk-label--m",
                        isPageHeading: true
                    },
                    id: "legal_entity_name",
                    name: "legal_entity_name",
                    value: props.data.personWithSignificantControl.data.legal_entity_name,
                    errorMessage: props.errors.legal_entity_name if props.errors,
                    attributes : {
                        required: true
                    }
                }) }}

                {{ govukInput({
                    label: {
                        text: i18n.personWithSignificantControl.addOtherRegistrablePerson.legalFormOrCorporateIdentity,
                        classes: "govuk-label govuk-label--m"
                    },
                    hint: {
                        text: i18n.personWithSignificantControl.addOtherRegistrablePerson.legalFormOrCorporateIdentityHint
                    },
                    id: "legal_form",
                    name: "legal_form",
                    value: props.data.personWithSignificantControl.data.legal_form,
                    errorMessage: props.errors.legal_form if props.errors,
                    attributes : {
                        required: true
                    }
                }) }}

                {{ govukInput({
                    label: {
                        text: i18n.personWithSignificantControl.addOtherRegistrablePerson.governingLaw,
                        classes: "govuk-label govuk-label--m"
                    },
                    hint: {
                        text: i18n.personWithSignificantControl.addOtherRegistrablePerson.governingLawHint
                    },
                    id: "governing_law",
                    name: "governing_law",
                    value: props.data.personWithSignificantControl.data.governing_law,
                    errorMessage: props.errors.governing_law if props.errors,
                    attributes : {
                        required: true
                    }
                }) }}

                {% include "includes/public-register-information.njk" %}

                {% include "includes/save-and-continue-button.njk" %}
            </form>
        </div>
    </div>
{% endblock %}

