{% extends "layout.njk" %}
{% import 'includes/countries.njk' as macros %}

{% set pageTitle = i18n.addPartnerLegalEntityPage.limitedPartner.title %}
{% set publicRegisterInformationLine1 = i18n.addPartnerLegalEntityPage.publicRegisterLine1 %}
{% set partnershipType = props.data.limitedPartnership.data.partnership_type %}

{% if props.data.limitedPartner.data.date_effective_from  %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_effective_from = props.data.limitedPartner.data.date_effective_from %}
  {% set date_effective_from_year = date_effective_from[0] + date_effective_from[1] + date_effective_from[2] + date_effective_from[3] %}
  {% set date_effective_from_month = date_effective_from[5] + date_effective_from[6] %}
  {% set date_effective_from_day = date_effective_from[8] + date_effective_from[9] %}
{% elif props.data.limitedPartner.data["date_effective_from-year"] %}
  {# And this covers the scenario when date validation fails and the page reloads #}
  {% set date_effective_from_year = props.data.limitedPartner.data["date_effective_from-year"] %}
  {% set date_effective_from_month = props.data.limitedPartner.data["date_effective_from-month"] %}
  {% set date_effective_from_day = props.data.limitedPartner.data["date_effective_from-day"] %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
  
        {% include "includes/csrf_token.njk" %}

        {% include "includes/errors.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        <h1 class="govuk-heading-xl">{{ i18n.addPartnerLegalEntityPage.limitedPartner.title }}</h1>

        {{ govukWarningText({
          text: i18n.addPartnerLegalEntityPage.legalPersonalityWarning
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.legalEntityName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: true
          },
          id: "legal_entity_name",
          name: "legal_entity_name",
          value: props.data.limitedPartner.data.legal_entity_name,
          errorMessage: props.errors.legal_entity_name if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.legalFormOrCorporateIdentity,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.legalFormOrCorporateIdentityHint
          },
          id: "legal_form",
          name: "legal_form",
          value: props.data.limitedPartner.data.legal_form,
          errorMessage: props.errors.legal_form if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.governingLaw,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.governingLawHint
          },
          id: "governing_law",
          name: "governing_law",
          value: props.data.limitedPartner.data.governing_law,
          errorMessage: props.errors.governing_law if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.whichRegister,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.whichRegisterHint
          },
          id: "legal_entity_register_name",
          name: "legal_entity_register_name",
          value: props.data.limitedPartner.data.legal_entity_register_name,
          errorMessage: props.errors.legal_entity_register_name if props.errors,
          attributes : {
            required: true
          }
        }) }}
        
        {% set countryFormId = "legal_entity_registration_location" %}
        {% set countryText = i18n.addPartnerLegalEntityPage.countryRegistered %}
        {% set countryFormValue = props.data.limitedPartner.data.legal_entity_registration_location %}
        {% set countryErrorMessage = props.errors.legal_entity_registration_location if props.errors %}

        {{ macros.getSpecifiedCountryList(i18n, "overseas", countryFormId, countryText, countryFormValue, countryErrorMessage) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.registrationNumber,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.registrationNumberHint
          },
          id: "registered_company_number",
          name: "registered_company_number",
          classes: "govuk-!-width-one-half",
          inputmode: "numeric",
          value: props.data.limitedPartner.data.registered_company_number,
          errorMessage: props.errors.registered_company_number if props.errors,
          attributes : {
            required: true
          }
        }) }}
        
        {% if journeyTypes.isRegistration or journeyTypes.isPostTransition %}
          {% include "includes/capital-contribution.njk" %}
        {% endif %}

        {% if journeyTypes.isPostTransition %}
          {{ govukDateInput({
            id: "date_effective_from",
            namePrefix: "date_effective_from",
            errorMessage: props.errors.date_effective_from if props.errors,
            fieldset: {
              legend: {
                text: i18n.addPartnerLegalEntityPage.limitedPartner.dateEffectiveFrom,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: i18n.addPartnerLegalEntityPage.dateHint
            },
            items: [
              {
                classes: "govuk-input--width-2",
                label: i18n.addPartnerLegalEntityPage.dateDay,
                name: "day",
                value: date_effective_from_day,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-2",
                label: i18n.addPartnerLegalEntityPage.dateMonth,
                name: "month",
                value: date_effective_from_month,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-4",
                label: i18n.addPartnerLegalEntityPage.dateYear,
                name: "year",
                value: date_effective_from_year,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              }
            ]
          }) }}
        {% endif %}

        {% include "includes/public-register-information.njk" %}
 
        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>

  {% include "includes/validators.njk" %}

{% endblock %}
