{% extends "layout.njk" %}

{% set pscType = 'individual' %}
{% if props.data.personWithSignificantControl.data.type == "RELEVANT_LEGAL_ENTITY" %}
    {% set pscType = 'RLE' %}
{% elif props.data.personWithSignificantControl.data.type == "OTHER_REGISTRABLE_PERSON" %}
    {% set pscType = 'ORP' %}
{% endif %}

{% set pageTitle = i18n.personWithSignificantControl.addNatureOfControlPage.firm.title %}
{% set pageTitleHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.titleHint | replace("individual", pscType) %}
{% set shareOfAssetsHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.shareOfAssetsHint  %}
{% set votingRightsHint = i18n.personWithSignificantControl.addNatureOfControlPage.firm.votingRightsHint  %}
{% set ownershipCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.firm.ownershipCheckboxText  %}
{% set sigInfluenceCheckboxText = i18n.personWithSignificantControl.addNatureOfControlPage.firm.sigInfluenceCheckboxText  %}

{% block content %}
    {% include "pages/natureOfControl/nature-of-control-form.njk" %}
{% endblock %}