{% extends "layout.njk" %}
{% import 'includes/countries.njk' as macros %}

{% set pageContent = i18n.personWithSignificantControl.addPersonWithSignificantControl %}
{% set pageTitle = pageContent.addRelevantLegalEntity.title %}
{% set publicRegisterInformationLine1 = pageContent.commonEntityFields.publicRegisterLine1 %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/errors.njk" %}

            {% include "includes/proposed-name.njk" %}

            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

            <form class="form" method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}>
                {% include "includes/csrf_token.njk" %}

                <input type="hidden" name="type" value="RELEVANT_LEGAL_ENTITY">

                {% set legalEntityName = pageContent.addRelevantLegalEntity.legalEntityName %}
                {% set legalForm = pageContent.commonEntityFields.legalFormOrCorporateIdentity %}
                {% set legalFormHint = pageContent.commonEntityFields.legalFormOrCorporateIdentityHint %}
                {% set governingLawHint = pageContent.commonEntityFields.governingLawHint %}
                
                {% include "pages/personWithSignificantControl/add-person-with-significant-control.njk" %}

                {{ govukInput({
                    label: {
                        text: pageContent.addRelevantLegalEntity.whichRegister,
                        classes: "govuk-label govuk-label--m"
                    },
                    hint: {
                        text: pageContent.addRelevantLegalEntity.whichRegisterHint
                    },
                    id: "legal_entity_register_name",
                    name: "legal_entity_register_name",
                    value: props.data.personWithSignificantControl.data.legal_entity_register_name,
                    errorMessage: props.errors.legal_entity_register_name if props.errors
                }) }}

                {% set countryText = pageContent.addRelevantLegalEntity.countryRegistered %}
                {% set countryFormId = "legal_entity_registration_location" %}
                {% set countryErrorMessage = props.errors.legal_entity_registration_location if props.errors %}
                {% set countryFormValue = props.data.personWithSignificantControl.data.legal_entity_registration_location %}
                {% set labelFormatting = "govuk-label govuk-label--m" %}

                {{ macros.getSpecifiedCountryList(i18n, "", countryFormId, countryText, countryFormValue, countryErrorMessage, labelFormatting, false) }}

                {{ govukInput({
                    label: {
                        text: pageContent.addRelevantLegalEntity.registrationNumber,
                        classes: "govuk-label govuk-label--m"
                    },
                    hint: {
                        text: pageContent.addRelevantLegalEntity.registrationNumberHint
                    },
                    id: "registered_company_number",
                    name: "registered_company_number",
                    classes: "govuk-!-width-one-half",
                    inputmode: "numeric",
                    value: props.data.personWithSignificantControl.data.registered_company_number,
                    errorMessage: props.errors.registered_company_number if props.errors
                }) }}

                {% include "includes/public-register-information.njk" %}

                {% include "includes/save-and-continue-button.njk" %}
            </form>
        </div>
    </div>
{% endblock %}

