{% extends "layout.njk" %}

{% set pageTitle = i18n.addGeneralPartnerPersonPage.title %}

{% set validateFirstName = "validateInput(this, 50, '" + i18n.addGeneralPartnerPersonPage.errorMessages.firstNameMissing | escape + "', '" + i18n.addGeneralPartnerPersonPage.errorMessages.firstNameLength | escape + "');" %}
{% set validateLastName = "validateInput(this, 160, '" + i18n.addGeneralPartnerPersonPage.errorMessages.lastNameMissing | escape + "', '" + i18n.addGeneralPartnerPersonPage.errorMessages.lastNameLength | escape + "');" %}
{% set validatePreviousName = "validateLength(this, 160, '" + i18n.addGeneralPartnerPersonPage.errorMessages.previousNameLength | escape + "');" %}

{% set date_of_birth = props.data.generalPartner.data.date_of_birth %}
{% set year = date_of_birth[0] + date_of_birth[1] + date_of_birth[2] + date_of_birth[3] %}
{% set month = date_of_birth[5] + date_of_birth[6] %}
{% set day = date_of_birth[8] + date_of_birth[9] %}

{% set previousNames = "false" %}
{% if props.data.generalPartner.data.former_names  %}
  {% set previousNames = "true" %}
{% endif %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>      
        {% include "includes/csrf_token.njk" %}

        {% include "includes/errors.njk" %}
        
        {% include "includes/proposed-name.njk" %}  
    
        <h1 class="govuk-heading-xl">{{ i18n.addGeneralPartnerPersonPage.title }}</h1>

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerPersonPage.firstName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: false
          },
          id: "forename",
          name: "forename",
          value: props.data.generalPartner.data.forename,
          classes: "govuk-!-width-full",
          errorMessage: props.errors.forename if props.errors,
          attributes : {
            required: true,
            oninvalid: validateFirstName,
            oninput: validateFirstName
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addGeneralPartnerPersonPage.lastName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: false
          },
          id: "surname",
          name: "surname",
          value: props.data.generalPartner.data.surname,
          classes: "govuk-!-width-full",
          errorMessage: props.errors.surname if props.errors,
          attributes : {
            required : true,
            oninvalid: validateLastName,
            oninput: validateLastName
          }
        }) }}

        {% set previousHtmlPerson %}
          {{ govukInput({
            label: {
              text: i18n.addGeneralPartnerPersonPage.previousName.yesHintTitle
            },
            hint: {
              text: i18n.addGeneralPartnerPersonPage.previousName.yesHint
            },
            id: "former_names",
            name: "former_names",
            value: props.data.generalPartner.data.former_names,
            errorMessage: props.errors.former_names if props.errors,
            attributes : {
              oninvalid: validatePreviousName,
              oninput: validatePreviousName
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "previousName",
          value: previousNames,
          fieldset: {
            legend: {
              text: i18n.addGeneralPartnerPersonPage.previousName.title,
              isPageHeading: true,
              classes: "govuk-label govuk-label--m"
            }
          },
          hint: {
            text: i18n.addGeneralPartnerPersonPage.previousName.hint
          },

          items: [
            {
              value: "true",
              text: i18n.addGeneralPartnerPersonPage.previousName.yes,
              id: "previousNameYes",
              name: "previousNameYes",
              attributes: {
                required: true
              },
              conditional: {
                html: previousHtmlPerson
              }
            },
            {
              value: "false",
              text: i18n.addGeneralPartnerPersonPage.previousName.no,
              id: "previousNameNo",
              name: "previousNameNo",
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "date_of_birth",
          namePrefix: "date_of_birth",
          errorMessage: props.errors.date_of_birth if props.errors,
          fieldset: {
            legend: {
              text: i18n.addGeneralPartnerPersonPage.dateOfBirth,
              isPageHeading: true,
              classes: "govuk-label govuk-label--m"
            }
          },
          hint: {
            text: i18n.addGeneralPartnerPersonPage.dateOfBirthHint
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "day",
              value: day,
              attributes: {
                required: true
              }
            },
            {
              classes: "govuk-input--width-2",
              name: "month",
              value: month,
              attributes: {
                required: true
              }
            },
            {
              classes: "govuk-input--width-4",
              name: "year",
              value: year,
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        {% set nationalityField = props.data.generalPartner.data.nationality1 %}
        {% set nationalityFieldSelectPrompt = i18n.addGeneralPartnerPersonPage.nationalitySelectPrompt %}
        {% set nationalityFieldRequired = "true" %}
        {% set nationalityFieldText = i18n.addGeneralPartnerPersonPage.nationality %}
        {% set nationalityFieldHintText = "" %}
        {% set nationalityFieldNameId = "nationality1" %}
        {% include "includes/nationalities.njk" %}

        {% set nationalityField = props.data.generalPartner.data.nationality2 %}
        {% set nationalityFieldSelectPrompt = i18n.addGeneralPartnerPersonPage.secondNationalitySelectPrompt %}
        {% set nationalityFieldRequired = "false" %}
        {% set nationalityFieldText = i18n.addGeneralPartnerPersonPage.secondNationality %}
        {% set nationalityFieldHintText = i18n.addGeneralPartnerPersonPage.secondNationalityHint  %}
        {% set nationalityFieldNameId = "nationality2" %}
        {% include "includes/nationalities.njk" %}

        {{ govukCheckboxes({
          id: "not_disqualified_statement_checked",
          name: "not_disqualified_statement_checked",
          value: props.data.generalPartner.data.not_disqualified_statement_checked,
          errorMessage: props.errors.not_disqualified_statement_checked if props.errors,
          classes: "govuk-!-margin-top-6",
          fieldset: {
            legend: {
              text: i18n.addGeneralPartnerPersonPage.disqualificationStatementLegend,
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "true",
              text: i18n.addGeneralPartnerPersonPage.disqualificationStatement,
              checked: props.data.generalPartner.data.not_disqualified_statement_checked,
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        <div>
          {{ govukInsetText({
            html: "<h2 class='govuk-heading-m'>" + i18n.addGeneralPartnerPersonPage.publicRegisterTitle | escape + "</h2>" + 
              "<p>" + i18n.addGeneralPartnerPersonPage.publicRegisterLine1 | escape + "</p>" +
              "<p>" + i18n.addGeneralPartnerPersonPage.publicRegisterLine2 | escape + "</p>"
          }) }}
        </div>

        {% include "includes/save-and-continue-button.njk" %}
      </form>

    </div>
  </div>

  {% include "includes/validators.njk" %}

{% endblock %}