{% extends "layout.njk" %}
{% import 'includes/countries.njk' as macros %}

{% set pageTitle = i18n.addOrUpdatePartnerLegalEntityPage.generalPartner.title %}
{% set publicRegisterInformationLine1 = i18n.addOrUpdatePartnerLegalEntityPage.publicRegisterLine1 %}

{% if props.data.generalPartner.data.date_effective_from  %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_effective_from = props.data.generalPartner.data.date_effective_from %}
  {% set date_effective_from_year = date_effective_from[0] + date_effective_from[1] + date_effective_from[2] + date_effective_from[3] %}
  {% set date_effective_from_month = date_effective_from[5] + date_effective_from[6] %}
  {% set date_effective_from_day = date_effective_from[8] + date_effective_from[9] %}
{% elif props.data.generalPartner.data["date_effective_from-year"] %}
  {# And this covers the scenario when date validation fails and the page reloads #}
  {% set date_effective_from_year = props.data.generalPartner.data["date_effective_from-year"] %}
  {% set date_effective_from_month = props.data.generalPartner.data["date_effective_from-month"] %}
  {% set date_effective_from_day = props.data.generalPartner.data["date_effective_from-day"] %}
{% endif %}

{% set partnerKind = "generalPartner" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/errors.njk" %}
      
      {% include "includes/proposed-name.njk" %}  

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>      
        {% include "includes/csrf_token.njk" %}


        <h1 class="govuk-heading-xl">{{ i18n.addOrUpdatePartnerLegalEntityPage.generalPartner.title }}</h1>

       {% include "pages/partner/add-or-update-partner-legal-entity-common-fields.njk" %}

        {% if journeyTypes.isPostTransition %}
          {{ govukDateInput({
            id: "date_effective_from",
            namePrefix: "date_effective_from",
            errorMessage: props.errors.date_effective_from if props.errors,
            fieldset: {
              legend: {
                text: i18n.addOrUpdatePartnerLegalEntityPage.generalPartner.dateEffectiveFrom,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: i18n.addOrUpdatePartnerLegalEntityPage.dateHint
            },
            items: [
              {
                classes: "govuk-input--width-2",
                label: i18n.addOrUpdatePartnerLegalEntityPage.dateDay,
                name: "day",
                value: date_effective_from_day,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-2",
                label: i18n.addOrUpdatePartnerLegalEntityPage.dateMonth,
                name: "month",
                value: date_effective_from_month,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              },
              {
                classes: "govuk-input--width-4",
                label: i18n.addOrUpdatePartnerLegalEntityPage.dateYear,
                name: "year",
                value: date_effective_from_year,
                attributes: {
                  required: true,
                  pattern: "[0-9]*"
                }
              }
            ]
          }) }}
        {% endif %}

        {% if not journeyTypes.isTransition %}
          {% include "includes/disqualification-statement.njk" %}  
        {% endif %}

        {% include "includes/public-register-information.njk" %}
 
        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>

  {% include "includes/validators.njk" %}

{% endblock %}
