{% extends "layout.njk" %}

{% set pageTitle = i18n.checkYourAnswersPage.title %}

{% set checkYourAnswers = "check-your-answers" %}
{% set currentUrl = props.currentUrl %}
{% set fullName = (props.data.limitedPartnership.data.partnership_name | upper) + " " + (props.data.limitedPartnership.data.name_ending | upper) %}
{% set termKey = props.data.limitedPartnership.data.term %}
{% if termKey === "BY_AGREEMENT" %}
  {% set term = i18n.termPage.byAgreement %}
{% elif termKey === "UNTIL_DISSOLUTION" %}
  {% set term = i18n.termPage.untilDissolution %}
{% elif termKey === "NONE" %}
  {% set term = i18n.termPage.noTerm %}
{% endif %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ i18n.checkYourAnswersPage.title }}</h1>
      <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersPage.lpInfo }}</h2>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: i18n.checkYourAnswersPage.headingName
            },
            value: {
              text: fullName
            },
            actions: {
              items: [ 
                CREATE_CHANGE_LINK(
                  i18n.checkYourAnswersPage.change,
                  currentUrl | replace(checkYourAnswers, "name#partnership_name"),
                  partnershipNameChangeText,
                  "change-partnership-name-button"
                )
              ]
            }
          },
          {
            key: {
              text: i18n.checkYourAnswersPage.headingEmail
            },
            value: {
              text: props.data.limitedPartnership.data.email
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                i18n.checkYourAnswersPage.change,
                currentUrl | replace(checkYourAnswers, "email#email"),
                partnershipNameChangeText,
                "change-email-button"
              ) ]
            }
          },
          {
            key: {
              text: i18n.checkYourAnswersPage.jurisdiction
            },
            value: {
              text: props.data.limitedPartnership.data.jurisdiction
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                i18n.checkYourAnswersPage.change,
                currentUrl | replace(checkYourAnswers, "where-is-the-jurisdiction#jurisdiction"),
                partnershipNameChangeText,
                "change-jurisdiction-button"
              ) ]
            } if props.data.limitedPartnership.data.partnership_type === "LP"
                or props.data.limitedPartnership.data.partnership_type === "PFLP"
          },
          {
            key: {
            text: i18n.checkYourAnswersPage.headingTerm
            },
            value: {
              text: term
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                i18n.checkYourAnswersPage.change,
                currentUrl | replace(checkYourAnswers, "term#term"),
                partnershipNameChangeText,
                "change-term-button" 
              ) ]
            } 
          } if props.data.limitedPartnership.data.partnership_type === "LP"
                or props.data.limitedPartnership.data.partnership_type === "SLP",
          {
            key: {
              text: i18n.checkYourAnswersPage.headingSic
            },
            value: {
              text: props.data.limitedPartnership.data.sic_codes
            },
            actions: {
              items: [ 
                CREATE_CHANGE_LINK(
                  i18n.checkYourAnswersPage.change,
                  currentUrl | replace(checkYourAnswers, "standard-industrial-classification-code#sic1"),
                  partnershipNameChangeText,
                  "change-sic-code-button"
                )
              ]
            }
          } if props.data.limitedPartnership.data.partnership_type === "LP"
                or props.data.limitedPartnership.data.partnership_type === "SLP"
        ]
      }) }}

      <br>
      <div class="govuk-button-group">
        <form class="form" action={{ props.currentUrl }} method="post">
          <input type="hidden" name="pageType" value={{ props.pageType }}>
          {% include "includes/csrf_token.njk" %}

          {{ govukCheckboxes({
            name: "lpStatement",            
            fieldset: {
              legend: {
                text: i18n.checkYourAnswersPage.confirm,
                isPageHeading: false,
                classes: "govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "lp-statement",
                text: i18n.checkYourAnswersPage.futureLawful,
                attributes: {
                  required: true
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: i18n.checkYourAnswersPage.payment,
            attributes: {
              "id": "submit",
              "data-event-id": "check-your-answers-continue-to-payment-page-button"
            }
          }) }}        
        </form>
      </div>
    </div>
  </div>

{% endblock %}
