{% extends "layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% import 'includes/macros.njk' as macros %}

{% set pageTitle = i18n.checkYourAnswersPage.title %}

{% set currentUrl = props.currentUrl %}

{% set submitButtonText = i18n.checkYourAnswersPage.payment %}
{% if journeyTypes.isTransition %}
  {% set submitButtonText = i18n.checkYourAnswersPage.submitFiling %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% include "includes/proposed-name.njk" %}

      <h1 class="govuk-heading-l">{{ i18n.checkYourAnswersPage.title }}</h1>

      <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersPage.lpInfo }}</h2>

      {% include "pages/checkYourAnswers/limited-partnership.njk" %}

      <br>

      {% if props.data.generalPartners.length > 0 %}
        <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersPage.partners.generalPartners.title }}</h2>

        <p class="govuk-body-m govuk-!-margin-bottom-6">
          <a href="{{ props.currentUrl | replace(props.pageType, props.data.reviewGeneralPartnersType) }}"  class="govuk-body-m govuk-link" data-event-id="change-link">{{ i18n.checkYourAnswersPage.partners.generalPartners.changeRemoveOrAdd }}</a>
        <p>

        {% for item in props.data.generalPartners %}
          {% include "pages/checkYourAnswers/general-partner.njk" %}
        {% endfor %}
      {% endif %}

      {% if props.data.limitedPartners.length > 0 %}
        <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersPage.partners.limitedPartners.title }}</h2>

        <p class="govuk-body-m govuk-!-margin-bottom-6">
          <a href="{{ props.currentUrl | replace(props.pageType, props.data.reviewLimitedPartnersType) }}"  class="govuk-body-m govuk-link" data-event-id="change-link">{{ i18n.checkYourAnswersPage.partners.limitedPartners.changeRemoveOrAdd }}</a>
        <p>

        {% for item in props.data.limitedPartners %}
          {% include "pages/checkYourAnswers/limited-partner.njk" %}
        {% endfor %}
      {% endif %}

      <br>
      <div>
        <form class="form" action={{ props.currentUrl }} method="post">
          <input type="hidden" name="pageType" value={{ props.pageType }}>
          {% include "includes/csrf_token.njk" %}

          {% if journeyTypes.isRegistration %}
            {% include "pages/checkYourAnswers/lawful-purpose-statement.njk" %}
          {% endif %}

         {% include "pages/checkYourAnswers/warning-message.njk" %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: submitButtonText,
              attributes: {
                "id": "submit",
                "data-event-id": "check-your-answers-continue-to-payment-page-button"
              }
            }) }}

            {% include "includes/print-button.njk" %}
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
