{% extends "layout.njk" %}

{% set pageTitle = i18n.address.chooseAddress.principalPlaceOfBusiness.title %}
{% set cache = props.data.cache['registration_choose-principal-place-of-business-address'] %}
{% set addressLink = i18n.address.chooseAddress.addressLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">      
      {% include "pages/address/choose-address-form.njk" %}
    </div>
  </div>
{% endblock %}
