{% extends "layout.njk" %}

{% import 'includes/macros.njk' as macros %}

{% set pageTitle = i18n.chooseRegisteredOfficeAddressPage.title %}

{% set addressItems = [] %}
{% for address in props.data.addressList %}
  {% set newItem = {
    value: address | dump,
    text: macros.formatAddress(address),
    attributes: {
      required: true
    }
  } %}
  {% set addressItems = addressItems.concat([newItem]) %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        {{ govukRadios({
          classes: "govuk-radios",
          name: "selected_address",
          value: data['chooseRegisteredOfficeAddressPage'],
          fieldset: {
            legend: {
              text: i18n.chooseRegisteredOfficeAddressPage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: addressItems
        }) }}
       
        <p>
          <a href="" class="govuk-link">{{ i18n.chooseRegisteredOfficeAddressPage.addressLink }}</a>
        <p>
       
        {% include "includes/continue-button.njk" %}
      </form>
    </div>
  </div>
{% endblock %}

       
      