{% extends "layout.njk" %}

{% import 'includes/macros.njk' as macros %}

{% set pageTitle = i18n.chooseRegisteredOfficeAddressPage.title %}

{% set addressItems = [] %}
{% for address in props.data.addressList %}
  {% set newItem = {
    value: address | dump,
    text: macros.formatAddress(address),
    attributes: {
      required: true
    }
  } %}
  {% set addressItems = addressItems.concat([newItem]) %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        {{ govukRadios({
          classes: "govuk-radios",
          name: "parameter",
          value: data['chooseRegisteredOfficeAddressPage'],
          fieldset: {
            legend: {
              text: i18n.chooseRegisteredOfficeAddressPage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: addressItems
        }) }}
       
        <p>
          <a href="" class="govuk-link" data-event-id="registered-office-address-manual-link">{{i18n.chooseRegisteredOfficeAddressPage.addressLink }}</a>
        <p>
       
       {{ govukButton({
               text: i18n.buttons.continue,
               attributes: {
               "id": "submit",
               "onclick": "_paq.push(['trackEvent', ' Registerd Office address choice', 'selection', document.querySelector('input[name=parameter]:checked').nextElementSibling.innerHTML])"
         }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

       
      