{% extends "layout.njk" %}

{% set pageTitle = i18n.companyNumber.whatIsPartnershipNumber %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" method="post">
          <input type="hidden" name="pageType" value={{ props.pageType }}>  
          {% include "includes/csrf_token.njk" %}
          {% include "includes/errors.njk" %}

          {{ govukInput({
            label: {
              text: i18n.companyNumber.whatIsPartnershipNumber,
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            hint: {
                text: i18n.companyNumber.hint
            },
            id: "company_number",
            name: "company_number",
            classes: "govuk-input--width-10",
            attributes: {
                required: true,
                "data-event-id": "company-number-transition"
            },
            pattern: "^\\s*(LP|NL|SL)[0-9]{6}\\s*$",
            errorMessage: props.errors.company_number if props.errors,
            value: props.data.company_number
          }) }}
       
          {% include "includes/continue-button.njk" %}
       </form>
    </div>
  </div>
{% endblock %}