{% extends "layout.njk" %}

{% set pageTitle = i18n.address.confirm.usualResidentialAddress.title %}
{% set publicRegisterLine = i18n.address.confirm.usualResidentialAddress.publicRegisterLine1 %}
{% set addressLinkHidden = i18n.address.confirm.usualResidentialAddress.addressLinkHidden %}
{% set cacheKey = "usual_residential_address" %}
{% set data = props.data.generalPartner.data.usual_residential_address %}

{% block backLink %}
  {% set hrefValue = props.previousUrl %}

  {% if props.data.cache.ura_territory_choice == "overseas" %}
    {% set hrefValue = props.currentUrl | replace(props.pageType, "enter-general-partner-usual-residential-address") %}
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    attributes: {
      "data-event-id": "back-link"
    },
    href: hrefValue
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/general-partner-name.njk" %}

      {% include "pages/address/confirm-address-form.njk" %}
    </div>
  </div> 
{% endblock %}
