{% extends "layout.njk" %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% set suppressBackLink = true %}

{% set pageTitle = i18n.confirmationPage.title %}
{% if journeyTypes.isPostTransition %}
  {% set pageTitle = i18n.confirmationPage.postTransition.title %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: pageTitle,
      html: i18n.confirmationPage.referenceNumber + "<br><strong>" + props.data.ids.transactionId + "</strong>"
    }) }}

    {% if journeyTypes.isRegistration %}

      <p class="govuk-body">{{ i18n.confirmationPage.filingReceived }} {{ props.data.limitedPartnership.data.partnership_name | upper }} {{ props.data.limitedPartnership.data.name_ending | upper }}.</p>
      <p class="govuk-body">{{ i18n.confirmationPage.sentEmailTo }} <strong>{{ props.data.userEmail }}</strong>.</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.applicationProcessTwoDays }} <strong>{{ props.data.userEmail }}</strong> {{ i18n.confirmationPage.applicationAcceptedOrRejected }}</p>
      <p class="govuk-body">{{ i18n.confirmationPage.accepted.explain }} <strong>{{ i18n.confirmationPage.accepted.registeredEmailAddress }}</strong> {{ i18n.confirmationPage.accepted.publish }}</p>
      <p class="govuk-body">{{ i18n.confirmationPage.rejected }}</p>

    {% elif journeyTypes.isTransition %}

      <p class="govuk-body">{{ i18n.confirmationPage.transition.filingReceived }} {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number }}).</p>

      <p class="govuk-body">{{ i18n.confirmationPage.sentEmailTo }} <strong>{{ props.data.userEmail }}</strong>.</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.applicationProcessFiveDays }} <strong>{{ props.data.userEmail }}</strong> {{ i18n.confirmationPage.applicationAcceptedOrRejected }}</p>

      <p class="govuk-body">{{ i18n.confirmationPage.transition.accepted }} {{ i18n.confirmationPage.rejectedNoFee }}</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.transition.confirmationStatement }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.transition.fileStatement }}</p>

      <p class="govuk-body">{{ i18n.confirmationPage.transition.searchRegister }} <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link show-on-print hide-href-on-print">{{ i18n.confirmationPage.transition.registerName }}</a>.</p>

      <h2 class="govuk-heading-m hide-on-print">{{ i18n.confirmationPage.whatNow }}</h2>

      <p class="govuk-body hide-on-print">
        <a href="https://www.gov.uk/" class="govuk-link">{{ i18n.confirmationPage.transition.howFileConfirmationStatement }}</a><br>
        <a href="/limited-partnerships/transition/continue-saved-filing" class="govuk-link">{{ i18n.confirmationPage.transition.startNewTransition }}</a>
      </p>

    {% elif journeyTypes.isPostTransition %}

      {% include "pages/confirmation/update-confirmation-message.njk" %}

    {% endif %}

    {% if journeyTypes.isTransition %}
      <p class="govuk-body hide-on-print govuk-!-static-padding-bottom-4">
        <a href="https://www.smartsurvey.co.uk/s/prov-new-requ-info-about-lp-conf/" target="_blank" class="govuk-link" data-event-id="survey-link">{{ i18n.confirmationPage.avis.message }}</a> {{ i18n.confirmationPage.avis.time }}
      </p>
    {% elif journeyTypes.isRegistration %}
      <p class="govuk-body hide-on-print govuk-!-static-padding-bottom-4">
        <a href="https://www.smartsurvey.co.uk/s/register-a-lp-conf/" target="_blank" class="govuk-link" data-event-id="survey-link">{{ i18n.confirmationPage.avis.message }}</a> {{ i18n.confirmationPage.avis.time }}
      </p>
    {% elif journeyTypes.isPostTransition %}

      {% set surveyLink = "https://www.smartsurvey.co.uk/s/update-a-lp-reg-office-add-conf" %}

      {% if props.data.subtype.includes('update-partnership-name') %}
        {% set surveyLink = "https://www.smartsurvey.co.uk/s/update-lp-name-conf/" %}
      {% elif props.data.subtype.includes('update-partnership-term') %}
        {% set surveyLink = "https://www.smartsurvey.co.uk/s/update-the-term-of-lp-conf/" %}
      {% elif props.data.subtype.includes('update-partnership-principal-place-of-business-address') %}
        {% set surveyLink = "https://www.smartsurvey.co.uk/s/update-a-lp-principal-office-add-conf/" %}
      {% elif props.data.subtype.includes('update-partnership-redesignate-to-pflp') %}
        {% set surveyLink = "https://www.smartsurvey.co.uk/s/designate-a-lp-as-priv-fund-lp-conf/"  %}
      {% endif %}

      <p class="govuk-body hide-on-print govuk-!-static-padding-bottom-4">
        <a href={{ surveyLink }} target="_blank" class="govuk-link" data-event-id="survey-link">{{ i18n.confirmationPage.avis.message }}</a> {{ i18n.confirmationPage.avis.time }}
      </p>
    {% endif %}

    <p class="govuk-body govuk-!-font-size-20 check-your-answers-javascript-disabled-text-style">{{ i18n.print.buttonTextNoJs }}</p>

    {% include "includes/print-button.njk" %}
    </div>
  </div>
{% endblock %}
