{% extends "layout.njk" %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% set pageTitle = i18n.confirmationPage.title %}
{% if journeyTypes.isPostTransition %}
  {% set pageTitle = i18n.confirmationPage.postTransition.title %}
{% endif %}

{% if props.data.generalPartner %}
  {% set partnerType = i18n.confirmationPage.postTransition.partner.generalPartnerType %}
  {% if props.data.generalPartner.data.legal_entity_name %}
    {% set partnerName = props.data.generalPartner.data.legal_entity_name %}
  {% else %}
    {% set partnerName = props.data.generalPartner.data.forename ~ ' ' ~ props.data.generalPartner.data.surname %}
  {% endif %}
{% elif props.data.limitedPartner %}
  {% set partnerType = i18n.confirmationPage.postTransition.partner.limitedPartnerType %}
  {% if props.data.limitedPartner.data.legal_entity_name %}
    {% set partnerName = props.data.limitedPartner.data.legal_entity_name %}
  {% else %}
    {% set partnerName = props.data.limitedPartner.data.forename ~ ' ' ~ props.data.limitedPartner.data.surname %}
  {% endif %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
        titleText: pageTitle,
        html: i18n.confirmationPage.referenceNumber + "<br><strong>" + props.data.ids.transactionId + "</strong>"
    }) }}

    {% if journeyTypes.isRegistration %}

      <p class="govuk-body">{{ i18n.confirmationPage.sentEmailTo }} <strong>{{ props.data.limitedPartnership.data.email }}</strong>.</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>
    
      <p class="govuk-body">{{ i18n.confirmationPage.applicationProcess }}</p>
      <p class="govuk-body">
        {{ i18n.confirmationPage.willEmail }} <strong>{{ props.data.limitedPartnership.data.email or "agent@example.com" }}</strong> {{ i18n.confirmationPage.applicationAcceptedOrRejected }}  
      </p>
    
      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.accepted.title }}</h2>
      <p class="govuk-body">{{ i18n.confirmationPage.accepted.publicRegister }}</p>
            
      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.rejected.title }}</h2>
      <p class="govuk-body">{{ i18n.confirmationPage.rejected.explain }}</p>
           
    {% elif journeyTypes.isTransition %}

      <p class="govuk-body">{{ i18n.confirmationPage.filing.partnershipName }} {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number }}). {{ i18n.confirmationPage.filing.sentEmail }} <strong>{{ props.data.limitedPartnership.data.email }}</strong> {{ i18n.confirmationPage.filing.confirm }}</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.processUpdate }}</p>
      <p class="govuk-body">{{ i18n.confirmationPage.willSendEmailTo }} <strong>{{ props.data.limitedPartnership.data.email }}</strong> {{ i18n.confirmationPage.updatePublicRegister }}</p>

    {% elif journeyTypes.isPostTransition %}

      <p class="govuk-body">{{ i18n.confirmationPage.postTransition.partner.partnerName }} {{ partnerName }} {{ partnerType }} {{ props.data.limitedPartnership.data.partnership_name | upper }} ({{ props.data.limitedPartnership.data.partnership_number }}).</p>

      <p class="govuk-body">{{ i18n.confirmationPage.sentEmailTo }} <strong>{{ props.data.userEmail }}</strong>.</p>

      {{ govukInsetText({
        text: i18n.confirmationPage.postTransition.partner.updateWontShow
      }) }}

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.postTransition.partner.processFiling }} <strong>{{ props.data.userEmail }}</strong> {{ i18n.confirmationPage.postTransition.partner.processFilingConfirmation }}</p>

      <p class="govuk-body">{{ i18n.confirmationPage.postTransition.partner.filingAccepted }}</p>

      <p class="govuk-body">{{ i18n.confirmationPage.postTransition.partner.filingRejected }}</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.postTransition.partner.confirmationStatementTitle }}</h2>
      
      <p class="govuk-body">{{ i18n.confirmationPage.postTransition.partner.confirmationStatementBody }}</p>

    {% endif %}

    {% if not journeyTypes.isPostTransition %}
      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/file-for-lp-conf/" target="_blank" class="govuk-link">{{ i18n.confirmationPage.avis.message }}</a> {{ i18n.confirmationPage.avis.time }}
      </p>
    {% endif %}

    {% include "includes/print-button.njk" %}   
    </div>
  </div>
{% endblock %}