{% extends "layout.njk" %}
{% import 'includes/macros.njk' as macros %}

{% set pageTitle = i18n.confirmRegisteredOfficeAddressPage.title %}

{% set registeredOfficeKey = "registration_registered_office_address" %}

{% if props.data.cache[registeredOfficeKey] %}
  {% set address = props.data.cache[registeredOfficeKey] %}
{% elif props.data.limitedPartnership.data.registered_office_address %}
  {% set address = props.data.limitedPartnership.data.registered_office_address %}
{% else %}
  {% set address = null %}
{% endif %}

{% set addressFirstLineForDisplay = address.premises + " " + address.address_line_1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}

        {% include "includes/errors.njk" %}
        
        {% include "includes/proposed-name.njk" %}

        <h1 class="govuk-heading-xl">{{ i18n.confirmRegisteredOfficeAddressPage.title }}</h1>

        {% if address %}
          <p class="govuk-body-m">
            {{ macros.capitalizeEachWord(addressFirstLineForDisplay) }}
            <br>
            {% if address.address_line_2 %}
              {{ macros.capitalizeEachWord(address.address_line_2) }}
              <br>
            {% endif %}
            {{ macros.capitalizeEachWord(address.locality) }}
            <br>
            {% if address.region %}
              {{ macros.capitalizeEachWord(address.region) }}
              <br>
            {% endif %}
            {{ address.postal_code | upper }}
            <br>
            {{ macros.capitalizeEachWord(address.country) }}
            <br>
          </p>
          <p class="govuk-body-m">
            <a href="{{ props.currentUrl | replace(props.pageType, props.data.enterManualAddressPageType) }}">{{ i18n.confirmRegisteredOfficeAddressPage.addressLink }} <span class="govuk-visually-hidden">{{ i18n.confirmRegisteredOfficeAddressPage.addressLinkHidden }}</span></a>
          <p>
        {% endif %}

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>" + i18n.confirmRegisteredOfficeAddressPage.publicRegisterTitle | escape + "</h2>"
                + "<p>" + i18n.confirmRegisteredOfficeAddressPage.publicRegisterLine1 | escape + "</p>"
        }) }}

        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div> 
{% endblock %}
