{% extends "layout.njk" %}

{% set pageTitle = i18n.confirmLimitedPartnership.title %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% include "includes/errors.njk" %}

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}> 
        {% include "includes/csrf_token.njk" %}

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [
              {
                key: {
                  text: i18n.confirmLimitedPartnership.name
                },
                value: {
                  text: props.data.limitedPartnership.partnership_name
                }
              },
              {
                key: {
                  text: i18n.confirmLimitedPartnership.number
                },
                value: {
                  text: props.data.limitedPartnership.partnership_number
                }
              }
            ]
        }) }}

        {% if journeyTypes.isPostTransition %}
          {% include "includes/continue-button.njk" %}
        {% else %}
          {% include "includes/save-and-continue-button.njk" %}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}