{% extends "layout.njk" %}

{% set pageTitle = i18n.confirmationPage.title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
        titleText: pageTitle,
        html: i18n.confirmationPage.referenceNumber + "<br><strong>" + props.data.ids.transactionId + "</strong>"
    }) }}

    {% if journeyTypes.isRegistration %}

      <p class="govuk-body">{{ i18n.confirmationPage.sentEmailTo }} <strong>{{ props.data.limitedPartnership.data.email }}</strong>.</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>
    
      <p class="govuk-body">{{ i18n.confirmationPage.applicationProcess }}</p>
      <p class="govuk-body">
        {{ i18n.confirmationPage.willEmail }} <strong>{{ props.data.limitedPartnership.data.email or "agent@example.com" }}</strong> {{ i18n.confirmationPage.applicationAcceptedOrRejected }}  
      </p>
    
      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.accepted.title }}</h2>
      <p class="govuk-body">{{ i18n.confirmationPage.accepted.publicRegister }}</p>
            
      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.rejected.title }}</h2>
      <p class="govuk-body">{{ i18n.confirmationPage.rejected.explain }}</p>
           
    {% elif journeyTypes.isTransition %}

      <p class="govuk-body">{{ i18n.confirmationPage.filing.partnershipName }} {{ props.data.limitedPartnership.data.partnership_name | upper }} (LP123456). {{ i18n.confirmationPage.filing.sentEmail }} <strong>{{ props.data.limitedPartnership.data.email }}</strong> {{ i18n.confirmationPage.filing.confirm }}</p>

      <h2 class="govuk-heading-m">{{ i18n.confirmationPage.happensNext }}</h2>

      <p class="govuk-body">{{ i18n.confirmationPage.processUpdate }}</p>
      <p class="govuk-body">{{ i18n.confirmationPage.willSendEmailTo }} <strong>{{ props.data.limitedPartnership.data.email }}</strong> {{ i18n.confirmationPage.updatePublicRegister }}</p>

    {% endif %}

      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/file-for-lp-conf/" target="_blank" class="govuk-link">{{ i18n.confirmationPage.avis.message }}</a> {{ i18n.confirmationPage.avis.time }}
      </p>
      
    </div>
  </div>
{% endblock %}