{% extends "layout.njk" %}

{% set pageTitle = i18n.address.confirm.principalPlaceOfBusiness.title %}
{% set publicRegisterLine = i18n.address.confirm.principalPlaceOfBusiness.publicRegisterLine1 %}
{% set addressLinkHidden = i18n.address.confirm.addressLinkHidden %}
{% set cacheKey = "registration_principal_place_of_business" %}
{% set data = props.data.limitedPartnership.data.principal_place_of_business %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "pages/address/confirm-address-form.njk" %}
    </div>
  </div> 
{% endblock %}
