{% extends "layout.njk" %}

{% set pageTitle = i18n.address.confirm.principalPlaceOfBusinessAddress.title %}
{% set publicRegisterInformationLine1 = i18n.address.confirm.principalPlaceOfBusinessAddress.publicRegisterLine1 %}
{% set cacheKey = "principal_place_of_business_address" %}
{% set data = props.data.limitedPartnership.data.principal_place_of_business_address %}

{% block content %} 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/proposed-name.njk" %} 
      
      {% include "pages/address/confirm-address-form.njk" %}
    </div>
  </div> 
{% endblock %}
