{% extends "layout.njk" %} 

{% if props.data.generalPartner %}
  {% set propsData = props.data.generalPartner %}
{% elseif props.data.limitedPartner %}
  {% set propsData = props.data.limitedPartner %}
{% else %}
  {% set propsData = props.data.limitedPartnership %}
{% endif %}

{% set dateData = null %}
{% if propsData.data["date_of_update-year"] %}
  {% set dateData = propsData.data %}
{% elif props.data.generalPartner.data["date_of_update-year"] %}
  {% set dateData = props.data.generalPartner.data %}
{% elif props.data.limitedPartner.data["date_of_update-year"] %}
  {% set dateData = props.data.limitedPartner.data %}
{% endif %}


{% if dateData %}
  {# This covers the scenario when date validation fails and the page reloads - split fields from form submission take priority #}
  {% set date_of_update_year = dateData["date_of_update-year"] %}
  {% set date_of_update_month = dateData["date_of_update-month"] %}
  {% set date_of_update_day = dateData["date_of_update-day"] %}
{% elif propsData.data.date_of_update %}
  {# This is for when saved data is pre-populated on the page #}
  {% set date_of_update = propsData.data.date_of_update %}
  {% set date_of_update_year = date_of_update[0] + date_of_update[1] + date_of_update[2] + date_of_update[3] %}
  {% set date_of_update_month = date_of_update[5] + date_of_update[6] %}
  {% set date_of_update_day = date_of_update[8] + date_of_update[9] %}
{% endif %}

{% set pageTitle = i18n.dateOfUpdate[props.data.titleKey].title %}
{% set publicRegisterInformationLine1 = i18n.dateOfUpdate.publicInformationLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/errors.njk" %}

      {% if props.data.limitedPartner %}
          {% include "includes/limited-partner-name.njk" %}
      {% elseif props.data.generalPartner %}
          {% include "includes/general-partner-name.njk" %}
      {% else %}
          {% include "includes/proposed-name.njk" %}
      {% endif %}
      
      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}> 
        {% include "includes/csrf_token.njk" %}

        {{ govukDateInput({
          id: "date_of_update",
          namePrefix: "date_of_update",
          errorMessage: props.errors.date_of_update if props.errors.date_of_update,
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: i18n.dateOfUpdate.dateHint
          },
          items: [
            {
              classes: "govuk-input--width-2",
              label: i18n.dateOfUpdate.dateDay,
              name: "day",
              value: date_of_update_day,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-2",
              label: i18n.dateOfUpdate.dateMonth,
              name: "month",
              value: date_of_update_month,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            },
            {
              classes: "govuk-input--width-4",
              label: i18n.dateOfUpdate.dateYear,
              name: "year",
              value: date_of_update_year,
              attributes: {
                required: true,
                pattern: "[0-9]*"
              }
            }
          ]
        }) }}

        {% include "includes/save-and-continue-button.njk" %}
      </form>
      <div>
        {% include "includes/public-register-information.njk" %}
      </div>
    </div>
  </div>

{% endblock %}