{% extends "layout.njk" %}

{% set pageTitle = i18n.emailPage.title %}

{% set publicRegisterInformationLine1 = i18n.emailPage.publicRegisterInformation.line1 %} 

{% set emailErrorMessage = null %}

{% if props.errors.errorList.length > 0 %}
  {% for el in props.errors.errorList %}
    {% if el.href === "#email" %}
      {% set emailErrorMessage = { text: el.text } %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/errors.njk" %}

      {% include "includes/proposed-name.njk" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ i18n.emailPage.title }}</h1>

      <p class="govuk-hint">{{ i18n.emailPage.hint }}</p>

      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>

        {% include "includes/csrf_token.njk" %}

        {{ govukInput({
          label: {
            text: "email",
            classes: "govuk-visually-hidden"
          },
          id: "email",
          name: "email",
          value: props.data.limitedPartnership.data.email,
          type: "email",
          attributes : {
            required : true
          },
          errorMessage: emailErrorMessage
        }) }}

        {% include "includes/save-and-continue-button.njk" %}

        <div>
          {% include "includes/public-register-information.njk" %}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
