{% extends "layout.njk" %}

{% set registeredOfficeKey = "registration_registered_office_address" %}
{% if props.data.address %}
  {% set registeredOfficeAddress = props.data.address %}
{% elif props.data.cache[registeredOfficeKey] %}
  {% set registeredOfficeAddress = props.data.cache[registeredOfficeKey] %}
{% elif props.data.limitedPartnership.data.registered_office_address %}
  {% set registeredOfficeAddress = props.data.limitedPartnership.data.registered_office_address %}
{% else %}
  {% set registeredOfficeAddress = {} %}
{% endif %}

{% set pageTitle = i18n.address.enterAddress.registeredOfficeAddress.title %}
{% set addressTitleHint1 = i18n.address.enterAddress.registeredOfficeAddress.titleHint1 %}
{% set addressTitleHint2 = i18n.address.enterAddress.registeredOfficeAddress.titleHint2 %}
{% set addressTitleHint3 = i18n.address.enterAddress.registeredOfficeAddress.titleHint3 %}
{% set publicInformationTitle = i18n.address.enterAddress.registeredOfficeAddress.publicInformationTitle %}
{% set publicInformationLine1 = i18n.address.enterAddress.registeredOfficeAddress.publicInformationLine1 %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "pages/address/enter-address-form.njk" %}
    </div>
  </div> 

{% endblock %}