{% extends "layout.njk" %}
{% import 'includes/countries.njk' as macros %}

{% set principalOfficeAddressKey = "principal_office_address" %}

{% block backLink %}
  {% set hrefValue = props.previousUrl %}

  {% if props.data.cache.poa_territory_choice == "overseas" %}
    {% set hrefValue = props.currentUrl | replace(props.pageType, props.data.territoryPageType) %}
  {% endif %}

  {{ govukBackLink({
    text: i18n.links.back,
    attributes: {
      "data-event-id": "back-link"
    },
    href: hrefValue
  }) }}
{% endblock %}

{% if props.data.address %}
  {% set address = props.data.address %}
{% elif props.data.cache[principalOfficeAddressKey] %}
  {% set address = props.data.cache[principalOfficeAddressKey] %}
{% elif props.data.limitedPartner.data.principal_office_address %}
  {% set address = props.data.limitedPartner.data.principal_office_address %}
{% else %}
  {% set address = {} %}
{% endif %}

{% set pageTitle = i18n.address.enterAddress.limitedPartner.principalOfficeAddress.title %}
{% set titleHint1 = i18n.address.enterAddress.limitedPartner.principalOfficeAddress.hint %}
{% set publicRegisterInformationLine1 = i18n.address.enterAddress.limitedPartner.principalOfficeAddress.publicInformationLine1 %}

{% set showOverseasList = "true" %}
{% if props.data.cache.poa_territory_choice %}
  {% set showOverseasList = props.data.cache.poa_territory_choice == "overseas" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}
      {% include "includes/limited-partner-name.njk" %}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
            {{ pageTitle }}
            </h1>
        </legend>

        <p class="govuk-hint">{{ titleHint1 }}</p>
      </fieldset>
      
      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>

        {% include "includes/csrf_token.njk" %}
        
        {% if showOverseasList %}
          {% include "pages/address/enter-address-fields.njk" %}

          {{ govukInput({
            label: {
              text: i18n.address.enterAddress.limitedPartner.principalOfficeAddress.postcodeOptional
            },
            errorMessage: props.errors.postal_code if props.errors,
            classes: "govuk-input--width-10",
            id: "postal_code",
            name: "postal_code",
            value: address.postal_code
          }) }}

          {% set countryFormId = "country" %}
          {% set countryText = i18n.address.enterAddress.country %}
          {% set countryFormValue = address.country %}
          {% set countryErrorMessage = props.errors.country if props.errors %}
                            
          {{ macros.getSpecifiedCountryList(i18n, props.data.cache.poa_territory_choice, countryFormId, countryText, countryFormValue, countryErrorMessage) }}

        {% else %}
          {% include "pages/address/enter-address-common-fields.njk" %}
        {% endif %}
        
        {% include "includes/public-register-information.njk" %}

        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div> 
{% endblock %}
