{% extends "layout.njk" %}

{% block beforeContent %}
  {% include "includes/back-link.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>

        {% include "includes/csrf_token.njk" %}
        
        {{ govukRadios({
          name: "generalPartner",
          value: data['generalPartner'],
          fieldset: {
            legend: {
              text: i18n.generalPartnerChoicePage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: i18n.generalPartnerChoicePage.hint
          },

          items: [
            {
              value: "Person",
              text: i18n.generalPartnerChoicePage.person,
              id: "person",
              name: "person",
              attributes: {
                required: true
              }
            },
            {
              value: "Legal Entity",
              text: i18n.generalPartnerChoicePage.legalEntity,
              id: "legal_entity",
              name: "legal_entity",
              attributes: {
                required: true
              }
            }
          ]
        }) }}
       
        {% include "includes/continue-button.njk" %}
      </form>
    </div>
  </div>
{% endblock %}
