{% extends "layout.njk" %}

{% set pageTitle =  i18n.generalPartnerUsualResidentialAddressChoicePage.title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ props.currentUrl }}" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}

        {% include "includes/general-partner-name.njk" %}  
       
        {{ govukRadios({
           classes: "govuk-radios",
          name: "parameter",
          fieldset: {
            legend: {
              text: i18n.generalPartnerUsualResidentialAddressChoicePage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "unitedKingdom",
              text: i18n.generalPartnerUsualResidentialAddressChoicePage.unitedKingdom,
              id: "unitedKingdom",
              name: "unitedKingdom",
              attributes: {
                required: true
              }
            },
            {
              value: "overseas",
              text: i18n.generalPartnerUsualResidentialAddressChoicePage.overseas,
              id: "overseas",
              name: "overseas",
              attributes: {
                required: true
              }
            }
          ]
        }) }}
              
        {{ govukButton({
          text: i18n.buttons.continue
        }) }}

        {{ govukInsetText({
      html: "<h2 class='govuk-heading-m'>" + i18n.generalPartnerUsualResidentialAddressChoicePage.hintLine1 | escape + "</h2>"
          + "<p>" + i18n.generalPartnerUsualResidentialAddressChoicePage.hintLine2 | escape + "</p>"
    }) }}

      </form>
    </div>
  </div>
{% endblock %}
