{% extends "layout.njk" %}

{% set originalPage = "general-partners" %}
{% set newPage = "standard-industrial-classification-code" %}

{% block backLink %}

  {% include "includes/configurable-back-link.njk" %}

{% endblock %}

{% set pageTitle = i18n.generalPartnersPage.title  %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/proposed-name.njk" %}  

      <h1 class="govuk-heading-xl">{{ i18n.generalPartnersPage.title }}</h1>

        <p class="govuk-body">{{ i18n.generalPartnersPage.pageInformation }}</p>
      
        <button class="govuk-button" data-event-id="continue" onClick="location.href='{{ props.nextUrl }}'">{{ i18n.buttons.continue }}</button>

    </div>
  </div>
{% endblock %}
