{% extends "layout.njk" %}

{% block beforeContent %}
  {% include "includes/back-link.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
        {% if (data['registrationOrTransition'] == "registration") %}
          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP</span>
        {% else %}  
          <span class="govuk-caption-l">ACME LIMITED PARTNERSHIP (LP123456)</span>
        {% endif %}

        <h1 class="govuk-heading-xl">{{ i18n.generalPartnersPage.title }}</h1>

        <p class="govuk-body">{{ i18n.generalPartnersPage.pageInformation }}</p>
      
        <button class="govuk-button" onClick="location.href='{{ props.nextUrl }}'">{{ i18n.buttons.continue }}</button>

    </div>
  </div>
{% endblock %}