{% extends "layout.njk" %}

{% set pageTitle = "Landing page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Landing page</h1>

        <div class="govuk-body">
            <p>
                Partnership name: {{ props.data.limitedPartnership.partnership_name }}
            </p>

            <p>
                Partnership number: {{ props.data.limitedPartnership.partnership_number }}
            </p>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
                text: "Add General Partner",
                href: props.data.addGeneralPartner
            }) }}
        </div>
        <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
                text: "Add Limited Partner",
                href: props.data.addLimitedPartner
            }) }}
        </div>
         <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
                text: "Update Registered Office Address",
                href: props.data.updateROA
            }) }}
        </div>
         <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
                text: "Update Partnership Name",
                href: props.data.updateName
            }) }}
        </div>
        {% if props.data.limitedPartnership.partnership_type === "LP" or props.data.limitedPartnership.partnership_type === "SLP" %}
            <div class="govuk-button-group govuk-!-margin-top-8">
                {{ govukButton({
                    text: "Update Term",
                    href: props.data.updateTerm
                }) }}
            </div>
        {% endif %}
    </div>
  </div>
{% endblock %}