{% extends "layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% import 'includes/macros.njk' as macros %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% set pageTitle = i18n.checkYourAnswersPage.title %}

{% set item = props.data.limitedPartner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">    
      {% include "includes/proposed-name.njk" %}
      <h1 class="govuk-heading-l">{{ i18n.checkYourAnswersPage.update.title }}</h1>
      <div>
        <form class="form" method="post">
          <input type="hidden" name="pageType" value={{ props.pageType }}>
          {% include "includes/csrf_token.njk" %}
          
          {% include "pages/checkYourAnswers/limited-partner.njk" %}

          {% include "pages/checkYourAnswers/warning-message.njk" %}
          
          <p class="govuk-body govuk-!-font-size-20 check-your-answers-javascript-disabled-text-style">{{ i18n.print.buttonTextNoJs }}</p>

          <div class="govuk-button-group">
            {{ govukButton({
              text: i18n.buttons.submit,
              attributes: {
                "id": "submit",
                "data-event-id": "check-your-answers-update-limited-partner-submit-button"
              }
            }) }}

            {% include "includes/print-button.njk" %}
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}