{% extends "layout.njk" %}
{% import 'includes/macros.njk' as macros %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% set pageTitle = i18n.checkYourAnswersPage.update.title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/proposed-name.njk" %}
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <form class="form" action={{ props.currentUrl }} method="post">
       {% include "includes/csrf_token.njk" %}

       {% include "pages/checkYourAnswersChange/" + props.data.pageKey + ".njk" %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: i18n.buttons.submit,
            attributes: {
              "id": "submit",
              "data-event-id": props.pageType + "-submit-button"
            }
          }) }} 

          {% include "includes/print-button.njk" %}
        </div>
      </form>    
    </div>
  </div>    

{% endblock %}
