{% extends "layout.njk" %}

{% set pageTitle = i18n.limitedPartnersPage.title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include "includes/proposed-name.njk" %}        
 
        <h1 class="govuk-heading-xl">{{ i18n.limitedPartnersPage.title }}</h1>

        <p class="govuk-body">{{ i18n.limitedPartnersPage.pageInformation }}</p>
      
        <button class="govuk-button" onClick="location.href='{{ props.nextUrl }}'">{{ i18n.buttons.continue }}</button>

    </div>
  </div>
{% endblock %}