{% extends "layout.njk" %}

{% block content %}

<div id="content" data-type={{props.data.limitedPartnership.partnership_type}}></div>

{# {% if props.parameters['which-type'] == "registerLp" %}
   {% include "pages/name/limited-partnership-name.njk" %}
{% elif props.parameters['which-type'] == "registerPflp" %}
  {% include "pages/name/private-limited-partnership-name.njk" %} 
{% elif props.parameters['which-type'] == "registerSlp" %}
  {% include "pages/name/scottish-limited-partnership-name.njk" %}
{% elif props.parameters['which-type'] == "registerPflpSco" %}
  {% include "pages/name/private-limited-partnership-name-scotland.njk" %}  
{% else %}
  <p>Under construction</p>
{% endif %} #}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function validateNameLength() {
      const name = nameField.value + " " + suffixDiv.textContent;
      const maxLength = 160;
      if (name.length > maxLength){
        nameField.setCustomValidity(`Max length including suffix is ${maxLength} characters`);
      } else {
        nameField.setCustomValidity('');
      }
      nameField.reportValidity();
    };

    const suffixDiv = document.querySelector('.govuk-input__suffix');
    const radioButtons = document.querySelectorAll('input[name="name_ending"]');

    radioButtons.forEach(function(radioButton) {
      radioButton.addEventListener('change', function() {
        if (radioButton.checked) {
          suffixDiv.textContent = radioButton.value;
          validateNameLength();
        }
      });
    });

    const nameField = document.getElementById('partnership_name');
    nameField.addEventListener('keyup', validateNameLength);

    const form = document.querySelector('.form');

    form.addEventListener('submit', function(evt) {
      if (!suffixDiv.textContent) {
        evt.preventDefault();
      }
      nameField.value = nameField.value.trim();
    });
  });

  const content = document.getElementById('content');
  const whichType = sessionStorage.getItem("which-type");
  const whichTypeDb = content.dataset.type;

  const value = (whichType && whichType !== whichTypeDb) ? whichType : whichTypeDb;

  if (value == "registerLp"){
    content.innerHTML = `{% include "pages/name/limited-partnership-name.njk" %}`;
  } else if (value === "registerPflp") {
    content.innerHTML = `{% include "pages/name/private-limited-partnership-name.njk" %}`;
  } else if (value === "registerSlp") {
    content.innerHTML = `{% include "pages/name/scottish-limited-partnership-name.njk" %}`;
  } else if (value === "registerPflpSco") {
    content.innerHTML = `{% include "pages/name/private-limited-partnership-name-scotland.njk" %}`; 
  } else{
    content.innerHTML = `<p>Under construction</p>`;
  }
</script>

{% endblock %}
