{% extends "layout.njk" %}

{% block content %}

{% import "ch-node-utils/templates/add-lang-to-url.njk" as lang2url %}
{% include "ch-node-utils/templates/locales-banner.njk" %}

  <h1>Well done!</h1>

{% endblock %}