{% extends "layout.njk" %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">{{ i18n.pageNotFound_Title }}</h1>
			<p class="govuk-body">{{ i18n.pageNotFound_Text1 }}</p>

			<p class="govuk-body">{{ i18n.pageNotFound_Text2 }}</p>

			<p class="govuk-body">{{ i18n.pageNotFound_Text3 }}</p>

			<p class="govuk-body">{{ i18n.pageNotFound_Text4_Part1 }}<a class="govuk-link" href="/limited-partnerships/start">{{ i18n.pageNotFound_Text4_HyperlinkText }}</a>{{ i18n.pageNotFound_Text4_Part2 }}</p>
		</div>
	</div>
{% endblock %}
