{% extends "layout.njk" %}
{% import 'includes/macros.njk' as macros %}

{% block head %}
  {{ super() }}
  {% include "includes/styles/print.njk" %}
{% endblock %}

{% set pageTitle = i18n.checkYourAnswersPage.update.title %}

{% set name = "" %}
{% if props.data.partner.data.forename %}
  {% set name = props.data.partner.data.forename + " " + props.data.partner.data.surname %}
  {% if props.data.partnerType == "generalPartner" %}
    {% set warningText = i18n.checkYourAnswersPage.partners.person.generalPartner.warningMessageUpdate %}
  {% else %}
    {% set warningText = i18n.checkYourAnswersPage.partners.person.limitedPartner.warningMessageUpdate %}
  {% endif %}
{% elif props.data.partner.data.legal_entity_name %}
  {% set name = props.data.partner.data.legal_entity_name %}
  {% set warningText = "" %}
{% endif %}

{% if props.pageType and props.pageType.includes("remove") %}
  {% set warningText = "" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if props.data.pageKey == "updatePartner"%}
        {% include "includes/proposed-name.njk" %}
      {% else %}
        <span class="govuk-caption-l"> {{ name }} </span>
      {% endif %}
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <form class="form" method="post">
       {% include "includes/csrf_token.njk" %}

       {% include "pages/checkYourAnswersChange/" + props.data.pageKey + ".njk" %}

        <h2 class="govuk-heading-m govuk-!-padding-top-5">{{ i18n.checkYourAnswersPage.update.printMessage }}</h2>

        <p class="govuk-body">{{ i18n.checkYourAnswersPage.update.information }}</p>

        <p class="govuk-body govuk-!-font-size-20 check-your-answers-javascript-disabled-text-style">{{ i18n.print.buttonTextNoJs }}</p>
        
        {% if warningText %}
          {{ govukWarningText({
            text: warningText,
            iconFallbackText: "Warning"
          }) }}
        {% endif %}

        <div class="govuk-button-group govuk-!-padding-top-5">
          {{ govukButton({
            text: i18n.buttons.submitUpdate,
            attributes: {
              "id": "submit",
              "data-event-id": props.pageType + "-submit-button"
            }
          }) }} 

          {% include "includes/print-button.njk" %}
        </div>
      </form>    
    </div>
  </div>    

{% endblock %}
