{% extends "layout.njk" %}
{% block content %}
    <h1>What is the principle place of business</h1>
    <h2>&#x1F6A7;&#x1F6A7;&#x1F6A7; Under construction &#x1F6A7;&#x1F6A7;&#x1F6A7;</h2>
{% endblock %}