{% extends "layout.njk" %}

{% set pageTitle = i18n.address.findPostcode.registeredOfficeAddress.whatIsOfficeAddress %}
{% set publicRegisterInformationLine1 = i18n.address.findPostcode.registeredOfficeAddress.publicRegisterLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}

      <div>
        {% include "includes/proposed-name.njk" %}

        <h1 class="govuk-heading-xl">{{ i18n.address.findPostcode.registeredOfficeAddress.whatIsOfficeAddress }}</h1>
        <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.officialCommunication }}</p>
        <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.physicalAddress }}</p>
        <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.provideNext }}</p>
      </div>

      {% include "pages/address/postcode-form.njk" %}

    <div>
      {% include "includes/public-register-information.njk" %}
    </div>
  </div>

{% endblock %}
