{% extends "layout.njk" %}

{% set pageTitle = i18n.address.findPostcode.limitedPartner.principalOfficeAddress.whatIsPrincipalOfficeAddress %}
{% set publicRegisterInformationLine1 = i18n.address.findPostcode.limitedPartner.principalOfficeAddress.publicRegisterLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}

      <div>
        {% include "includes/limited-partner-name.njk" %}

        <h1 class="govuk-heading-xl">{{ i18n.address.findPostcode.limitedPartner.principalOfficeAddress.whatIsPrincipalOfficeAddress }}</h1>
      </div>

      {% include "pages/address/postcode-form.njk" %}

    <div>
      {% include "includes/public-register-information.njk" %}
    </div>
  </div>

{% endblock %}
