{% extends "layout.njk" %}

{% if props.errors and props.errors.errorList.length > 0 %}  
  {% set pageTitle = "Error: " + i18n.address.findPostcode.registeredOfficeAddress.whatIsOfficeAddress %}
{% else %}
  {% set pageTitle = i18n.address.findPostcode.registeredOfficeAddress.whatIsOfficeAddress %}
{% endif %}

{% set publicRegisterInformationLine1 = i18n.address.findPostcode.registeredOfficeAddress.publicRegisterLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}

      <div>
        {% include "includes/proposed-name.njk" %}

        <h1 class="govuk-heading-xl">{{ i18n.address.findPostcode.registeredOfficeAddress.whatIsOfficeAddress }}</h1>

        {% if journeyTypes.isTransition %}
          <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.newRequirement }}</p>
        {% endif %}
        <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.officialCommunication }}</p>
        <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.physicalAddress }}</p>
        {% if journeyTypes.isRegistration %}
          <p class="govuk-hint">{{ i18n.address.findPostcode.registeredOfficeAddress.provideNext }}</p>
        {% endif %}
      </div>

      {% include "pages/address/postcode-form.njk" %}

    <div>
      {% include "includes/public-register-information.njk" %}
    </div>
  </div>

{% endblock %}
