{% extends "layouts/main.html" %}

{% block content %}

{% set nameEnding = i18n.privateNamePage.nameEnding %}
{% set nameEndingHint = i18n.privateNamePage.nameEndingHint %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action={{ props.currentUrl }} method="post">

      <input type="hidden" name="pageType" value={{ props.pageType }}>

      {% include "includes/csrf_token.njk" %}

      <h1 class="govuk-heading-xl">{{ i18n.privateNamePage.title }}</h1>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="partnership_name">
            {{ i18n.privateNamePage.checkNameExistingTrademark }}
          </label>
        </h1>

        {{ govukInput({
          classes: "govuk-input--width-40",
          errorMessage: errors.private_partnership_name if errors,
          id: "privatePartnership_name",
          name: "privatePartnership_name",
          value: privatePartnership_name,
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: i18n.privateNamePage.whatIsNameHint
          },
          attributes : {
            required : true,
            "aria-describedby": "partnership_name-hint",
            minLength: "3"
          },
          suffix: {
              text: "Limited Partnership"
            }
          }) }}
      </div>   

      {{ govukInsetText({
        html: i18n.privateNamePage.checkNameExistingTrademark
      }) }}

      {% include "includes/name-ending.njk" %}
    </form>  
  </div>      
</div>   

{% endblock %}