{% extends "layout.njk" %}

{% set pageTitle=i18n.redesignateToPflpPage.title %}
{% set submitButtonText = i18n.checkYourAnswersPage.payment %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"> {{ pageTitle }} </h1>
        <br>
        <p class="govuk-body"> {{ i18n.redesignateToPflpPage.introduction1 }} </p>
        <p class="govuk-body"> {{ i18n.redesignateToPflpPage.introduction2 }} </p>
        <p class="govuk-body"> {{ i18n.redesignateToPflpPage.pflpMeaningsIntro }} </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.capital }} </li>
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.appoint }} </li>
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.agreement }} </li>
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.risk }} </li>
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.admin }} </li>
          <li> {{ i18n.redesignateToPflpPage.pflpMeanings.scheme }} </li>
        </ul>
        <p class="govuk-body"> {{ i18n.redesignateToPflpPage.information }} <a href="https://www.legislation.gov.uk/uksi/2017/514/article/2/made" class="govuk-link">{{ i18n.redesignateToPflpPage.informationLink }}</a>.</p>
        <p class="govuk-body">{{ i18n.redesignateToPflpPage.cost }}</p>      
        
        {{ govukCheckboxes({
          id: "redesignate_to_pflp_apply", 
          name: "redesignate_to_pflp_apply",            
          items: [
            {
              value: "true",
              text: i18n.redesignateToPflpPage.applicationCheck,
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        {{ govukCheckboxes({
          id: "redesignate_to_pflp_confirm", 
          name: "redesignate_to_pflp_confirm",          
          items: [
            {
              value: "true",
              text: i18n.redesignateToPflpPage.confirmationCheck,
              attributes: {
                required: true
              }
            }
          ]
        }) }}
  
       {{ govukButton({
          text: submitButtonText,
          attributes: {
            "id": "submit",
            "data-event-id": "check-your-answers-continue-to-payment-page-button"
          }
       }) }}

      </form>     
    </div>
  </div>
{% endblock %}