{% extends "layout.njk" %}

{% set pageTitle=i18n.partnership.redesignateToPflpPage.title %}
{% set submitButtonText = i18n.checkYourAnswersPage.payment %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}
        
        {% include "includes/errors.njk" %}

        {% include "includes/proposed-name.njk" %}  

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"> {{ pageTitle }} </h1>
        <br>
        <p class="govuk-body"> {{ i18n.partnership.redesignateToPflpPage.introduction1 }} </p>
        <p class="govuk-body"> {{ i18n.partnership.redesignateToPflpPage.introduction2 }} </p>
        <p class="govuk-body"> {{ i18n.partnership.redesignateToPflpPage.pflpMeaningsIntro }} </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.capital }} </li>
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.appoint }} </li>
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.agreement }} </li>
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.risk }} </li>
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.admin }} </li>
          <li> {{ i18n.partnership.redesignateToPflpPage.pflpMeanings.scheme }} </li>
        </ul>
        <p class="govuk-body"> {{ i18n.partnership.redesignateToPflpPage.information }} <a href="https://www.legislation.gov.uk/uksi/2017/514/article/2/made" target="_blank" class="govuk-link">{{ i18n.partnership.redesignateToPflpPage.informationLink }}</a>.</p>
        <p class="govuk-body">{{ i18n.partnership.redesignateToPflpPage.cost | replace("{{ cost }}", props.data.costRedesignateToPflp) }}</p>     

        {% set bothError = props.errors.redesignate_to_pflp_both %}
        {% set errorClass = "govuk-form-group govuk-form-group--error" if bothError else "govuk-form-group" %}
      
        <div id="redesignate_to_pflp_both" class="{{ errorClass }}">
          {% if bothError %}
            <p class="govuk-error-message">
              {{ bothError.text }}
            </p>
          {% endif %}

          {{ govukCheckboxes({
            id: "redesignate_to_pflp_apply", 
            name: "redesignate_to_pflp_apply",   
            errorMessage: {
              text: props.errors.redesignate_to_pflp_apply.text
            } if props.errors.redesignate_to_pflp_apply,
            items: [
              {
                value: "true",
                text: i18n.partnership.redesignateToPflpPage.applicationCheck,
                checked: props.data.limitedPartnership.data.redesignate_to_pflp_apply
              }
            ]
          }) }}

          {{ govukCheckboxes({
            id: "redesignate_to_pflp_confirm", 
            name: "redesignate_to_pflp_confirm",  
            errorMessage: {
              text: props.errors.redesignate_to_pflp_confirm.text
            } if props.errors.redesignate_to_pflp_confirm,
            items: [
              {
                value: "true",
                text: i18n.partnership.redesignateToPflpPage.confirmationCheck,
                checked: props.data.limitedPartnership.data.redesignate_to_pflp_confirm
              }
            ]
          }) }}
        </div>
  
       {{ govukButton({
          text: submitButtonText,
          attributes: {
            "id": "submit",
            "data-event-id": "check-your-answers-continue-to-payment-page-button"
          }
       }) }}

      </form>     
    </div>
  </div>
{% endblock %}