{% extends "layout.njk" %}
{% import 'includes/macros.njk' as macros %}

{% set checkYourAnswers = "registered-office-address-check-your-answers" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/proposed-name.njk" %}
      <h1 class="govuk-heading-l">{{ i18n.checkYourAnswersPage.update.title }}</h1>

      <form class="form" action={{ props.currentUrl }} method="post">
       {% include "includes/csrf_token.njk" %}
          
       {% include "pages/checkYourAnswers/registered-office-address.njk" %}
      
       <div class="govuk-button-group">
         {% include "includes/print-button.njk" %}
       </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: i18n.buttons.submit,
            attributes: {
              "id": "submit",
              "data-event-id": "check-your-answers-update-registered-office-address-submit-button"
            }
          }) }} 
        </div>
      </form>    
    </div>
  </div>    

{% endblock %}
