{% extends "layout.njk" %}

{% set pageTitle = i18n.removeGeneralPartnerPage.title %}

{% set name = "" %}
{% if props.data.generalPartner.data.forename %}
  {% set name = props.data.generalPartner.data.forename + " " + props.data.generalPartner.data.surname %}
{% elif props.data.generalPartner.data.legal_entity_name %}
  {% set name = props.data.generalPartner.data.legal_entity_name %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        <input type="hidden" name="previousPage" value={{ props.previousUrl }}>


        {% include "includes/csrf_token.njk" %}

        {{ govukRadios({          
          classes: "govuk-radios--inline",
          idPrefix: "sign_out",
          name: "sign_out",
          fieldset: {
          legend: {
            text: i18n.removeGeneralPartnerPage.title + " " + name + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: i18n.yesAndNo.yes,
            attributes: {
              required: true
            }
          },
          {
            value: "no",
            text: i18n.yesAndNo.no,
            attributes: {
              required: true
            }
          }
        ]
        }) }}
        
        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>
{% endblock %}