{% extends "layout.njk" %}

{% if props.errors and props.errors.errorList.length > 0 %}  
  {% set pageTitle = "Error: " + i18n.reviewLimitedPartnersPage.title %}
{% else %}
  {% set pageTitle = i18n.reviewLimitedPartnersPage.title %}
{% endif %}

{% set list = props.data.limitedPartners %}

{% set partnersAdded = i18n.reviewLimitedPartnersPage.limitedPartnersAdded %}
{% set addPartner = i18n.reviewLimitedPartnersPage.addLimitedPartner %}
{% set kind = "limited-partner" %}
{% set parameter = "addAnotherLimitedPartner" %}

{% block content %}

    {% include "pages/review-partners.njk" %}

{% endblock %}