{% extends "layout.njk" %}

{% set currentPage = "review-general-partners" %}
{% set backPage = "standard-industrial-classification-code" %}

{% block backLink %}

  {% include "includes/configurable-back-link.njk" %}

{% endblock %}

{% set pageTitle = i18n.partner.reviewGeneralPartnersPage.title  %}

{% set list = props.data.generalPartners %}

{% set partnersAdded = i18n.partner.reviewGeneralPartnersPage.generalPartnersAdded %}
{% set addPartner = i18n.partner.reviewGeneralPartnersPage.addGeneralPartner %}
{% set kind = "general-partner" %}

{% block content %}

  {% include "pages/review-partners.njk" %}

{% endblock %}