{% extends "layout.njk" %}

{% set pageTitle = i18n.reviewGeneralPartnersPage.title  %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/proposed-name.njk" %}

            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-5">{{ i18n.reviewGeneralPartnersPage.generalPartnersAdded.title }}</h2>

            {% if props.data.generalPartners.length  %}

                {% for item in props.data.generalPartners %}

                    {% if item.data.forename %}

                        {{ govukSummaryList({
                            classes: "govuk-!-margin-bottom-0",
                            rows: [
                                {
                                    key: {
                                        text: i18n.reviewGeneralPartnersPage.generalPartnersAdded.person
                                    },
                                    value: {
                                        text: item.data.forename + " " + item.data.surname
                                    },
                                    actions: {
                                    items: [
                                            CREATE_CHANGE_LINK(
                                                i18n.reviewGeneralPartnersPage.generalPartnersAdded.changeLink,
                                                props.currentUrl | replace("review-general-partners", "general-partner/" + item.id + "/add-general-partner-person")
                                            ),
                                            CREATE_CHANGE_LINK(
                                                i18n.reviewGeneralPartnersPage.generalPartnersAdded.removeLink,
                                                props.currentUrl | replace("review-general-partners", "general-partner/" + item.id + "/remove-general-partner")
                                            )
                                        ]
                                    }
                                }
                            ]
                        }) }} 

                    {% elif item.data.legal_entity_name %}

                        {{ govukSummaryList({
                            classes: "govuk-!-margin-bottom-0",
                            rows: [
                                {
                                    key: {
                                        text: i18n.reviewGeneralPartnersPage.generalPartnersAdded.legalEntity
                                    },
                                    value: {
                                        text: item.data.legal_entity_name
                                    },
                                    actions: {
                                    items: [
                                            CREATE_CHANGE_LINK(
                                                i18n.reviewGeneralPartnersPage.generalPartnersAdded.changeLink,
                                                props.currentUrl | replace("review-general-partners", "general-partner/" + item.id + "/add-general-partner-legal-entity")
                                            ),
                                            CREATE_CHANGE_LINK(
                                                i18n.reviewGeneralPartnersPage.generalPartnersAdded.removeLink,
                                                props.currentUrl | replace("review-general-partners", "general-partner/" + item.id + "/remove-general-partner")
                                            )
                                        ]
                                    }
                                }
                            ]
                        }) }} 

                    {% endif %}

                {% endfor %}
            
            {% else %}

                <p>{{ i18n.reviewGeneralPartnersPage.generalPartnersAdded.emptyList }}</p>

            {% endif %}

        </div>
    </div>

    </br>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action={{ props.currentUrl }} method="post">
                <input type="hidden" name="pageType" value={{ props.pageType }}>
                
                {% include "includes/csrf_token.njk" %}
        
                {{ govukRadios({
                    name: "addAnotherGeneralPartner",
                    fieldset: {
                        legend: {
                            text: i18n.reviewGeneralPartnersPage.addGeneralPartner.title,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    items: [
                        {
                            value: "addPerson",
                            text: i18n.reviewGeneralPartnersPage.addGeneralPartner.optionPerson,
                            attributes: {
                                required: true
                            }
                        },
                        {
                            value: "addLegalEntity",
                            text: i18n.reviewGeneralPartnersPage.addGeneralPartner.optionLegalEntity,
                            attributes: {
                                required: true
                            }
                        },
                        {
                            value: "no",
                            text: i18n.reviewGeneralPartnersPage.addGeneralPartner.optionNo,
                            attributes: {
                                required: true
                            }
                        }
                    ]
                }) }}

                {% include "includes/save-and-continue-button.njk" %}

            </form>
        </div>
    </div>
{% endblock %}