{% extends "layout.njk" %}

{% set pageTitle = i18n.sicCodePage.title %}
{% set publicRegisterInformationLine1 = i18n.sicCodePage.publicRegisterLine1 %}

{% set sic1 = "" %}
{% set sic2 = "" %}
{% set sic3 = "" %}
{% set sic4 = "" %}

{% if props.data.limitedPartnership.data.sic_codes.length > 0  %}
  {% set sic1 = props.data.limitedPartnership.data.sic_codes[0] %}
  {% set sic2 = props.data.limitedPartnership.data.sic_codes[1] %}
  {% set sic3 = props.data.limitedPartnership.data.sic_codes[2] %}
  {% set sic4 = props.data.limitedPartnership.data.sic_codes[3] %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% include "includes/proposed-name.njk" %} 

    <h1 class="govuk-heading-xl">{{ i18n.sicCodePage.title }}</h1>

    <p class="govuk-hint" id="sic-hint">{{ i18n.sicCodePage.hint }}</p>
    <p class="govuk-!-margin-bottom-6"><a href="{{ i18n.sicCodePage.findUrl }}" class="govuk-link govuk-link--no-visited-state govuk-body-m" rel="noreferrer noopener" target="_blank">{{ i18n.sicCodePage.find }}</a>.</p>

    <form class="form" action={{ props.currentUrl }} method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}

        {{ govukInput({
            classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
            id: "sic1",
            name: "sic1",
            value: sic1,
            label: {
              text: i18n.sicCodePage.sicCode1,
              classes: "govuk-visually-hidden"
            },
            attributes: {
                required: true
            },
            pattern: "\\d{5}"
        }) }}

        <p class="govuk-body">{{ i18n.sicCodePage.additionalHint}}</p>


        {{ govukInput({
            classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
            id: "sic2",
            name: "sic2",
            value: sic2,
            label: {
              text: i18n.sicCodePage.sicCode2,
              classes: "govuk-visually-hidden"
            },
            pattern: "\\d{5}"
        }) }}

        {{ govukInput({
            classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
            id: "sic3",
            name: "sic3",
            value: sic3,
            label: {
              text: i18n.sicCodePage.sicCode3,
              classes: "govuk-visually-hidden"
            },
            pattern: "\\d{5}"
        }) }}

        {{ govukInput({
            classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
            id: "sic4",
            name: "sic4",
            value: sic4,
            label: {
              text: i18n.sicCodePage.sicCode4,
              classes: "govuk-visually-hidden"
            },
            pattern: "\\d{5}"
        }) }}

        {% include "includes/public-register-information.njk" %}
        
        {% include "includes/save-and-continue-button.njk" %}

    </form>
      
    </div>
  </div>
{% endblock %}