{% extends "layout.njk" %}

{% set pageTitle = i18n.startPage.title %}

{% block content %}

  {{ i18n.startPage.title }}

  <p>

  {{ errorMessage }}

  <button class="govuk-button" onClick="_paq.push(['trackGoal', '{{PIWIK_REGISTRATION_START_GOAL_ID}}']); location.href='{{ props.nextUrl }}'">Start</button>
  
{% endblock %}