{% extends "layout.njk" %}

{% block content %}

  {{ i18n.startPage.title }}

  <p>

  {{ errorMessage }}

  <button class="govuk-button" onClick="location.href='{{ props.nextUrl }}'">Start</button>

{% endblock %}