{% extends "layout.njk" %}

{% set pageTitle = i18n.termPage.title %}
{% set publicRegisterInformationLine1 = i18n.termPage.publicRegisterLine1 %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}
      
      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}
        
        {% include "includes/proposed-name.njk" %}  

        {{ govukRadios({
          classes: "govuk-radios",
          name: "term",
          value: props.data.limitedPartnership.data.term,
          fieldset: {
            legend: {
              text: i18n.termPage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: i18n.termPage.hint
          },

          items: [
            {
              value: "BY_AGREEMENT",
              text: i18n.termPage.byAgreement,
              attributes: {
                required: true
              }
            },
            {
              value: "UNTIL_DISSOLUTION",
              text: i18n.termPage.untilDissolution,
              attributes: {
                required: true
              }
            },
            {
              value: "NONE",
              text: i18n.termPage.noTerm,
              attributes: {
                required: true
              }
            }
          ]
        }) }}

        <div>
          {% include "includes/public-register-information.njk" %}
        </div>
       
        {{ govukButton({
          text: i18n.buttons.saveAndContinue,
          attributes: {
            "id": "submit",
            "onclick": "_paq.push(['trackEvent', 'Limited Partnerships Term', 'selection', document.querySelector('input[name=term]:checked').nextElementSibling.innerHTML])"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
