{% extends "layout.njk" %}

{# Back Link #}
{% if props.data.generalPartner.data.legal_entity_name %}
  {% set hrefValue = props.currentUrl | replace(props.pageType, "add-general-partner-legal-entity") %}
{% else %}
  {% set hrefValue = props.previousUrl %}
{% endif %}

{% set pageTitle = i18n.address.territoryChoice.generalPartnerPrincipalOfficeAddress.title %}
{% set titleHint = i18n.address.territoryChoice.generalPartnerPrincipalOfficeAddress.titleHint %}
{% set publicRegisterInformationLine1 = i18n.address.territoryChoice.generalPartnerPrincipalOfficeAddress.publicRegisterInformationLine1 %}
{% set addressEvent = "general partner principal office address" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/general-partner-name.njk" %}

      {% include "pages/address/territory-address-form.njk" %}
    </div>
  </div>
{% endblock %}
