{% extends "layout.njk" %}

{# Back Link #}
{% if props.data.generalPartner.data.forename %}
  {% set hrefValue = props.currentUrl | replace(props.pageType, "add-general-partner-person") %}
{% else %}
  {% set hrefValue = props.previousUrl %}
{% endif %}


{% set pageTitle = i18n.address.territoryChoice.generalPartnerUsualResidentialAddress.title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ props.currentUrl }}" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
        {% include "includes/csrf_token.njk" %}

        {% include "includes/general-partner-name.njk" %}  

        {% include "includes/territory-choice-radios.njk" %}  

        {% set publicRegisterInformationHeading = i18n.publicRegisterInformation.title %}
        {% set publicRegisterInformationLine1 = i18n.address.territoryChoice.generalPartnerUsualResidentialAddress.publicRegisterInformationLine1 %}
        {% include "includes/public-register-information.njk" %}  

        {{ govukButton({
          text: i18n.buttons.continue,
          attributes: {
            "id": "submit",
            "onclick": "_paq.push(['trackEvent', 'general partner ura territory choice', 'selection', document.querySelector('input[name=parameter]:checked').nextElementSibling.innerHTML])"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
