{% extends "layout.njk" %}

{% set pageTitle = i18n.address.territoryChoice.generalPartnerCorrespondenceAddress.title %}
{% set titleHint = i18n.address.territoryChoice.generalPartnerCorrespondenceAddress.titleHint %}
{% set publicRegisterInformationLine1 = i18n.address.territoryChoice.generalPartnerCorrespondenceAddress.publicRegisterInformationLine1 %}
{% set addressEvent = "general partner correspondence address" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/general-partner-name.njk" %}  

      {% include "pages/address/territory-address-form.njk" %}
    </div>
  </div>
{% endblock %}
