{% extends "layout.njk" %}

{% set pageTitle = i18n.address.territoryChoice.personWithSignificantControlUsualResidentialAddress.title %}
{% set titleHint = i18n.address.territoryChoice.personWithSignificantControlUsualResidentialAddress.titleHint %}
{% set publicRegisterInformationLine1 = i18n.address.territoryChoice.personWithSignificantControlUsualResidentialAddress.publicRegisterInformationLine1 %}
{% set publicRegisterInformationLine2 = i18n.address.territoryChoice.personWithSignificantControlUsualResidentialAddress.publicRegisterInformationLine2 %}
{% set addressEvent = "person with significant control usual residential address" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}

      {% include "pages/personWithSignificantControl/person-with-significant-control-name.njk" %}

      {% include "pages/address/territory-address-form.njk" %}
    </div>
  </div>
{% endblock %}
