{% extends "layout.njk" %}
{% import 'includes/countries.njk' as macros %}

{% set publicRegisterInformationLine1 = i18n.addPartnerLegalEntityPage.publicRegisterLine1 %}

{% set pageTitle = "hello"  %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>      
        {% include "includes/csrf_token.njk" %}
        {% include "includes/errors.njk" %}

        {% include "includes/proposed-name.njk" %}  
    
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        {{ govukWarningText({
          text: i18n.addPartnerLegalEntityPage.legalPersonalityWarning
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.legalEntityName,
            classes: "govuk-label govuk-label--m",
            isPageHeading: true
          },
          id: "legal_entity_name",
          name: "legal_entity_name",
          value: props.data.generalPartner.data.legal_entity_name,
          errorMessage: props.errors.legal_entity_name if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.legalFormOrCorporateIdentity,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.legalFormOrCorporateIdentityHint
          },
          id: "legal_form",
          name: "legal_form",
          value: props.data.generalPartner.data.legal_form,
          errorMessage: props.errors.legal_form if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.governingLaw,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.governingLawHint
          },
          id: "governing_law",
          name: "governing_law",
          value: props.data.generalPartner.data.governing_law,
          errorMessage: props.errors.governing_law if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.whichRegister,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.whichRegisterHint
          },
          id: "legal_entity_register_name",
          name: "legal_entity_register_name",
          value: props.data.generalPartner.data.legal_entity_register_name,
          errorMessage: props.errors.legal_entity_register_name if props.errors,
          attributes : {
            required: true
          }
        }) }}

        {% set countryText = i18n.addPartnerLegalEntityPage.countryRegistered %}
        {% set countryFormId = "legal_entity_registration_location" %}
        {% set countryErrorMessage = props.errors.legal_entity_registration_location if props.errors %}
        {% set countryFormValue = props.data.generalPartner.data.legal_entity_registration_location %}

        {{ macros.getSpecifiedCountryList(i18n, "overseas", countryFormId, countryText, countryFormValue, countryErrorMessage) }}

        {{ govukInput({
          label: {
            text: i18n.addPartnerLegalEntityPage.registrationNumber,
            classes: "govuk-label govuk-label--m"
          },
          hint: {
            text: i18n.addPartnerLegalEntityPage.registrationNumberHint
          },
          id: "registered_company_number",
          name: "registered_company_number",
          classes: "govuk-!-width-one-half",
          inputmode: "numeric",
          value: props.data.generalPartner.data.registered_company_number,
          errorMessage: props.errors.registered_company_number if props.errors,
          attributes : {
            required: true
          }
        }) }}
        

        <div>
          {% include "includes/public-register-information.njk" %}
        </div>

        {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>
{% endblock %}  