{% extends "layout.njk" %}

{% set pageTitle = i18n.whichTypePage.title %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
      
        {% include "includes/csrf_token.njk" %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "parameter",
          fieldset: {
            legend: {
              text: i18n.whichTypePage.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "LP",
              text: i18n.whichTypePage.options.LP,
              checked: props.data.limitedPartnership.data.partnership_type === "LP",
              attributes: {
                "required": true,
                "data-goal-id": PIWIK_REGISTRATION_LP_GOAL_ID
              }
            },
            {
              value: "PFLP",
              text: i18n.whichTypePage.options.PFLP,
              checked: props.data.limitedPartnership.data.partnership_type === "PFLP",
              attributes: {
                "required": true,
                "data-goal-id": PIWIK_REGISTRATION_PRIVATE_FUND_LP_GOAL_ID
              }
            },
            {
              value: "SLP",
              text: i18n.whichTypePage.options.SLP,
              checked: props.data.limitedPartnership.data.partnership_type === "SLP",
              attributes: {
                "required": true,
                "data-goal-id": PIWIK_REGISTRATION_SCOTTISH_LP_GOAL_ID
              }
            },
            {
              value: "SPFLP",
              text: i18n.whichTypePage.options.SPFLP,
              checked: props.data.limitedPartnership.data.partnership_type === "SPFLP",
              attributes: {
                "required": true,
                "data-goal-id": PIWIK_REGISTRATION_SCOTTISH_PRIVATE_FUND_LP_GOAL_ID
              }
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button" id="submit" onclick="_paq.push(['trackGoal', document.querySelector('input[name=parameter]:checked').getAttribute('data-goal-id')])">
          {{ i18n.buttons.continue }}
        </button>

      </form>
    </div>
  </div>

{% endblock %}