{% extends "layout.njk" %}

{% set translation = i18n.personWithSignificantControl.whichTypeOfNatureOfControlPage.otherRegistrablePerson %}

{% set pageTitle = translation.title %}
{% set individual = translation.individual %}
{% set firm = translation.firm %}
{% set trust = translation.trust %}

{% block content %}

    {% include "pages/natureOfControl/which-type-of-nature-of-control.njk" %}

{% endblock %}