{% extends "layout.njk" %}

{% set pageTitle = i18n.personWithSignificantControl.willThePartnershipHaveAnyPscPage.title %}

{% set publicRegisterInformationLine1 = i18n.personWithSignificantControl.willThePartnershipHaveAnyPscPage.publicRegisterLine1 %}

{% set currentValue = props.data.limitedPartnership.data.has_person_with_significant_control %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/errors.njk" %}

      <form class="form" method="post">
        <input type="hidden" name="pageType" value={{ props.pageType }}>
          {% include "includes/csrf_token.njk" %}

          {% include "includes/proposed-name.njk" %}        

          {{ govukRadios({
            classes: "govuk-radios",
            name: "has_person_with_significant_control",
            id: "has_person_with_significant_control",
            value: props.data.limitedPartnership.data.has_person_with_significant_control,
            fieldset: {
              legend: {
                text: pageTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "true",
                text: i18n.personWithSignificantControl.willThePartnershipHaveAnyPscPage.optionYes,
                checked: currentValue === true
              },
              {
                value: "false",
                text: i18n.personWithSignificantControl.willThePartnershipHaveAnyPscPage.optionNo,
                checked: currentValue === false
              }
            ],
            errorMessage: {
              text: i18n.personWithSignificantControl.willThePartnershipHaveAnyPscPage.errorMessage
            } if props.errors
          }) }}

          {% include "includes/what-is-other-registrable-person.njk" %}

          {% include "includes/public-register-information.njk" %}
        
          {% include "includes/save-and-continue-button.njk" %}
      </form>
    </div>
  </div>
{% endblock %}