{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set translationText = i18n.personWithSignificantControl.addNatureOfControlPage %}

{% set publicRegisterInformationLine1 = i18n.personWithSignificantControl.addNatureOfControlPage.publicRegisterInformationLine1 %}

{% set natureOfControl = props.data.natureOfControl %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include "includes/errors.njk" %}

        {% include "pages/personWithSignificantControl/person-with-significant-control-name.njk" %}

        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
        <p class="govuk-hint govuk-!-margin-top-0">{{ pageTitleHint }}</p>

        <form class="form" method="post">
            <input type="hidden" name="pageType" value={{ props.pageType }}>
            <input type="hidden" name="type" value={{ props.data.natureOfControlType }}>
            {% include "includes/csrf_token.njk" %}

            <h2 class="govuk-heading-m">{{ translationText.shareOfAssets }}</h2>
            <p class="govuk-body">{{ shareOfAssetsHint }}</p>

            {{ govukRadios({
                name: "share_of_assets",
                items: [
                    {
                        value: "share_of_assets_25_to_50",
                        text: translationText.moreThan25LessThan50,
                        checked: natureOfControl.share_of_assets_25_to_50
                    },
                    {
                        value: "share_of_assets_50_to_75",
                        text: translationText.moreThan50LessThan75,
                        checked: natureOfControl.share_of_assets_50_to_75
                    },
                    {
                        value: "share_of_assets_75_to_100",
                        text: translationText.moreThan75,
                        checked: natureOfControl.share_of_assets_75_to_100
                    },
                    {
                        value: "share_of_assets_does_not_apply",
                        text: translationText.doesNotApply,
                        checked: natureOfControl.share_of_assets_does_not_apply
                    }
                ],
                errorMessage: {
                    text: props.errors.share_of_assets.message
                } if props.errors.share_of_assets
            }) }}

            <h2 class="govuk-heading-m">{{ translationText.votingRights }}</h2>
            <p class="govuk-body">{{ votingRightsHint }}</p>

            {{ govukRadios({
                name: "voting_rights",
                items: [
                    {
                        value: "voting_rights_25_to_50",
                        text: translationText.moreThan25LessThan50,
                        checked: natureOfControl.voting_rights_25_to_50
                    },
                    {
                        value: "voting_rights_50_to_75",
                        text: translationText.moreThan50LessThan75,
                        checked: natureOfControl.voting_rights_50_to_75
                    },
                    {
                        value: "voting_rights_75_to_100",
                        text: translationText.moreThan75,
                        checked: natureOfControl.voting_rights_75_to_100
                    },
                    {
                        value: "voting_rights_does_not_apply",
                        text: translationText.doesNotApply,
                        checked: natureOfControl.voting_rights_does_not_apply
                    }
                ],
                errorMessage: {
                    text: props.errors.voting_rights.message
                } if props.errors.voting_rights
            }) }}

            {{ govukCheckboxes({
                name: "right_to_appointment_and_remove",
                fieldset: {
                legend: {
                    text: translationText.ownershipOfRightToAppointOrRemove,
                    classes: "govuk-fieldset__legend--m"
                }
                },
                hint: {
                    text: translationText.selectOwnershipHint
                },
                items: [
                    {
                        value: "true",
                        text: ownershipCheckboxText,
                        checked: natureOfControl.right_to_appointment_and_remove
                    }
                ]
            }) }}


            {{ govukCheckboxes({
                name: "significant_influence_control",
                fieldset: {
                legend: {
                    text: translationText.sigInfluenceOrControl,
                    classes: "govuk-fieldset__legend--m"
                }
                },
                hint: {
                    text: translationText.selectSigInfluenceHint
                },
                items: [
                    {
                        value: "true",
                        text: sigInfluenceCheckboxText,
                        checked: natureOfControl.significant_influence_control
                    }
                ],
                errorMessage: {
                    text: props.errors.significant_influence_control.message
                } if props.errors.significant_influence_control
            }) }}

            {% include "includes/public-register-information.njk" %}

            {% include "includes/save-and-continue-button.njk" %}
        </form>

    </div>
</div>
