{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set selectedValue = currentValue or "" %}
{% set translationText = i18n.personWithSignificantControl.addNatureOfControlPage %}

<h2 class="govuk-heading-m">{{ translationText.shareOfAssets }}</h2>
<p class="govuk-body">{{ shareOfAssetsHint }}</p>

{{ govukRadios({
  name: "share_of_assets",
  items: [
    {
        value: "share_of_assets_25_to_50",
        text: translationText.moreThan25LessThan50,
        checked: selectedValue == "share_of_assets_25_to_50"
    },
    {
        value: "share_of_assets_50_to_75",
        text: translationText.moreThan50LessThan75,
        checked: selectedValue == "share_of_assets_50_to_75"
    },
    {
        value: "share_of_assets_75_to_100",
        text: translationText.moreThan75,
        checked: selectedValue == "share_of_assets_75_to_100"
    },
    {
        value: "share_of_assets_does_not_apply",
        text: translationText.doesNotApply,
        checked: selectedValue == "share_of_assets_does_not_apply"
    }
  ]
}) }}

<h2 class="govuk-heading-m">{{ translationText.votingRights }}</h2>
<p class="govuk-body">{{ votingRightsHint }}</p>

{{ govukRadios({
  name: "voting_rights",
  items: [
    {
        value: "voting_rights_25_to_50",
        text: translationText.moreThan25LessThan50,
        checked: selectedValue == "voting_rights_25_to_50"
    },
    {
        value: "voting_rights_50_to_75",
        text: translationText.moreThan50LessThan75,
        checked: selectedValue == "voting_rights_50_to_75"
    },
    {
        value: "voting_rights_75_to_100",
        text: translationText.moreThan75,
        checked: selectedValue == "voting_rights_75_to_100"
    },
    {
        value: "voting_rights_does_not_apply",
        text: translationText.doesNotApply,
        checked: selectedValue == "voting_rights_does_not_apply"
    }
  ]
}) }}

{{ govukCheckboxes({
    name: "right_to_appointment_and_remove",
    fieldset: {
    legend: {
        text: translationText.ownershipOfRightToAppointOrRemove,
        classes: "govuk-fieldset__legend--m"
    }
    },
    hint: {
        text: translationText.selectOwnershipHint
    },
    items: [
    {
        value: "true",
        text: translationText.individual.ownershipCheckboxText
    }
    ]
}) }}


{{ govukCheckboxes({
    name: "significant_influence_control",
    fieldset: {
    legend: {
        text: translationText.sigInfluenceOrControl,
        classes: "govuk-fieldset__legend--m"
    }
    },
    hint: {
        text: translationText.selectSigInfluenceHint
    },
    items: [
    {
        value: "true",
        text: translationText.individual.sigInfluenceCheckboxText
    }
    ]
}) }}