
<style>
  
  @media print {

    /* To test the styles */

    /* Chrome:
      1. Select "View > Developer > Developer Tools"
      2. From the kebab menu (three dots) choose "More tools > Rendering"
      3. Scroll to the bottom of the list, find "Emulate CSS media type" and choose "Print" */

    /* Set spacing around main part of page */
    .govuk-main-wrapper {
      padding-top: 30px;
      padding-bottom: 0;
    }

    /* Remove the cookie banner */
    .govuk-cookie-banner {
      display: none;
    }

    /* Remove the alpha/beta/live phase banner */
    .govuk-phase-banner {
      display: none;
    }

    /* Remove the language selection */
    .govuk-language-select {
      display: none;
    }

    /* Remove the user banner */
    #user-banner {
      display: none !important;
    }

    /* Override body style setting the page margin to 0 */
    body {
      margin: 0;
    }

    /* Remove the page heading */
    h1 {
      display: none !important;
    }

    /* Override body, headers h2, h3, and, h4 (h1 is removed) and p styles setting their colour and background colours
      We are setting the font colour to be black and the background colour on which it sits to be white */
    body, h2, h3, h4, p {
      color: #000;
      background-color: #fff;
    }

    /* Remove the action segment from the end of each summary-list row */
    .govuk-summary-list__actions {
      display: none;
    }

    /* Remove horizontal lines between each row */
    .govuk-summary-list__row {
      border-bottom: none;
    }

    /* Remove change links */
    .govuk-link {
      display: none;
    }

    /* Set a specific class of the h2 element to a new font size */
    h2.govuk-heading-l {
      font-size: 20pt;
    }

    /* Set a specific class of both the h3 and h4 elements to a new font size */
    h3.govuk-heading-m, h4.govuk-heading-s {
      font-size: 18pt;
    }

    /* Font size adjustments for 'Check your answers' specific classes brought into line with
      parpagraph and list elements so as they become the same size */
    dt.govuk-summary-list_key, dd.govuk-summary-list_value, p, li {
      font-size: 13pt;
    }

    /* Remove any buttons */
    .govuk-button {
      display: none;
    }

    /* Hide any elements with class hide-on-print */
    .hide-on-print {
      display: none !important;
    }

    /* Set the content of the main div to 100%
      (it looks better with respect to section breaks, etc., but doesn't necessarily force the content to be 100% width) */
    div.govuk-grid-column-two-thirds-from-desktop {
      width: 100%;
    }

    /* Remove the grey GOVUK footer, along with the content held within it */
    footer.govuk-footer, div.govuk-footer__meta {
      display: none;
    }

  }

</style>
