{{ govukInput({
    label: {
        text: legalEntityName,
        classes: "govuk-label govuk-label--m",
        isPageHeading: true
    },
    id: "legal_entity_name",
    name: "legal_entity_name",
    value: props.data.personWithSignificantControl.data.legal_entity_name,
    errorMessage: props.errors.legal_entity_name if props.errors,
    attributes : {
        required: true
    }
}) }}

{{ govukInput({
    label: {
        text: translation.legalFormOrCorporateIdentity,
        classes: "govuk-label govuk-label--m"
    },
    hint: {
        text: translation.legalFormOrCorporateIdentityHint
    },
    id: "legal_form",
    name: "legal_form",
    value: props.data.personWithSignificantControl.data.legal_form,
    errorMessage: props.errors.legal_form if props.errors,
    attributes : {
        required: true
    }
}) }}

{{ govukInput({
    label: {
        text: translation.governingLaw,
        classes: "govuk-label govuk-label--m"
    },
    hint: {
        text: translation.governingLawHint
    },
    id: "governing_law",
    name: "governing_law",
    value: props.data.personWithSignificantControl.data.governing_law,
    errorMessage: props.errors.governing_law if props.errors,
    attributes : {
        required: true
    }
}) }}
