{% set dateChangeUrl = "when-did-the-partnership-name-change"  %}

{% set fullName = (props.data.limitedPartnership.data.partnership_name | upper) + " " + (props.data.limitedPartnership.data.name_ending | upper) %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: i18n.checkYourAnswersPage.headingName
            },
            value: {
                text: fullName
            },
            actions: {
            items: [
                    CREATE_CHANGE_LINK(
                    i18n.checkYourAnswersPage.change,
                    (props.currentUrl | replace(props.pageType, "partnership-name")),
                    partnership_name,
                    "change-partnership-name-button"
                    )
                ]
            }
        },
        
        SET_DATE_OF_UPDATE_SECTION(props, i18n, dateChangeUrl)
    ]
}) }}  