{% set dateChangeUrl = "when-did-the-limited-partner-person-cease"  %}

{% if props.data.partner.data.legal_entity_name %}
    {% set dateChangeUrl = "when-did-the-limited-partner-legal-entity-cease" %}
{% endif %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        SET_CEASE_DATE_SECTION(props, "limitedPartner", i18n, dateChangeUrl)
    ]
}) }}
