{% import 'includes/macros.njk' as macros %}

{% set dateChangeUrl = "when-did-the-term-change"  %}

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-7",
    rows: [
        {
            key: {
                text: i18n.checkYourAnswersPage.headingTerm
            },
            value: {
                text: macros.mapTerm(props.data.limitedPartnership.data.term, i18n)
            },
            actions: {
            items: [
                    CREATE_CHANGE_LINK(
                    i18n.checkYourAnswersPage.change,
                    (currentUrl | replace(props.pageType, "term")),
                    term,
                    "change-term-button"
                    )
                ]
            }
        },
        
        SET_DATE_OF_UPDATE_SECTION(props, i18n, dateChangeUrl)
    ]
}) }}  